<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>{{ TITLE }}</title>
    <meta name="verify-v1" content="+M9zz/aMUx+EA5gB7WNjjsPdMiFiv0ZAyPHHjS60JpE=" />
    <link rel="shortcut icon" href="/static/favicon.ico" type="image/x-icon" />
    {{ HEAD }}
<!--[if IE]>
<style>
  ul
  {
      margin-left:1.5em;
      padding-left:0;
  }
  ol
  {
      margin-left:2em;
      padding-left:0;
  }
  @media print
  {
      img.userContentCellBackground { display: none; }
  }
  </style>
<![endif]-->
{{ STYLES }}
</head>
