<style type="text/css">
<!--
body {
	font-size: 11px;
	font-family: Verdana, Geneva, sans-serif;
	/*
	background: transparent url(/static/images/wallpaper.jpg) center no-repeat fixed;
	*/
	background-color:white;
	margin: 0; 
	padding: 0;
	text-align: center;
	color: blue;
}
.oneColElsCtrHdr #container {
	width: 800px;
	background: white;
	margin: 0 auto;
	/*border: 1px solid #000000;*/
	text-align: left;
}
.oneColElsCtrHdr #header { 
	background: white; 
	padding: 0 10px 0 20px;
} 
.oneColElsCtrHdr #header h1 {
	margin: 0; 
	padding: 10px 0;
}
.oneColElsCtrHdr #mainContent {
	padding: 0 20px;
	background-color:white;
}
.oneColElsCtrHdr #footer { 
	padding: 0 10px;
	background: white;
} 
.oneColElsCtrHdr #footer p {
	margin: 0; 
	padding: 10px 0;
}
-->
</style>
