{{ HEAD }}
<body class="oneColElsCtrHdr">
{{ xPAGEFLIP }}
{{ RIBBON_BANNER }}
<div id="container">
	<div id="header">
    	<table width="100%"><tr><td align="left"><div id="div_header_content"></div>
<noscript>
    <a id="banner" href="http://www.vyperlogix.com" title="Experience the 21st Century with Vyper Logix powered Python &amp; Django Agile Development." target="_top"><img src="/static/vista/Header-with-url.jpg" border="0" /></a>
</noscript>
        </td></tr><tr><td align="right">{{ MENU }}</td></tr><tr><td align="right">{{ SALUTATION }}</td></tr></table>
	</div>
	<div id="mainContent">
    	{{ INNER_CONTENT }}
	</div>
	<div id="footer">
    	{{ FOOTER }}
	</div>
</div>
{{ GOOGLE_ANALYTICS }}
</body>
</html>
