<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html><head>

	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<title>{{ the_title }} {{ current_date }}</title>
	<link rel="stylesheet" type="text/css" href="http://media.vyperlogix.com/media/site_layout.css">
	<link rel="stylesheet" type="text/css" href="http://media.vyperlogix.com/media/body_styling.css">
	<!--[if IE]>
		<link rel="stylesheet" type="text/css" href="http://media.vyperlogix.com/media/ie_fixes.css">
	<![endif]-->
	<link rel="icon" href="http://media.pyeggs.com/favicon.ico" type="image/gif">
	<link rel="shortcut icon" href="http://media.pyeggs.com/favicon.ico" type="image/gif">
	
	<link type="text/css" rel="stylesheet" href="http://media.vyperlogix.com/media/default.css">
	<!--[if IE]>
		<link rel="stylesheet" type="text/css" href="http://media.vyperlogix.com/media/ie_fixes.css">
	<![endif]-->

	{{ head }}
</head><body>
	<div id="site_container">
		<div class="basic_info">
			<a href="http://www.vyperlogix.com">Vyper Logix Corp, Makers of Premier Python-based Products™</a> |
			<a href="mailto:support@vyperlogix.com">support@vyperlogix.com</a>
		</div>
			
	  <div id="site_body">
			
	<iframe src="/tabs/0" scrolling="auto" frameborder="0" height="100" width="100%" name="tabs_content"></iframe>
	<div class="content">
		{{ content }}
	</div>
		</div>
<div id="site_footer">
			
				<div class="holder">
		<div class="block first">
			<h6>About</h6>
			<p>This Resource Site has it all.</p>
		</div>

		<div class="legal block">
			<h6>Legal</h6>
			<p>"Vyper Logix" is a trademark of <a href="http://www.vyperlogix.com/" target="_blank">Vyper Logix Corp</a>.
		  All rights reserved.</p>
			<p>Everything on this website is copyright © <a href="http://www.vyperlogix.com/" target="_blank">Vyper Logix Corp</a>, unless explicitly stated otherwise.</p>
		</div>

		<div class="contact block last">
			<h6>Contact</h6>
			<p>Vyper Logix Corp, Makers of Premier Python-based Products™, specializes in offering top of
		  the line Python products and services to high profile clients.</p>
			
			<p>For business inquiries, you can contact us via
			<a href="mailto:support@vyperlogix.com">support@vyperlogix.com</a></p>
		</div>
	</div>

		</div>
	</div>
</body></html>