<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
	<link rel="stylesheet" type="text/css" href="http://media.vyperlogix.com/media/site_layout.css">
	<link rel="stylesheet" type="text/css" href="http://media.vyperlogix.com/media/body_styling.css">
	<!--[if IE]>
		<link rel="stylesheet" type="text/css" href="http://media.vyperlogix.com/media/ie_fixes.css">
	<![endif]-->
	<link rel="icon" href="http://media.pyeggs.com/favicon.ico" type="image/gif">
	<link rel="shortcut icon" href="http://media.pyeggs.com/favicon.ico" type="image/gif">
	
	<link type="text/css" rel="stylesheet" href="http://media.vyperlogix.com/media/default.css">
	<!--[if IE]>
		<link rel="stylesheet" type="text/css" href="http://media.vyperlogix.com/media/ie_fixes.css">
	<![endif]--><head>
<title>Dynamic Drive DHTML Scripts- DD Tab Menu Demos</title>

<script type="text/javascript" src="http://media.vyperlogix.com/ddtabmenu/ddtabmenu.js">

/***********************************************
* DD Tab Menu script- © Dynamic Drive DHTML code library (www.dynamicdrive.com)
* This notice MUST stay intact for legal use
* Visit Dynamic Drive at http://www.dynamicdrive.com/ for full source code
***********************************************/

</script>

<!-- CSS for Tab Menu #1 -->
<link rel="stylesheet" type="text/css" href="http://media.vyperlogix.com/ddtabmenu/ddtabmenu.css" />

<!-- CSS for Tab Menu #2 -->
<link rel="stylesheet" type="text/css" href="http://media.vyperlogix.com/ddtabmenu/glowtabs.css" />

<!-- CSS for Tab Menu #3 -->
<link rel="stylesheet" type="text/css" href="http://media.vyperlogix.com/ddtabmenu/solidblocksmenu.css" />

<!-- CSS for Tab Menu #4 -->
<link rel="stylesheet" type="text/css" href="http://media.vyperlogix.com/ddtabmenu/ddcolortabs.css" />

<!-- CSS for Tab Menu #5 -->
<link rel="stylesheet" type="text/css" href="http://media.vyperlogix.com/ddtabmenu/chromemenu.css" />

<script type="text/javascript">
//SYNTAX: ddtabmenu.definemenu("tab_menu_id", integer OR "auto")
ddtabmenu.definemenu("ddtabs3", {{ id }})
</script>

<body bgcolor="#000000" style="color: #FFFF00">

<div id="ddtabs3" class="solidblockmenu">
<ul>
<li><a href="/" rel="sb1" target="_top">Home</a></li>
<li><a href="http://www.pypi.info/" rel="sb2" target="_blank">Blog</a></li>
<li><a href="/about" rel="sb3" target="_top">About</a></li>
<li><a href="http://library.vyperlogix.com" rel="sb5" target="_blank">VyperLogixLib-1.0-py2.5.egg&trade; Docs</a></li>
</ul>
</div>

<DIV class="tabcontainer ieclass">

<div id="sb1" class="tabcontent">
"Vyper Logix Corp specializes in building products and systems based entirely on the Python Language."
</div>

<div id="sb2" class="tabcontent">
Visit your <u>Py</u>thon <u>P</u>remier <u>I</u>nformation&trade; site.
</div>

<div id="sb3" class="tabcontent">
For the time being, we specialize in providing services and solutions related to the Python&trade; Language. Our products, pyEggs&trade; and PDFxporter&trade; are excellent examples of what we are capable of. 
</div>

<div id="sb5" class="tabcontent">
100% Reusable Python Code Library.
</div>

</DIV>
</body>

</html>
