<table width=100%>
	<tr>
		<td>
			<table>
				<tr>
					<td>
						<img src={{ MEDIA_URL }}new/images/step1-button.jpg>
					</td>
					<td>
						First, <a href=/upload-zip/>upload your ZIP</a> file that contains the source for your Egg.  This does not have to be an Egg but it does need to be a ZIP file that contains the files that will be inside your Egg.
						<br/>
						Once we make your ZIP into an Egg the Egg we give back to you will use the same folder structure as was present in the original ZIP file you uploaded.
					</td>
				</tr>
			</table>
		</td>
	</tr>
</table>
