<br/><br/><br/>
<div style="color: black; width: 400px; margin-left: 20px;">
    <h2 class="first_content_element">About Vyper Logix Corp</h2>
    
    Vyper Logix Corp is the Premier provider of Python based software products. Our mission:
    <blockquote><div><em>We build the highest quality software at the lowerst possible cost to our customers.</em></div></blockquote>
    
    <p>
    We thoroughly enjoy the process of delivering superb products and services to our customers. Innovation and dedication to quality sets us apart from every other company on the planet.  We are able to understand your unique problems using our unique way of looking at things and then produce working solutions other cannot begin to handle using less time or money. It is our ability to produce solution quickly and efficiently that sets us apart from the rest of the pack.  In today's economy the most important thing is to save you time and money.
    </p>
    
    <h2>What makes Vyper Logix Corp your #1 choice ?</h2>
    <p>
    We will not waste your time and we will certainly not waste your money.  We cut to the chase, so to speak, and provide you with the solutions you require. 
    </p>
    <p>
    How can we do this when others cannot ? 
    </p>
    <p>
    We use the latest Agile Software Development Techniques.  We leverage code reuse.  We never write any code we do not absolutely have to write.  We leverage the most powerful language known to mankind and then we add the value of our massive software development expertise to create powerful software solutions.
    </p>
    <p>
    For a small sample of what we can do for you, take a look at&nbsp;
    <a href="http://www.python.org/" target="_blank">Python™ Language</a>. Our products,
    <a href="http://www.pyeggs.com/" target="_blank">pyEggs™</a> and <a href="http://www.pdfxporter.com/" target="_blank">PDFxporter™</a> 
    .
    </p>
    
    <h2>Our approach to business, Our Customers</h2>
    Our approach to business:
    <dl>
    <dt>Serving top-notch customers</dt>
    <dd>
        We focus on quality but we do so quickly and efficiently.
    </dd>
    
    <dt>Proprietary Solutions</dt>
    <dd>
        We produce solutions others cannot begin to conceive.
    </dd>
    </dl>
    
    <h2>Contact</h2>
    <p class="last_content_element">
    Contact us via <a href="mailto:support@vyperlogix.com">support@vyperlogix.com</a>.
    </p>
</div>
<br/><br/><br/>
