<style type="text/css">
#testimonials li {
    height: 40px;
}
</style>
<ul id="testimonials">
	<li class="quote">
		<blockquote><div>“pyEggs™ makes it possible to deploy Python code with confidence without the need to expose your valuable source code to your competition.”</div></blockquote>
	</li>
	<li class="quote">
		<blockquote><div>pyEggs™ give you the ability to leverage powerful 2048 bit Blowfish Encryption to secure your valuable source code.</div></blockquote>
		<cite>You can choose who you want to see your source code based on a wide variety of criteria.</cite>
	</li>
	<li class="quote">
		<blockquote><div>pyEggs™ give you the ability to tailor who can see your Python code.</div></blockquote>
		<cite>Each download can be compiled using a different set of Symmetrical Keys.</cite>
	</li>
	<li class="quote">
		<blockquote><div>While pyEggs™ is under development you can salivate over what YOU can do with Secure Encrypted Python Eggs... No more worries about whether or not your Source code will be used by your competitors.</div></blockquote>
		<cite>pyEggs™ will be made available for downloads shortly... Please return to check on our development progress often.</cite>
	</li>
</ul>
