body {margin:0;padding:0;font:normal 12px/15px arial,sans-serif;text-align:center;}
a:link {color: #0066CC}     /* unvisited link */
a:visited {color: #663366}  /* visited link */
a:hover {color: #0066CC}   /* mouse over link */
a:active {color: #0066CC}   /* selected link */
img {border:0;}

h1 {padding:0;margin:0;font:bold 20px/20px arial,sans-serif;}
h2 {padding:0;margin:0;font:bold 16px/16px arial,sans-serif;}
h3 {padding:0;margin:0;font:bold 14px/14px arial,sans-serif;}
h4 {padding:0;margin:0;font:bold 12px/12px arial,sans-serif;}
h5 {padding:0;margin:0;font:normal 12px/12px arial,sans-serif;}
h6 {padding:0;margin:0;font:normal 11px/11px arial,sans-serif;}


.display_header{padding:0;margin:0;font:bold 12px/12px arial,sans-serif;vertical-align:top;}
.report_header_left{padding:0;margin:0;font:bold 12px/12px arial,sans-serif;text-align:left;}
p {padding:0;margin:0 0 10px 0;}
td {font:normal 12px/15px arial;vertical-align:top;}
ul {list-style-position:outside;list-style-type:square;padding:0 10px 0 15px;margin:0 0 20px 0;}
ul li {padding:0;margin:0 0 5px 0;}
form {margin:0;padding:0;}
fieldset {margin:0;padding:0;border:0;}

.small_text {font-size:11px;line-height:14px;}
table.clean {width:100%;}
table.clean td {border:0;padding-top:0;padding-bottom:0;}

#page {margin:0 auto;padding:0;width:760px;text-align:left;background:#fff;} 

#lc {float:left;width:170px;} 
#lc div.pad {float:left;padding:0 10px 0 10px;} 

#rc {float:left;width:580px;margin-right:10px;}

#rc .lc {float:left;width:285px;margin-right:10px;}
#rc .rc {float:left;width:285px;}

#rc .lc_420 {float:left;width:420px;margin-right:10px;}
#rc .rc_150 {float:left;width:150px;}

#rc .lc_365 {float:left;width:365px;margin-right:10px;}
#rc .rc_205 {float:left;width:205px;}

#rc .rc .lc {float:left;width:100px;padding:0;margin:0;text-align:center;}
#rc .rc .rc {float:left;width:165px;padding:0;margin:0;}

.clr {clear:both;}
.fixer_10 {clear:both;overflow:hidden;width:auto;height:10px;}
.fixer_20 {clear:both;overflow:hidden;width:auto;height:20px;}
.hidden {position:absolute;left:-1000em;}
.visible {position:static;left:0;}

/* a few general styles */
.wrap355px {width:355px;}/*wrapper class only for display purposes*/
.wrap300px {width:300px;}/*wrapper class only for display purposes*/

/* ELEMENTS */

/* input buttons */
button, button span, button span span, button span span span {display:inline;float:left;padding:0;margin:0;border:0;width:auto;height:auto;line-height:21px;cursor:pointer;color:#fff;font-weight:bold;text-decoration:none;font-family:arial;overflow:visible;}
button {background:transparent;}
button span {padding-left:10px;padding-right:0px;}
button span span {padding-left:0px;padding-right:10px;}
button span span span {padding-left:0px;padding-right:0px;}
button.input_primary span {background:url(../images/input_buttons/red_button_left.gif) transparent no-repeat top left;}
button.input_primary span span {background:url(../images/input_buttons/red_button_right.gif) transparent no-repeat top right;}
button.input_primary span span span {background:url(../images/input_buttons/red_button_1px.gif) #DA0000 repeat-x;}
button.input_secondary span {background:url(../images/input_buttons/black_button_left.gif) transparent no-repeat top left;}
button.input_secondary span span {background:url(../images/input_buttons/black_button_right.gif) transparent no-repeat top right;}
button.input_secondary span span span {background:url(../images/input_buttons/black_button_1px.gif) #000000 repeat-x;}
button.input_interface span {padding-left:5px;padding-right:0px;background:url(../images/input_buttons/big_gray_button_left.gif) transparent no-repeat top left;}
button.input_interface span span {padding-left:0px;padding-right:5px;background:url(../images/input_buttons/big_gray_button_right.gif) transparent no-repeat top right;}
button.input_interface span span span {padding-left:5px;background:url(../images/input_buttons/big_gray_button_1px.gif) #CFCFCF repeat-x;color:#000;}
button.input_interface_sm span {padding-left:5px;padding-right:0px;background:url(../images/input_buttons/small_gray_button_left.gif) transparent no-repeat top left;}
button.input_interface_sm span span {padding-left:0px;padding-right:5px;background:url(../images/input_buttons/small_gray_button_right.gif) transparent no-repeat top right;}
button.input_interface_sm span span span {padding-left:5px;background:url(../images/input_buttons/small_gray_button_1px.gif) #CFCFCF repeat-x;color:#000;font-size:11px;line-height:18px;}
button.input_disabled {-moz-opacity:0.5;filter:alpha(opacity=50);opacity:0.5;}

div.input_primary, div.input_primary div, div.input_primary div div {cursor:pointer;color:#fff;font-weight:bold;line-height:21px;}
div.input_primary {float:left;background:url(../images/input_buttons/red_button_left.gif) transparent no-repeat top left;padding-left:10px;}
div.input_primary div {background:url(../images/input_buttons/red_button_right.gif) transparent no-repeat top right;padding-right:10px;}
div.input_primary div div {background:url(../images/input_buttons/red_button_1px.gif) #DA0000 repeat-x;padding:0;}
div.input_secondary, div.input_secondary div, div.input_secondary div div {cursor:pointer;color:#fff;font-weight:bold;line-height:21px;}
div.input_secondary {float:left;background:url(../images/input_buttons/black_button_left.gif) transparent no-repeat top left;padding-left:10px;}
div.input_secondary div {background:url(../images/input_buttons/black_button_right.gif) transparent no-repeat top right;padding-right:10px;}
div.input_secondary div div {background:url(../images/input_buttons/black_button_1px.gif) #000000 repeat-x;padding:0;}
div.input_interface, div.input_interface div, div.input_interface div div {cursor:pointer;color:#000;font-weight:bold;line-height:21px;}
div.input_interface {float:left;background:url(../images/input_buttons/big_gray_button_left.gif) transparent no-repeat top left;padding-left:5px;}
div.input_interface div {background:url(../images/input_buttons/big_gray_button_right.gif) transparent no-repeat top right;padding-right:5px;}
div.input_interface div div {background:url(../images/input_buttons/big_gray_button_1px.gif) #CFCFCF repeat-x;padding:0;}
div.input_interface_sm, div.input_interface_sm div, div.input_interface_sm div div {cursor:pointer;color:#000;font-weight:bold;font-size:11px;line-height:18px;}
div.input_interface_sm {float:left;background:url(../images/input_buttons/small_gray_button_left.gif) transparent no-repeat top left;padding-left:5px;}
div.input_interface_sm div {background:url(../images/input_buttons/small_gray_button_right.gif) transparent no-repeat top right;padding-right:5px;}
div.input_interface_sm div div {background:url(../images/input_buttons/small_gray_button_1px.gif) #CFCFCF repeat-x;padding:0;}
div.input_disabled {-moz-opacity:0.5;filter:alpha(opacity=50);opacity:0.5;}
/* call to action buttons */
button, button span, button span span, button span span span {display:inline;float:left;padding:0;margin:0;border:0;width:auto;height:auto;line-height:21px;cursor:pointer;color:#fff;font-weight:bold;text-decoration:none;overflow:visible;}
button {background:transparent;}
button span {padding-left:10px;padding-right:0px;}
button span span {padding-left:0px;padding-right:10px;}
button span span span {padding-left:0px;padding-right:0px;}
button.cta_primary span {background:url(../images/cta_buttons/red_button_left.gif) transparent no-repeat top left;}
button.cta_primary span span {background:url(../images/cta_buttons/red_button_right.gif) transparent no-repeat top right;}
button.cta_primary span span span {background:url(../images/cta_buttons/red_button_1px.gif) #DA0000 repeat-x;}

div.cta_primary, div.cta_primary div, div.cta_primary div div {cursor:pointer;color:#fff;font-weight:bold;line-height:21px;}
div.cta_primary {float:left;background:url(../images/cta_buttons/red_button_left.gif) transparent no-repeat top left;padding-left:10px;}
div.cta_primary div {background:url(../images/cta_buttons/red_button_right.gif) transparent no-repeat top right;padding-right:10px;}
div.cta_primary div div {background:url(../images/cta_buttons/red_button_1px.gif) #DA0000 repeat-x;padding:0;}

/* close buttons */
.close_primary {cursor:pointer;background:url(../images/close_button/close_button.png) transparent no-repeat right;padding: 0 20px 1px 0;}

/* directional buttons */
.dir_anchor {background:url(../images/dir_buttons/down_button.png) transparent no-repeat top left;padding: 0 0 0 20px;display:block;}
.dir_top {background:url(../images/dir_buttons/up_button.png) transparent no-repeat top left;padding: 0 0 0 20px;display:block;}

/* expand/collapse buttons */
.expand_button {background:url(../images/exp_coll_buttons/plus_button.png) transparent no-repeat top left;padding: 0 0 0 20px;}
.collapse_button {background:url(../images/exp_coll_buttons/minus_button.png) transparent no-repeat top left;padding: 0 0 0 20px;}

/* playback buttons */
.playback_wrapper {float:left;margin:10px;}/*wrapper only for display purposes*/
.playback_previous {float:left;width:26px;height:29px;background:url(../images/playback_buttons/previous_button.gif) transparent no-repeat left;margin-right:1px;}
.playback_previous_on {float:left;width:26px;height:29px;background:url(../images/playback_buttons/previous_button_on.gif) transparent no-repeat left;margin-right:1px;}
.playback_pause {float:left;width:24px;height:29px;background:url(../images/playback_buttons/pause_button.gif) transparent no-repeat left;margin-right:1px;}
.playback_pause_on {float:left;width:24px;height:29px;background:url(../images/playback_buttons/pause_button_on.gif) transparent no-repeat left;margin-right:1px;}
.playback_play {float:left;width:24px;height:29px;background:url(../images/playback_buttons/play_button.gif) transparent no-repeat left;margin-right:1px;}
.playback_play_on {float:left;width:24px;height:29px;background:url(../images/playback_buttons/play_button_on.gif) transparent no-repeat left;margin-right:1px;}
.playback_next {float:left;width:26px;height:29px;background:url(../images/playback_buttons/next_button.gif) transparent no-repeat right;}
.playback_next_on {float:left;width:26px;height:29px;background:url(../images/playback_buttons/next_button_on.gif) transparent no-repeat right;}

/* linked lists */
.linked_list {list-style-position:outside;list-style-type:none;padding:0 10px 0 0;margin:5px 0 20px 0;}
.linked_list li {padding:0;margin:7px 0 5px 0;list-style-type:none;}

/* emphasized links */
.emphasized_link {background:url(../images/emph_links/left_link.gif) transparent no-repeat left;padding-left:10px;font-weight:bold;}
.emphasized_link_small {background:url(../images/emph_links/left_link.gif) transparent no-repeat left;padding-left:10px;}

/* bulleted lists */
.indent_list {list-style-position:outside;list-style-type:square;padding:0 10px 0 25px;margin:20px 0 20px 30px;}
.indent_list li {padding:0;margin:0 0 5px 0;list-style-position:outside;list-style-type:square;}

/* headers & subheaders */
h2.head_subhead, h2.head_subhead span, h2.head_subhead span span, h2.head_subhead span span a {display:block;margin:0px;padding:0px;color:#fff;font-weight:bold;font-size:14px;line-height:25px;}

h2.head_subhead {background:transparent url(../images/headers_subheaders/png/header_red_left.png) no-repeat left top;padding:0 0 0 10px;}
h2.head_subhead span {background:transparent url(../images/headers_subheaders/png/header_red_right.png) no-repeat right top;padding:0 10px 0 0;}
h2.head_subhead span span {background:#cd0000 url(../images/headers_subheaders/png/header_red_1px.png) repeat-x;}
h2.head_subhead span span a {background:transparent url(../images/headers_subheaders/png/header_red_carat.png) no-repeat left;padding-left:10px;text-decoration:underline;}

div.head_subhead_text {background:#ccc url(../images/headers_subheaders/border_gradient_1x40.gif) repeat-x bottom left;color:#000;}
div.head_subhead_text div {background:#fff;padding:5px 4px 0 4px;margin:0 1px 0 1px;}

/* required widget: tables */
h2.head_tblhead, h2.head_tblhead span, h2.head_tblhead span span {display:block;margin:0;padding:0;color:#000;font-weight:bold;font-size:14px;line-height:25px;}

h2.head_tblhead {background:transparent url(../images/headers_subheaders/png/gray_header_left.png) no-repeat left top;padding:0 0 0 10px;}
h2.head_tblhead span {background:transparent url(../images/headers_subheaders/png/gray_header_right.png) no-repeat right top;padding:0 10px 0 0;}
h2.head_tblhead span span {background:#e3e3e3 url(../images/headers_subheaders/png/gray_1px.png) repeat-x;}

h2.head_colhead, h2.head_colhead span, h2.head_colhead span span {display:block;margin:0px;padding:0px;color:#000;font-size:12px;font-weight:bold;line-height:25px;}

h2.head_colhead {background:transparent url(../images/headers_subheaders/png/gray_header_left.png) no-repeat left top;padding:0 0 0 10px;}
h2.head_colhead span {background:transparent url(../images/headers_subheaders/png/gray_header_right.png) no-repeat right top;padding:0 10px 0 0;}
h2.head_colhead span span {background:#e3e3e3 url(../images/headers_subheaders/png/gray_1px.png) repeat-x;}

div.head_colhead_text {background:#ccc url(../images/headers_subheaders/border_gradient_1x40.gif) repeat-x bottom left;color:#000;}
div.head_colhead_text div {background:#fff; padding:10px 9px 0 9px; margin:0 1px 0 1px;}


/* WIDGETS */

/* layers */
/* elements required: close button */
div.layer {position:fixed;top:150px;left:-1000em;z-index:100001;}
div.layer h3, div.layer h3 span, div.layer h3 span span, div.layer h3 span span span {display:block;margin:0;padding:0;color:#000;font-size:13px;font-weight:bold;height:24px;line-height:24px;text-align:left;}
div.layer h3 {width:100%;}
div.layer h3 span {background:transparent url(../images/headers_subheaders/png/gray_header_left.png) no-repeat left top;padding:0 0 0 10px;}
div.layer h3 span span {background:transparent url(../images/headers_subheaders/png/gray_header_right.png) no-repeat right top;padding:0 10px 0 0;}
div.layer h3 span span span {position:relative;background:#e3e3e3 url(../images/headers_subheaders/png/gray_1px.png) repeat-x;}
div.layer h3 span span span span {position:absolute;left:0;background:none;}
div.layer a.close_primary {position:absolute;right:0;color:#0066CC;font-size:11px;font-weight:normal;text-decoration:underline;}

div.layer div.bl, div.layer div.br, div.layer div.bm {padding:0;margin:0;line-height:20px;text-align:right;}
div.layer div.bl {background:url(../images/layers/bottom_left.gif) no-repeat left top;padding:0 0 0 10px;}
div.layer div.br {background:url(../images/layers/bottom_right.gif) no-repeat right top;padding:0 10px 0 0;}
div.layer div.bm {background:url(../images/layers/bottom_1px.gif) repeat-x;}

div.layer div.layer_content {padding:15px 20px 0 20px;background:#fff;}
div.layer div.layer_content p {margin:0;padding:0 0 10px 0;}

div.layer div.rule {clear:both;height:1px;overflow:hidden;background:#ccc;}
div.layer div.rule_error {clear:both;height:2px;overflow:hidden;background:#f00;}

#overlay {position:absolute;top:0;left:0;background:#333;opacity: 0.6;filter: alpha(opacity=60);z-index:100000;display:none;}
a.launcher {cursor:pointer;}

/* tooltips */
div#tip_holder {position:absolute;top:0;background:url(../images/gn/s.gif);z-index:100;}
div.tooltip {cursor:pointer;}
div.tip {background:#fff;padding:9px 9px 14px 9px;position:absolute;left:-1000em;font:12px arial,sans-serif;}
div#tip_holder table#tip_table td img {display:block;}
div#tip_holder table#tip_table, div#tip_holder table#tip_table td {margin:0;padding:0;border-collapse:collapse;}
div#tt_arrow_down {overflow:hidden;position:absolute;visibility:hidden;height:20px;width:34px;bottom:0;background-position:bottom left;}
div#tt_arrow_up {overflow:hidden;position:absolute;visibility:hidden;height:20px;width:34px;top:0;background-position:bottom left;}

/* pagination */
div.pag_wrapper {clear:both;width:100%;}
div.pag_wrapper p {margin:0px;padding:0 0 5px 0;}
div.pag_wrapper a {color:#0066CC;}
#div#pag_top_nav {padding:0 10px 10px 10px;border-left:1px solid #c8c8c8;border-right:1px solid #c8c8c8;border-bottom:1px solid #c8c8c8;margin-bottom:10px;background:url(../images/pagination/pagination_top_1px_long.gif) repeat-x;}
div#pag_top_nav {padding:0 10px 10px 10px;border-left:1px solid #c8c8c8;border-right:1px solid #c8c8c8;border-bottom:1px solid #c8c8c8;margin-bottom:10px; repeat-x;}
div#pag_top_nav span.gray {color:#999;}
div#pag_top_nav div.pages {float:right;}
div#pag_top_nav div.pages a.left {background:url(../images/pagination/left_button_small.png) transparent no-repeat top left;padding: 0 0 0 20px;}
div#pag_top_nav div.pages a.right {background:url(../images/pagination/right_button_small.png) transparent no-repeat top right;padding: 0 20px 0 0;}
div#pag_top_nav div.all {margin-left:15px;float:right;}
div#pag_top_nav div.results {padding:0 0 5px 0;}
div#pag_top_nav div.related {clear:right;border-top:1px dotted #c8c8c8;padding:5px 0 0 0;}
div#pag_top_nav div.related p.small {font:normal 11px arial;margin:0;padding:0;}

.left {background:url(../images/pagination/left_button_small.png) transparent no-repeat top left;padding: 0 0 0 23px;}
.right {background:url(../images/pagination/right_button_small.png) transparent no-repeat top right;padding: 0 23px 0 0;}

div#pag_bottom_nav {padding:10px 10px 10px 10px;margin-top:20px;border-left:1px solid #c8c8c8;border-right:1px solid #c8c8c8;border-top:1px solid #c8c8c8;background:url(../images/pagination/pagination_bottom_1px.gif) repeat-x;}
div#pag_bottom_nav span.gray {color:#999;}
div#pag_bottom_nav div.pages {float:right;}
div#pag_bottom_nav div.pages a.left {background:url(../images/pagination/left_button_small.png) transparent no-repeat top left;padding: 0 0 0 20px;}
div#pag_bottom_nav div.pages a.right {background:url(../images/pagination/right_button_small.png) transparent no-repeat top right;padding: 0 20px 0 0;}
div#pag_bottom_nav div.all {margin-left:15px;float:right;}
div#pag_bottom_nav br {clear:both;}

div.pag_top_cap {height:5px;background:url(../images/pagination/pagination_top_1x5px.gif) repeat-x;overflow:hidden;}
div.pag_top_cap div {height:5px;padding-left:5px;background:url(../images/pagination/pagination_top_left.gif) transparent no-repeat left;overflow:hidden;}
div.pag_top_cap div div {height:5px;padding-right:5px;background:url(../images/pagination/pagination_top_right.gif) transparent no-repeat right;overflow:hidden;}
div.pag_bottom_cap {height:5px;background:url(../images/pagination/pagination_bottom_1x5px.gif) repeat-x;}
div.pag_bottom_cap div {float:left;height:5px;background:url(../images/pagination/pagination_bottom_left.gif) transparent no-repeat left;}
div.pag_bottom_cap div div {float:right;height:5px;width:5px;background:url(../images/pagination/pagination_bottom_right.gif) transparent no-repeat right;}

/* breadcrumbs */
.breadcrumb {font-size:11px;color:#999;margin:10px 0 13px 0;}
.breadcrumb span {color:#666;}
.breadcrumb a {color:#0066CC;}

/* tables */
/* required element: headers & subheaders: head_tblhead */
.table_content {clear:left;width:100%;border-collapse:collapse;border:1px solid #cdcdcd;}
.table_content th {padding:5px 10px 5px 10px;}
.table_content td {padding:10px;border:1px solid #cdcdcd;}
.table_content th a {color:#FFF;}
.table_content th.on, td.on {background:#666666;color:#FFF;font-weight:bold;text-align:left;border:1px solid #cdcdcd;}
.table_content th.on a {background:url(../images/tables/table_arrow_on.gif) no-repeat right;font-weight:bold;padding-right:15px;}
.table_content th.off, td.off {background:#999999;color:#FFF;font-weight:bold;text-align:left;border:1px solid #cdcdcd;}
.table_content tr.table_content_light {background:#f2f2f2;}
.table_content tr.table_content_dark {background:#e5e5e5;}

/* Sort Column Highlighting Added by Rajneesh for Display Tag Tables*/
.table_content th.sorted {background:#666666;}
.table_content th.order1 a {background:url(../images/tables/table_arrow_up.gif) no-repeat right;padding-right:15px;text-decoration:none;}
.table_content th.order2 a {background:url(../images/tables/table_arrow_down.gif) no-repeat right;padding-right:15px;text-decoration:none;}


.table_content {clear:both;width:100%;border-collapse:collapse;}
.table_content th {padding:5px 10px 5px 10px;background:#999999;color:#fff;border:1px solid #cdcdcd;}
.table_content th a {color:#fff;}
.table_content th.active {background:#666666;}
.table_content td {padding:10px;border:1px solid #cdcdcd;}
.table_content tr.row_light {background:#f2f2f2;}
.table_content tr.row_dark {background:#e5e5e5;}
.table_content tr.odd {background:#f2f2f2;}
.table_content tr.even {background:#e5e5e5;}
.table_content tr.row_highlight {background:#ffffcc;}
.table_content tr.sub_col_heading {background:#b8b7b7;}
.table_content tr.sub_col_heading td {font-weight:bold;padding:5px 10px 5px 10px;} 
/* mapping controls */
table.map_pog td a, table.map_pog td a img {display:block;}
table.map_pog td {line-height:2px;}

/* search module */
/* required elements: input buttons - div */
div#search_module div.input_primary {float:left;}
div#search_module form {display:block;float:left;}
div#search_module form fieldset {display:block;float:left;border:0;}
div#search_module input {display:block;float:left;width:150px;margin-right:5px;}

div#search_module_subset div.input_secondary {float:left;}
div#search_module_subset form {display:block;float:left;}
div#search_module_subset form fieldset {display:block;float:left;border:0;}
div#search_module_subset input {display:block;float:left;width:150px;margin-right:5px;}

/* tabs */
.tab_holder {border-bottom:4px solid #DD1C00;float:left;width:100%;background:#807F7F url(../images/tabs/long_gray_bg.gif) no-repeat;}
.tab_holder .tab, .tab_holder .tab span, .tab_holder .tab span span, .tab_holder .tab span span span, .tab_holder .tab_active, .tab_holder .tab_active span, .tab_holder .tab_active span span, .tab_holder .tab_active span span span {display:block;float:left;font:bold 12px arial;color:#fff;cursor:pointer;line-height:30px;}
.tab_holder .tab span span span {padding:0 9px 0 10px;border-right:1px solid #666;line-height:25px;margin-top:5px;}

a.tab_active {text-decoration:none;}

.tab_holder .tab_active span {background:#DD1C00 url(../images/tabs/left_red.gif) no-repeat top left;padding:0 0 0 10px;}
.tab_holder .tab_active span span {background:#DD1C00 url(../images/tabs/right_red.gif) no-repeat top right;padding:0 10px 0 0;}
.tab_holder .tab_active span span span {background:#DD1C00 url(../images/tabs/1px_red.gif) repeat-x;padding:5px 0 0 0;line-height:25px;}
.tab_holder div {float:left;width:100%;background:transparent url(../images/tabs/right_gray.gif) no-repeat top right;}

/* anchor links */
/* required elements: directional buttons, expand/collapse buttons */
div.alink_short_module {float:left;width:100%;background:url(../images/anchor_links/anchors_bg_1px.gif) repeat-x #f2f2f2;padding:0;border-top:1px solid #ccc;}
div.alink_short_module a {color:#0066CC;}
div.alink_short_module table {padding:0 10px 20px 10px;}
div.alink_short_module td {margin-right:10px;}
div.clear {clear:both;overflow:hidden;margin:0;padding:0;}
div.alink_short_footer {float:left;width:100%;margin-top:30px;border-top:1px solid #ccc;}
div.alink_short_footer a {color:#0066CC;}
div.alink_short_footer div.left {float:left;padding:10px 0 0 10px;}
div.alink_short_footer div.right {float:right;padding:10px 10px 0 0;}

div.alink_long_wrapper {float:left;width:100%;}
div.alink_long_wrapper a {color:#0066CC;}
div.alink_long_wrapper li {margin:0 0 9px 0;}
div.alink_long_wrapper li.anchor_long_first {margin:12px 0 15px 0;}

/* alphanumeric index */
div.alpha_module {background:url(../images/alphanumeric/anchors_bg_1px.gif) repeat-x #f2f2f2;border-top:1px solid #ccc;color:#666;}
div.alpha_module div {padding:10px 10px 20px 10px;}
div.alpha_module a {margin-right:7px;color:#0066CC;}
div.alpha_module span {margin-right:7px;color:#666;}
div.alpha_module a.numeric {margin-right:15px;}
div.alpha_module a.on_state {color:#000;font-weight:bold;text-decoration:none;}

/* content space linked lists */
div.linked_list_module {float:left;background:url(../images/content_lists/anchors_bg_1px.gif) repeat-x #f2f2f2;border-top:1px solid #ccc;}
div.linked_list_module div {padding:10px 10px 20px 10px;}
div.linked_list_module td {padding:0 70px 0 0;}
div.linked_list_module ul {list-style-type:none;margin:0px;padding:0px;}
div.linked_list_module li {margin-bottom:5px;}
div.linked_list_module a {background:url(../images/content_lists/left_link.gif) transparent no-repeat left;padding-left:10px;display:block;color:#0066CC;}
div.linked_list_module a.ll_here {color:#000;font-weight:bold;text-decoration:none;}

/* content space piping */
div.piping_module {float:left;width:100%;background:url(../images/content_piping/1px_gray.gif) repeat-x #f2f2f2;color:#999;font-size:11px;}
div.piping_module a {color:#0066CC;}
div.piping_module div.pad {float:none;padding:10px 10px 15px 10px;}
div.piping_module span {color:#000;font-weight:bold;}

/* lhn */
.lhn {width:150px;margin:0;text-align:left;}
.lhn ul, .lhn ul li ul {display:block;margin:0;padding:0;list-style-type:none;list-style-position:outside;width:150px;overflow:hidden;}
.lhn ul li, .lhn ul li ul li {display:block;margin:0;padding:0;width:150px;vertical-align:bottom;}
.lhn ul li {background:url(../images/lhn/lhn_off.gif) #C51008 repeat-x;}
.lhn ul li.active {background:url(../images/lhn/lhn_on.gif) #7C0200 repeat-x;}
.lhn ul li.active a.sub {background:url(../images/lhn/arrow_down.gif) transparent no-repeat 131px 12px;}
.lhn ul li ul li {background:none;}
.lhn ul li a:link, .lhn ul li a:visited {display:block;color:#fff;padding:8px 22px 7px 10px;text-decoration:none;font:bold 12px arial,sans-serif;}
.lhn ul li a:hover, .lhn ul li a:active, .lhn ul li a:focus {text-decoration:underline;}
.lhn ul li a.sub {background:url(../images/lhn/arrow_right.gif) transparent no-repeat 131px 11px;}
.lhn ul li ul li a:link, .lhn ul li ul li a:visited, .lhn ul li ul li a:hover, .lhn ul li ul li a:active, .lhn ul li ul li a:focus {font:bold 11px arial,sans-serif;padding:6px 10px 6px 20px;background:#191919;border-top:1px solid #4d4d4d;}

/* percentage bar */
div.percentage_bar {position:relative;width:185px;height:10px;}
div.percentage_bar_border {z-index:3;position:absolute;top:0;left:0;width:185px;height:10px;background:url(../images/bar/gray_stroke.gif);}
div.percentage_bar_amount {z-index:2;position:absolute;top:0px;left:0;height:10px;}
div.percentage_bar_green {z-index:2;position:absolute;top:0px;left:0;height:10px;background:url(../images/bar/green_bar.gif) no-repeat;}
div.percentage_bar_red {z-index:2;position:absolute;top:0px;left:0;height:10px;background:url(../images/bar/red_bar.gif) no-repeat;}
div.percentage_bar_yellow {z-index:2;position:absolute;top:0px;left:0;height:10px;background:url(../images/bar/yellow_bar.gif) no-repeat;}
div.percentage_bar_background {z-index:1;position:absolute;top:0px;left:0;width:185px;height:10px;background:url(../images/bar/white_bar.gif) no-repeat; }
div.percentage_bar_unlimited {z-index:1;position:absolute;top:0px;left:0;width:185px;height:10px;background:url(../images/bar/unlimited.gif) no-repeat;}

/* percentage bar for 242 px bar*/
div.percentage_bar242 {position:relative;width:242px;height:10px;}
div.percentage_bar242_border {z-index:3;position:absolute;top:0;left:0;width:242px;height:10px;background:url(../images/bar/242/gray_stroke.gif);}
div.percentage_bar242_amount {z-index:2;position:absolute;top:0px;left:0;height:10px;}
div.percentage_bar242_green {z-index:2;position:absolute;top:0px;left:0;height:10px;background:url(../images/bar/242/green_bar.gif) repeat-x;}
div.percentage_bar242_red {z-index:2;position:absolute;top:0px;left:0;height:10px;background:url(../images/bar/242/red_bar.gif) repeat-x;}
div.percentage_bar242_yellow {z-index:2;position:absolute;top:0px;left:0;height:10px;background:url(../images/bar/242/yellow_bar.gif) repeat-x;}
div.percentage_bar242_background {z-index:1;position:absolute;top:0px;left:0;width:238px;height:10px;background:url(../images/bar/242/white_bar.gif) repeat-x;}
div.percentage_bar_unlimited242 {z-index:1;position:absolute;top:0px;left:0;width:242px;height:10px;background:url(../images/bar/242/unlimited.gif) no-repeat;}

a.tab_active {text-decoration:none;}
a:visited.tab {color:#fff;}
a:hover.tab {color:#fff;}

a.usagetab_active {text-decoration:none;}
a:visited.usagetab {color:#fff;}
a:hover.usagetab {color:#fff;}

a.subtab_active {text-decoration:none;}
a:visited.subtab {color:#fff;}
a:hover.subtab {color:#fff;}

.subtab_lg_holder {
background:transparent url(../images/subtabs/png/bg_right.png) no-repeat scroll right top;
padding-right:10px;
}
.subtab_lg_holder div.tabs {
background:transparent url(../images/subtabs/png/bg_slab.png) no-repeat scroll left top;
padding-right:0pt;
width:100%;
}
.subtab_lg_holder .subtab_lg, .subtab_lg_holder .subtab_lg span, .subtab_lg_holder .subtab_lg span span, .subtab_lg_holder .subtab_lg span span span, .subtab_lg_holder .subtab_lg_active, .subtab_lg_holder .subtab_lg_active span, .subtab_lg_holder .subtab_lg_active span span, .subtab_lg_holder .subtab_lg_active span span span {
color:#555555;
cursor:pointer;
display:block;
float:left;
font-family:arial;
font-size:12px;
font-size-adjust:none;
font-stretch:normal;
font-style:normal;
font-variant:normal;
font-weight:bold;
line-height:28px;
}
.subtab_lg_holder .subtab_lg span span span {
border-right:1px solid #CCCCCC;
line-height:24px;
margin-top:4px;
padding:0pt 9px 0pt 10px;
}
a.subtab_lg_active {
color:#000000;
text-decoration:none;
}
a.subtab_lg:visited {
color:#555555;
}
a.subtab_lg:hover {
color:#555555;
}
.subtab_lg_holder .subtab_lg_active span {
background:#FFFFFF url(../images/subtabs/png/tab_left.png) no-repeat scroll left top;
padding:0pt 0pt 0pt 10px;
}
.subtab_lg_holder .subtab_lg_active span span {
background:#FFFFFF url(../images/subtabs/png/tab_right.png) no-repeat scroll right top;
padding:0pt 10px 0pt 0pt;
}
.subtab_lg_holder .subtab_lg_active span span span {
background:#FFFFFF url(../images/subtabs/png/tab_1px.png) repeat-x scroll 0%;
color:#000000;
line-height:24px;
padding:4px 0pt 0pt;
}
.subtab_sm_holder {
background:transparent url(../images/subtabs/png/bg_right.png) no-repeat scroll right top;
padding-right:10px;
}
.subtab_sm_holder div.tabs {
background:transparent url(../images/subtabs/png/bg_slab.png) no-repeat scroll 0%;
padding-right:0pt;
width:100%;
}
.subtab_sm_holder .subtab_sm, .subtab_sm_holder .subtab_sm span, .subtab_sm_holder .subtab_sm span span, .subtab_sm_holder .subtab_sm span span span, .subtab_sm_holder .subtab_sm_active, .subtab_sm_holder .subtab_sm_active span, .subtab_sm_holder .subtab_sm_active span span, .subtab_sm_holder .subtab_sm_active span span span {
color:#555555;
cursor:pointer;
display:block;
float:left;
font-family:arial;
font-size:11px;
font-size-adjust:none;
font-stretch:normal;
font-style:normal;
font-variant:normal;
font-weight:bold;
line-height:28px;
}
.subtab_sm_holder .subtab_sm span span span {
border-right:1px solid #CCCCCC;
line-height:19px;
margin-top:4px;
padding:0pt 9px 0pt 10px;
}
a.subtab_sm_active {
color:#000000;
text-decoration:none;
}
a.subtab_sm:visited {
color:#555555;
}
a.subtab_sm:hover {
color:#555555;
}
.subtab_sm_holder .subtab_sm_active span {
background:#FFFFFF url(../images/subtabs/png/tab_left.png) no-repeat scroll left top;
padding:0pt 0pt 0pt 10px;
}
.subtab_sm_holder .subtab_sm_active span span {
background:#FFFFFF url(../images/subtabs/png/tab_right.png) no-repeat scroll right top;
padding:0pt 10px 0pt 0pt;
}
.subtab_sm_holder .subtab_sm_active span span span {
background:#FFFFFF url(../images/subtabs/png/tab_1px.png) repeat-x scroll 0%;
color:#000000;
line-height:19px;
padding:4px 0pt 0pt;
}
div.myMediaImg {background:url(../images/digital_locker/MyMediabackground.jpg) no-repeat;width: 190px; height: 190px;}
h2.grey_subhead {background:#a9a9a9; height: 30px; repeat-x;font:bold 13px sans-serif;color:white;padding-top:5px;padding-left:5px;text-align: center;}
