<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>VyperCMS v2.0.0 &copy; 1990-2010, Vyper Logix Corp., All Rights Reserved.</title>
<script src="_dynamic.js" language="javascript" type="text/javascript"></script>
<script language="javascript" type="text/javascript">
function debug(s) {
	var c = document.getElementById('debugger');
	if (c) {
		c.innerHTML += s+'<br/>';
	}
}

function onLoadSWFObject(){
	var s=generate_flash_content(10,0,0,'SwfLoader/SwfLoader.swf?swf=/flash/worldmap-v3-flash8a.swf&width=180&height=180',300,300,'worldmap_v3_flash8a','worldmap_v3_flash8a','white','http://www.vyperlogix.com','VLC-splash-257x180.jpg','21st Century Innovation with Vyper Logix Corp.'); 
	var c = document.getElementById('flashContainer');
	if (c) {
		c.innerHTML = s;
		RightClick.init('worldmap_v3_flash8a','flashContainer');
	}
}

_onload = function () {
	var ie  = !!(window.attachEvent && !window.opera);
	var wk  = /webkit\/(\d+)/i.test(navigator.userAgent) && (RegExp.$1 < 525);
	if (ie) {
		var c = document.getElementById('container');
		if (c) {
			c.innerHTML = '<p>You can <a href="http://www.google.com/chrome" target="_blank">download Google Chrome</a> or <a href="http://www.mozilla.com/en-US/products/firefox/" target="_blank">download Mozilla FireFox</a></p><p>Come back with one of the supported browsers...</p>';
		}
		alert('This site is best viewed using Google Chrome or Mozilla FireFox 3.x however you are using IE so stop it !');
	}
	include_css('vypercms-main-full-page.css');
	include_css('2-column-layout.css');
	include_js('AC_OETags.js',function(){ include_js('rightClick.js',onLoadSWFObject) });
};
</script>
</head>

<body class="oneColLiqCtrHdr" onload="_onload();">

<div id="container">
  <div id="header">
    <div class="mask">
        <div class="colleft">
        </div>
        <div id="flashContainer" class="col1" style="padding-top:10px;"></div>
        <div id="logoContainer" class="col2">
        	<table width="100%">
            	<tr>
                	<td>
                    	<font face="Verdana, Geneva, sans-serif" size="+4">Vyper Logix Corp.</font>
                    </td>
                </tr>
            	<tr>
                	<td>
                    	<font face="Verdana, Geneva, sans-serif" size="+2">Next-Generation Innovation Today !</font>
                    </td>
                </tr>
            </table>
        </div>
        <div id="infoContainer" class="col3"></div>
    </div>
  </div>
  <div id="debugger">
  </div>
  <div id="mainContent">
    <h1>VyperCMS V2.0</h1>
    <p>High-powered easy to use and easier to deploy Python-based Content Management System running on the Google App Engine and Django 1.1.1.</p>
    <h2>VyperCMS V2.0 Features:</h2>
	<UL>
    	<LI>Database driven - all content can be stored and maintained online in the Google Datastore via the Django Admin Interface.</LI>
    	<LI>Template driven - content can be stored and maintained in standard Django Templates.</LI>
    	<LI>Flexible - Pages can be reconfigured through the use of easy to manage templates.</LI>
    	<LI>Dynamic - content can be entered by users or generated automatically from external data sources via RSS or other data feeds.</LI>
    	<LI>Scalable - Google App Engine provides elastic demand-driven scalability.</LI>
    	<LI>Compatible - works with Django 1.1.1 - can be deployed using Google App Engine or natively using a LAMP-based server.</LI>
    	<LI>Extensible - allows extensions to be added by anyone who can work with Django 1.1.1.
        	<UL>
            	<LI>Works with jQuery, Dojo, Yahoo! User Interface (YUI), Ext JS, Mootools, Prototype, Scriptaculous, Adobe Spry, Microsoft ASP.NET Ajax Controls, MochiKit, Aflax and others...</LI>
            	<LI>Works with Flash and Flex - includes a powerful swfObject interface with Dynamic Embedding Support.</LI>
            	<LI>Works with Silverlight.</LI>
            	<LI>Support AJAX.</LI>
            </UL>
        </LI>
    </UL>
    <h2>VyperCMS V2.0 Use Cases</h2>
    <p>VyperCMS V2.0 works best in an environment where non-programmers are called upon to maintain their content.  Non-programmers are typically those who don't have any idea what HTML is all about nor do they know anything about Python or Django.</p>
    <h2>VyperCMS V2.0 Future:</h2>
	<UL>
    	<LI>Blog Templates</LI>
    	<LI>Wiki Templates</LI>
    	<LI>Social Networking Support
        	<UL>
            	<LI>Allows people to build their content interactively while sharing their content with others.</LI>
            	<LI>Build and deploy the next ... with ease and confidence.
                	<UL>
                        <LI>MySpace</LI>
                        <LI>Facebook</LI>
                        <LI>Linked-In</LI>
                        <LI>Wordpress Community</LI>
                    </UL>
                </LI>
            </UL>
        </LI>
    	<LI>Site Navigation Support
        	<UL>
            	<LI>Automatically builds a Flash-based Site Menu also known as Global Navigation.</LI>
            	<LI>Site Navigation supports an arbitrary depth hierarchical menu.</LI>
            </UL>
        </LI>
    </UL>
	<!-- end #mainContent --></div>
  <div id="footer">
    <p style="font-size:13px">&copy;1990-2010, Vyper Logix Corp., All Rights Reserved., Powered by VyperCMS v2.0 Content Management System running in the Google Cloud...</p>
  <!-- end #footer --></div>
<!-- end #container --></div>
</body>
</html>
