BODY {
	MARGIN: 0px;
	COLOR: #333333;
	TEXT-ALIGN: center;
	font-family: "Trebuchet MS", Verdana, Arial, Sans-serif;
	font-size: small;
	line-height: 150%;
	vertical-align: baseline;
}
a {
	text-decoration: none;
	color: #003399;
}
a:hover {
	text-decoration: underline;
	color: #CC3333;
}
img {
	margin: 0px;
	padding: 0px;
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 0px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
}
#doc2 {
	background-color: #FFFFFF;
}
#hd {
	margin-bottom: 8px;
	border-top-width: 1px;
	border-right-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-left-style: solid;
	border-top-color: #eeeeee;
	border-right-color: #eeeeee;
	border-left-color: #eeeeee;
	padding-top: 0px;
	padding-right: 1px;
	padding-bottom: 0px;
	padding-left: 1px;
	border-bottom-width: 0px;
	border-bottom-style: solid;
	border-bottom-color: #999999;
}
#head_top {
	text-align: right;
}
#head_logo {
	float: left;
	width: 160px;    
}
#head_top_ad {
	float: left;
	padding-left: 10px;
}
#head_nav {
	margin-bottom:0px;
}
#nav {
	margin-top: 0px;
	margin-right: 10px;
	margin-bottom: 0px;
	margin-left: 0px;
	font-weight: bold;
	height: 1.5em;
	padding-top: 2px;
	padding-right: 2px;
	padding-bottom: 7px;
	padding-left: 2px;
}

#nav li {
	float: left;
	clear: none;
}

#nav li a {
	display: block;
	color: #666666;
	font-size: 108%;
	text-decoration: none;
	background-image: url(images/nav-split.gif);
	background-repeat: no-repeat;
	background-position: 100% 3px;
	margin: 0px;
	padding: 2px 4px 3px 4px;
	border-top: 1px solid #eeeeee;
	border-bottom: 1px solid #999999;
}

#nav li a:hover {
    text-decoration: none;
	border-top: none;
    border-bottom: 2px solid #666666;
	color: #333333;
}

#bd {
	border: 0px solid #CCCCCC;
	padding: 0px;
	margin-bottom: 4px;
}
#yui-main {
	border: 0px dashed #CCCCCC;
}
#main_content {
	border: 1px solid #CCCCCC;
	padding: 4px;
	margin-bottom: 0px;
}
#post_date {
	PADDING-RIGHT: 0px;
	PADDING-LEFT: 20px;
	PADDING-BOTTOM: 0px;
	PADDING-TOP: 0px;
	float: left;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 5px;
	background-image: url(images/icon_time.gif);
	background-repeat: no-repeat;
	background-position: left top;
	font-style: italic;
	color: #999999;
}
#post_new_comment {
	PADDING-RIGHT: 0px;
	PADDING-LEFT: 18px;
	BACKGROUND: url(images/icon_comments.gif) #ffffff no-repeat left top;
	PADDING-BOTTOM: 0px;
	PADDING-TOP: 0px;
	float: right;
	margin-right: 5px;
}
#post_content {
	background-color: #f3f8fe;
	padding: 4px;
	margin-bottom: 8px;
	font-size: 103%;
	line-height: 170%;
}
#post_content IMG {
	BORDER-RIGHT: #bbbbbb 1px solid; PADDING-RIGHT: 4px; BORDER-TOP: #bbbbbb 1px solid; PADDING-LEFT: 4px; PADDING-BOTTOM: 4px; MARGIN: 0px 0px 5px; BORDER-LEFT: #bbbbbb 1px solid; PADDING-TOP: 4px; BORDER-BOTTOM: #bbbbbb 1px solid;max-width:97% !important; max-height:97% !important;
}
#post_content P{
	padding-bottom: 1em;
	text-indent: 2em;
}
BLOCKQUOTE {
	PADDING-RIGHT: 20px;
	PADDING-LEFT: 15px;
	PADDING-BOTTOM: 0px;
	MARGIN: 0px 25px 15px;
	PADDING-TOP: 10px;
	background-color: #f9fafc;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: dashed;
	border-right-style: dashed;
	border-bottom-style: dashed;
	border-left-style: dashed;
	border-top-color: #dddddd;
	border-right-color: #999999;
	border-bottom-color: #999999;
	border-left-color: #dddddd;
	color: #666666;
}
BLOCKQUOTE P{
	padding-bottom: 1em;	
}

#main_content_top {
	border: 0px solid #CCCCCC;
	margin-bottom: 8px;
}
#main_content_slider {
	border: 0px solid #CCCCCC;
	height: 208px;
}
#main_content_new {
	border: 0px solid #CCCCCC;
}
#main_content_top_ad {
	border: 0px solid #CCCCCC;
	margin-bottom: 8px;
}
#main_content_cate_left {
    border: 0px solid #CCCCCC;
	margin-bottom: 8px;
}
#main_content_cate_right {
    border: 0px solid #CCCCCC;
	margin-bottom: 8px;
}
.yui-u {
	background-color: #f3f8fe;
}
.yui-u H1{
	background-image: url(images/arrow2.gif);
	background-repeat: no-repeat;
	background-position: left center;
	padding-left: 12px;
	background-color: #eeeeee;
	display: block;
	width: 96.5%;
	font-size: 103%;
	font-weight: bold;
	text-transform: capitalize;
	color: #000000;
	margin-top: 0px;
	margin-bottom: 4px;
	padding-top: 4px;
	padding-bottom: 4px;
	color: #666666;
	border-bottom: 1px solid #CCCCCC;
}
.yui-u H1 a{
	text-decoration: none;
	color: #666666;	
}
.yui-u H1 a:hover{
	text-decoration: none;
	border-bottom: 2px solid #999999;
	color: #333333;
}
.yui-u li {
	background-image: url(images/arrow.gif);
	background-repeat: no-repeat;
	background-position: left center;
	padding-left: 12px;
	line-height: 1.5;
	width: 96%;
	white-space:nowrap;
	text-overflow:ellipsis; 
	-o-text-overflow:ellipsis; 
	overflow: hidden;
}
.yui-u li a{
	text-decoration: none;
}
.yui-u li a:hover{
	text-decoration: underline;	
}
#main_content_mid_ad {
	border: 0px solid #CCCCCC;
	margin-bottom: 8px;
	width: 100%;	
}
#main_content_bot_ad {
	border: 0px solid #CCCCCC;
	margin-bottom: 8px;
}
#main_content_browse {
	background-image: url(images/ico-3.gif);
	background-repeat: no-repeat;
	background-position: left center;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #eeeeee;
	padding-top: 4px;
	padding-right: 8px;
	padding-bottom: 4px;
	padding-left: 8px;
}
#main_sider {
	border: 1px solid #CCCCCC;
	padding: 0px;
	background-color: #f3f8fe;
	line-height: 170%;
}
#main_sider H2{
	background-image: url(images/arrow2.gif);
	background-repeat: no-repeat;
	background-position: left center;
	padding-left: 12px;
	background-color: #dddddd;
	display: block;
	width: 95%;
	font-size: 103%;
	font-weight: bold;
	text-transform: capitalize;
	color: #000000;
	margin-top: 0px;
	margin-bottom: 4px;
	padding-top: 3px;
	padding-bottom: 3px;
	color: #666666;
	border-bottom: 1px solid #bbbbbb;
}
#main_sider li{
    width:210px;
	white-space:nowrap;
	text-overflow:ellipsis; 
	-o-text-overflow:ellipsis; 
	overflow: hidden;
}
#main_sider_top_ad , #main_sider_mid_ad , #main_sider_bot_ad {
	padding: 4px;
	margin-bottom: 8px;
	margin-right: 2px;
	margin-left: 2px;
}
#main_sider_admin ,#main_sider_hot , #main_sider_tags , #main_sider_comment ,#main_sider_randomcate,#main_sider_links {
	padding: 4px;
	margin-bottom: 4px;
	margin-right: 2px;
	margin-left: 2px;
}
#main_sider_tags {
	line-height: 1.3em;
}
#main_sider_hot ul li {
	background-image: url(images/arrow3.gif);
	background-repeat: no-repeat;
	background-position: left center;
	padding-left: 12px;
	line-height: 1.5;
}
#main_sider_randomcate ul li {
	background-image: url(images/arrow3.gif);
	background-repeat: no-repeat;
	background-position: left center;
	padding-left: 12px;
	line-height: 1.5;
}
#main_sider_comment ul li {
	background-image: url(images/icon_comments.gif);
	background-repeat: no-repeat;
	background-position: left center;
	padding-left: 14px;
	line-height: 1.5;
}
#ft {
	PADDING: 4px;
	border: 1px solid #CCCCCC;
	color: #999999;
	text-align: center;
}
#cate_atr_list {
	margin-top: 2px;
	margin-right: 10px;
	margin-bottom: 10px;
	margin-left: 0px;
	padding: 0px;
	width: 99%;
	border-top-style: solid;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	border-top-width: 1px;
	border-top-color: #eeeeee;
	background-color: #fafcff;
}

#cate_atr_list li {
	float: left;
	clear: none;
	background-image: url(images/arrow.gif);
	background-repeat: no-repeat;
	background-position: left center;
	padding-left: 12px;
	line-height: 1.5;
	padding-right: 12px;
	width: 43%;
	border-bottom-width: 1px;
	border-bottom-style: dashed;
	border-bottom-color: #eeeeee;
	margin-right: 5px;
	display: block;
	padding-top: 2px;
	padding-bottom: 2px;
	margin-top: 2px;
	margin-bottom: 2px;
	margin-left: 5px;
	white-space:nowrap;
	text-overflow:ellipsis; 
	-o-text-overflow:ellipsis; 
	overflow: hidden;
}
#tag_atr_list {
	margin-top: 2px;
	margin-right: 10px;
	margin-bottom: 10px;
	margin-left: 0px;
	padding: 0px;
	width: 100%;
	border-top-style: solid;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	border-top-width: 1px;
	border-top-color: #eeeeee;
	background-color: #fafcff;
}

#tag_atr_list li {
	float: left;
	clear: none;
	background-image: url(images/arrow.gif);
	background-repeat: no-repeat;
	background-position: left 0.5em;
	padding-left: 12px;
	line-height: 1.7;
	padding-right: 12px;
	width: 95%;
	border-bottom-width: 1px;
	border-bottom-style: dashed;
	border-bottom-color: #CCCCCC;
	margin-right: 0px;
	display: block;
	padding-top: 2px;
	padding-bottom: 2px;
	margin-top: 2px;
	margin-bottom: 5px;
	margin-left: 5px;
	white-space:nowrap;
	text-overflow:ellipsis;
	-o-text-overflow:ellipsis; 
	overflow: hidden;
	color: #666666;
}
.art_title{
	font-size: 160%;
	line-height: 120%;
	font-weight: bold;
	margin: 8px;
	padding: 10px;
	text-align: center;
	background-color: #f3f8fe;
}
.code  { 
	background-image:url(/media/images/code.gif);   
	font-family:Arial;   
	font-style:italic;
	font-size:16px;
	color:Red;   
	border:0;   
	padding:2px 3px;   
	letter-spacing:3px;   
	font-weight:bolder;   
}   
.unchanged {   
	border:0;   
}
.category {
	FLOAT: right;
	PADDING-RIGHT: 0px;
	PADDING-LEFT: 18px;
	BACKGROUND: url(images/icon_category.gif)  no-repeat left top;
	PADDING-BOTTOM: 0px;
	PADDING-TOP: 0px;
	margin-right: 5px;
}
.taglist {
	PADDING-LEFT: 18px;
	background-image: url(images/icon_tags.gif);
	background-repeat: no-repeat;
	background-position: left bottom;
	margin-right: 5px;
}
.comment_title {
	font-size: 103%;
	font-weight: bold;
	color: #666666;
	background-color: #eeeeee;
	padding: 4px;
	margin-top: 8px;
	margin-bottom: 8px;
	border-bottom: 1px solid #CCCCCC;
}
.comment_even {
	padding-top: 1px;
	padding-right: 1px;
	padding-bottom: 5px;
	padding-left: 1px;
	background-color: #fafcff;
	margin-bottom: 4px;
	border-top: 1px solid #eeeeee;
	border-left: 3px solid #cccccc;
}
.comment_odd {
	padding-top: 1px;
	padding-right: 1px;
	padding-bottom: 5px;
	padding-left: 1px;
	background-color: #f3f8fe;
	margin-bottom: 4px;
	border-top: 1px solid #dddddd;
	border-left: 3px solid #999999;
}

.comment {
	PADDING-RIGHT: 0px;
	PADDING-LEFT: 18px;
	PADDING-BOTTOM: 2px;
	PADDING-TOP: 4px;
	background-image: url(images/icon_comments.gif);
	background-repeat: no-repeat;
	background-position: left center;
}
.comment_con {
	padding-top: 4px;
	padding-right: 4px;
	padding-bottom: 4px;
	padding-left: 4px;
}
.clear {
	CLEAR: both
}
