{% extends 'why-best-results.html' %}
{% block title %}{% endblock %}

{% block extra-head %}
<script language="JavaScript1.2" type="text/javascript">
</script>
{% endblock %}

{% block css %}{% endblock %}

{% block include-css %}'/static/main.css'{% endblock %}

{% block extra-content %}
{% endblock %}

{% block extra-links %}
                            	<table width="100%">
                                	<tr>
                                    	<td width="50%" align="center">
                                        	<a href="/about-2.html">How Cargo Chief Works</a>
                                        </td>
                                    	<td width="50%" align="center">
                                            <a href="/about-3.html">View Sample Results</a>
                                        </td>
                                    </tr>
                                </table>
{% endblock %}
