{% extends 'base.html' %}
{% block title %}{% endblock %}

{% block extra-head %}
<script language="JavaScript1.2" type="text/javascript">
</script>
{% endblock %}

{% block css %}{% endblock %}

{% block include-css %}'/static/main.css'{% endblock %}

{% block extra-content %}
{% endblock %}

{% block container %}
<!-- Slide #5 -->
            <table id="main_content_holder1" width="1000" border="0" align="center" cellpadding="0" cellspacing="0" style="padding-top: 20px;">
                <tr>
                    <td width="100%" align="center">
                        <font color="#FFFFFF" size="+2" class="about_title">Sample Quick Quote Results</font>
                    </td>
                </tr>
              <tr>
                <td width="100%" align="left" valign="top">
               <div class="bubble2">
                	<table width="100%">
                    	<tr>
                        	<td width="100%" align="center" valign="top">
                                <img src="/static/images/slide5_image.png"/>
                            </td>
                        </tr>
                    	<tr>
                        	<td width="100%" align="center">
                            	<table width="100%">
                                	<tr>
                                    	<td width="50%" align="center">
                                        	<a href="/about-2.html">How Cargo Chief Works</a>
                                        </td>
                                    	<td width="50%" align="center">
                                            <a href="/about-4.html">Why the Best Results</a>
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                    </table>
               </div>
                </td>
              </tr>
            </table>   
{% endblock %}
