{% extends 'best-quote.html' %}
{% block title %}{% endblock %}

{% block extra-head %}
<script language="JavaScript1.2" type="text/javascript">
</script>
{% endblock %}

{% block css %}{% endblock %}

{% block extra-content %}
{% endblock %}

{% block page-content %}
            	<tr>
                	<td valign="top">
                    	<table width="100%">
                        	<tr>
                                <td valign="top">
                                	<NOBR><b>Best Partial or Full Truck Load Quote: 201,105</b></NOBR><br/>
                                    <NOBR><b>Please Confirm</b></NOBR>
                                </td>
                            </tr>
                        	<tr>
                                <td valign="top">
                                	<table>
                                    	<tr>
                                        	<td>
Contact:  John Smith, 650-269-4545, JSmith@abcstrawberry.com<br/>
RFQ Description:  Lucky PO 342598 and PO 3216098<br/>
<br/>
<br/>
Origin Location:  Gilroy, CA 95020, Business with a Dock or Forklift, Driver to assist in loading <br/>
Stop 1 in Transit:  Milwaukee, WI 51932, Convention Center/Tradeshow, Driver to Assist in unloading<br/>
Destination Location:  Menasha, WI 54952, Business with a Dock or Forklift, Driver Not assisting in unloading, ~2,238 Miles<br/>
<br/>
Bid Window From: Apr 15, 2012  10:25    to: Apr 15, 2011 14:25 (4 hour)<br/>
<br/>
What:   	Drums, Strawberry Jam, 24 feet (12 pallets or Equivalents), total weight of 32,000, Drop: Stop 1<br/>
		Pallets, Strawberries, 12 feet (6 pallets or Equivalents), total weight of 6,000, Drop: Destination<br/>
<br/>
Ready for Pick Up: April 17, 2012<br/>
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                                <td valign="top">
                                	<img src="/static/images/slide0026_image002.png"/>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
{% endblock %}

{% block page-back %}<input id="btn_back" value="Back" class="main_button" onclick="window.location.href = '/best-quote-4.html';"/>&nbsp;&nbsp;&nbsp;&nbsp;{% endblock %}

{% block continue-button-label %}Get Quote{% endblock %}
{% block page-href %}/best-quote-5.html{% endblock %}
