{% extends 'best-quote.html' %}
{% block title %}{% endblock %}

{% block extra-head %}
<script language="JavaScript1.2" type="text/javascript">
</script>
{% endblock %}

{% block css %}{% endblock %}

{% block extra-content %}
{% endblock %}

{% block dialogs %}
{% endblock %}

{% block page-content %}
            	<tr>
                	<td valign="top" align="left">
                        <div id="quote_container1">
                            <div class="quote_bubble3">
                                <div class="quote_info">
{% block recap %}
{% endblock %}
                                </div>
                            </div>
                        </div> 
                    </td>
                </tr>
            	<tr>
                	<td valign="top" align="left">
                        <div id="quote_container1">
                            <div class="quote_bubble3">
                                <div class="quote_info">
{% block info %}
{% endblock %}
                                </div>
                            </div>
                        </div> 
                    </td>
                </tr>
            	<tr>
                	<td valign="top">
                    </td>
                </tr>
{% endblock %}

