{% extends 'best-quote-2.html' %}

{% block lower-block %}
                                	<table>
                                    	<tr>
                                        	<td>
                                            	<b>Less than Truck Load Details</b>
                                            </td>
                                        </tr>
                                    	<tr>
                                        	<td>
                                            	<form>
                                                	<table>
                                                    	<tr>
                                                        	<td>
                                                            	<a id="anchor_less_than_truck_load_packaging_shortcut" href="#"><label>Packaging</label></a>
                                                            </td>
                                                        	<td colspan="2">
                                                            	<NOBR>
                                                                	<select id="less_than_truck_load_packaging">
                                                                    	<option value="">-   Select    -</option>
                                                                    	<option value="1">Pallets, Standard GMA (40” x 48”) with Cargo</option>
                                                                    	<option value="2">Pallets Non-Standard with Cargo</option>
                                                                    	<option value="3">Boxes / Crates</option>
                                                                    	<option value="4">Bags / Bails</option>
                                                                    	<option value="5">Bunches / Coils</option>
                                                                    	<option value="6">Cylinders / Rolls / Reels</option>
                                                                    	<option value="7">Drums / Pails</option>
                                                                    	<option value="8">Rolls / Carpets</option>
                                                                    	<option value="9">Tubes / Pipes</option>
                                                                    </select>
                                                                <NOBR>
                                                            </td>
                                                        </tr>
                                                    	<tr>
                                                        	<td>
                                                            	<a id="anchor_less_than_truck_load_quantity_of_items_shortcut" href="#"><label>Quantity of Items:</label></a>
                                                            </td>
                                                        	<td colspan="2">
                                                            	<NOBR><input id="less_than_truck_load_quantity_of_items" maxlength="10"/></NOBR>
                                                            </td>
                                                        </tr>
                                                    	<tr>
                                                        	<td>
                                                            	<label>Dimensions (each Item)&nbsp;in inches&nbsp;&nbsp;&nbsp;</label>
                                                            </td>
                                                        	<td colspan="2">
                                                            	<NOBR><a id="anchor_less_than_truck_load_dimensions_length_shortcut" href="#">Length</a>&nbsp;<input id="less_than_truck_load_dimensions_length" maxlength="20"/>&nbsp;<a id="anchor_less_than_truck_load_dimensions_width_shortcut" href="#">Width</a>&nbsp;<input id="less_than_truck_load_dimensions_width" maxlength="20"/>&nbsp;<a id="anchor_less_than_truck_load_dimensions_height_shortcut" href="#">Height</a>&nbsp;<input id="less_than_truck_load_dimensions_height" maxlength="20"/></NOBR>
                                                            </td>
                                                        </tr>
                                                    	<tr>
                                                        	<td>
                                                            	<a id="anchor_less_than_truck_load_total_shipment_weight_shortcut" href="#"><label>Total Shipment Weight:</label></a>
                                                            </td>
                                                        	<td colspan="2">
                                                            	<NOBR><input id="less_than_truck_load_total_shipment_weight" maxlength="10"/>&nbsp;in Pounds</NOBR>
                                                            </td>
                                                        </tr>
                                                    	<tr>
                                                        	<td>
                                                            	<a id="anchor_less_than_truck_load_freight_class_of_goods_shortcut" href="#"><label>Freight Class of Goods:</label></a>
                                                            </td>
                                                        	<td colspan="2">
                                                            	<NOBR><input id="less_than_truck_load_freight_class_of_goods" maxlength="10"/>&nbsp;<a href="#">Look up</a></NOBR>
                                                            </td>
                                                        </tr>
                                                    	<tr>
                                                        	<td>
                                                            	<a id="anchor_less_than_truck_load_description_of_goods_shortcut" href="#"><label>Description of Goods:</label></a>
                                                            </td>
                                                        	<td colspan="2">
                                                            	<input id="less_than_truck_load_description_of_goods" maxlength="20"/>
                                                            </td>
                                                        </tr>
                                                    	<tr>
                                                        	<td>
                                                            	<a id="anchor_less_than_truck_load_optional_rfq_description_shortcut" href="#"><label>RFQ Description (Optional)
</label></a>
                                                            </td>
                                                        	<td>
                                                            	<input id="less_than_truck_load_optional_rfq_description" maxlength="20"/>
                                                            </td>
                                                        	<td>
                                                            	<NOBR><a href="#">Another Item Type</a></NOBR>
                                                            </td>
                                                        </tr>
                                                    	<tr>
                                                        	<td>
                                                            </td>
                                                        	<td>
                                                            </td>
                                                        	<td>
                                                            </td>
                                                        </tr>
                                                    </table>
                                                </form>
                                            </td>
                                        </tr>
                                    </table>
{% endblock %}

