{% extends 'base.html' %}
{% block title %}{% endblock %}

{% block extra-head %}
<script language="JavaScript1.2" type="text/javascript">
</script>
{% endblock %}

{% block css %}{% endblock %}

{% block include-css %}'/static/main.css'{% endblock %}

{% block extra-content %}
{% endblock %}

{% block container %}
<!-- Slide #7 -->
            <table id="main_content_holder1" width="1000" border="0" align="center" cellpadding="0" cellspacing="0" style="padding-top: 20px;">
                <tr>
                    <td width="100%" align="center" colspan="2">
                    	<img src="/static/images/slide7_image.png"/>
                    </td>
                </tr>
                <tr>
                    <td width="100%" align="center" colspan="2">
                    	&nbsp;
                    </td>
                </tr>
                <tr>
                    <td width="100%" align="center" colspan="2">
                    	&nbsp;
                    </td>
                </tr>
                <tr>
                    <td width="100%" align="center" colspan="2">
                    	&nbsp;
                    </td>
                </tr>
                <tr>
                    <td width="100%" align="center" colspan="2">
                    	&nbsp;
                    </td>
                </tr>
              <tr>
                <td width="50%" align="center" valign="top">
                	<img src="/static/images/pallets.png" width="200" height="126" />
                </td>
                <td width="50%" align="center" valign="top">
                	<img src="/static/images/truck.png" width="300" height="117" />
                </td>
              </tr>
            </table>   
{% endblock %}
