{% extends 'base.html' %}
{% block title %}{% endblock %}

{% block extra-head %}
<script language="JavaScript1.2" type="text/javascript">
</script>
{% endblock %}

{% block css %}{% endblock %}

{% block include-css %}'/static/main.css'{% endblock %}

{% block extra-content %}
{% endblock %}

{% block container %}
<!-- Slide #2 -->
            <table width="1000" border="0" align="center" cellpadding="0" cellspacing="0">
              <tr>
                <td align="left" valign="top" id="main_content_holder">
                
                   <div>
                   	<p>Cargo Chief, is expanding its network.  Everyone on the Cargo Chief network benefits as its network expands.  We welcome you and encourage the following to join:</p>
                    <ul>
                    	<li>Manufacturers</li>
                    	<li>Growers</li>
                    	<li>Distributors</li>
                    	<li>Freight forwarders</li>
                    	<li>Trucking firms</li>
                    	<li>Trucker owner/operators</li>
                    	<li>Load boards, virtual and physical</li>
                    	<li>Websites</li>
                    	<li>Freight brokers</li>
                    	<li>Consolidators</li>
                    </ul>
                   </div>
                <div style="clear: both; padding-top:25px;"></div>
                        <div id="shipment_container">              
                                        
                                <div class="bubble">
                                
                                	<div class="info">
                                
                                		<p>
                                            <div class="left_box">
                                              <b>Now or in the future, do you have freight to move?</b>
                                          </div>
                                          <div class="right_box"><img src="/static/images/box_200px.jpg" width="200" height="126" /></div>
                                        </p>
                                        <ul>
                                            <li>From one pallet</li>
                                            <li>All the way to a truckload</li>
                                        </ul>
                                        <a href="#" onclick="not_yet_implemented();">Sign-up as a Shipper (Free)</a>
                                
                                    </div>
                                </div>
                        </div> 
                         <div id="filltruck_container">              
                                        
                                <div class="bubble">
                                
                                    <div class="info">
                                
                                    <p>
                                        <div class="left_box">
                                          <b>Now or in the future, do you want to transport a shipment/load?</b>
                                      </div>
                                      <div class="right_box"><img src="/static/images/truck_200px.jpg" width="200" height="117" /></div>
                                    </p>
                                        <ul>
                                            <li>Book wasted space</li>
                                            <li>Less than truckload or truckload</li>
                                        </ul>
                                        <a href="#" onclick="not_yet_implemented();">Sign-up as a Trucker (Free)</a>
                                        
                                        </div>
                                </div>
                        </div>
                </td>
              </tr>
            </table>   
{% endblock %}
