{% extends 'how-cargo-chief-works.html' %}
{% block title %}{% endblock %}

{% block extra-head %}
<script language="JavaScript1.2" type="text/javascript">
</script>
{% endblock %}

{% block css %}{% endblock %}

{% block include-css %}'/static/main.css'{% endblock %}

{% block extra-content %}
{% endblock %}

{% block extra-links %}
                            	<table width="100%">
                                	<tr>
                                    	<td width="33%" align="center">
                                        	<a href="/best-quote-1.html">Get a Quote Now</a>
                                        </td>
                                    	<td width="33%" align="center">
                                        	<a href="/shippers-3.html">View Sample Results</a>
                                        </td>
                                    	<td width="33%" align="center">
                                            <a href="/shippers-4.html">Why the Best Results</a>
                                        </td>
                                    </tr>
                                </table>
{% endblock %}
