{% extends 'base.html' %}
{% block title %}{% endblock %}

{% block extra-head %}
<script language="JavaScript1.2" type="text/javascript">
</script>
{% endblock %}

{% block css %}{% endblock %}

{% block include-css %}'/static/main.css'{% endblock %}

{% block extra-content %}
{% endblock %}

{% block container %}
<!-- Slide #11 -->
            <table width="1000" border="0" align="center" cellpadding="0" cellspacing="0">
              <tr>
                <td align="left" valign="top" id="main_content_holder">
                
                   <div class="bubble2">
                       <table width="100%">
                        <tr>
                            <td width="50%" align="left" valign="top">
                            	<p>What is Cargo Chief doing for Shippers?</p>
                            </td>
                            <td width="50%" align="center" valign="top">
                            	<img src="/static/images/slide0011_image001.png"/>
                            </td>
                            <td width="50%" align="center" valign="top" rowspan="2">
                            	<table width="100%">
                                	<tr>
                                    	<td width="100%" align="center" valign="top">
                                            <img src="/static/images/slide0011_image006.png"/>
                                        </td>
                                    </tr>
                                    <tr>
                                    	<td width="100%" align="center" valign="top">
                                            <img src="/static/images/slide0011_image005.png"/>
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                        <tr>
                            <td width="50%" colspan="2">
                            	<table>
                                	<tr>
                                    	<td>
                                            <UL>
                                                <LI>With your shipment details,	polls dozens of load boards, websites, brokers and consolidators for your best value.</LI>
                                                <LI>Know Carrier Performance Index before booking.</LI>
                                                <LI>Reports total Cargo Chief based savings.</LI>
                                                <LI>Open or select partner RFQs (coming soon).</LI>
                                                <LI>Real time shipment status GPS/mobile.</LI>
                                                <LI>Management tools and reports on lanes.</LI>
                                                <LI>Easy to use and smartphone friendly.</LI>
                                                <LI>Signed Proof of Delivery (coming soon).</LI>
                                                <LI>Free, no risk.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<img src="/static/images/slide0011_image002.png"/></LI>
                                            </UL>
                                        </td>
                                    	<td>
                                        	<table>
                                            	<tr>
                                                	<td>
                                                        <img src="/static/images/slide0011_image003.png"/>
                                                    </td>
                                                </tr>
                                            	<tr>
                                                	<td>
                                                        <img src="/static/images/slide0011_image004.png"/>
                                                    </td>
                                                </tr>
                                            </table>
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                        <tr>
                        	<td colspan="3">
                            	<table width="100%">
                                	<tr>
                                    	<td width="33%" align="center">
                                        	<a href="/best-quote-1.html">Get a Quote Now</a>
                                        </td>
                                    	<td width="33%" align="center">
                                        	<a href="/shippers-2.html">How Cargo Chief Works</a>
                                        </td>
                                    	<td width="33%" align="center">
                                            <a href="/shippers-4.html">Why the Best Results</a>
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                       </table>
                   </div>
                </td>
              </tr>
            </table>   
            <div style="clear: both; padding-top:25px;"></div>
{% endblock %}
