<br/><br/><br/>
<div style="color: black; width: 400px; margin-left: 20px;">
    <div id="site_footer">
            <div class="holder">
            <div class="legal block">
                <h6>Legal</h6>
                <p><a href="http://www.pyeggs.com/">pyEggs&trade;</a> is a product of <a href="http://www.vyperlogix.com/" target="_blank">Vyper Logix Corp</a>.</p>
                <p><a href="http://www.pdfxporter.com/">PDFxporter&trade;</a> is a product of <a href="http://www.vyperlogix.com/" target="_blank">Vyper Logix Corp</a>.</p>
                <p><a href="/ruby-to-django/" target="_top">Ruby on Rails to Django&trade;</a> is a product of <a href="http://www.vyperlogix.com/" target="_blank">Vyper Logix Corp</a>.</p>
                <p><a href="/django20/" target="_top">Django 2.0&trade;</a> is a product of <a href="http://www.vyperlogix.com/" target="_blank">Vyper Logix Corp</a>.</p>
                <p><a href="/ruby-to-django/" target="_top">RoR to Django&trade;</a> is a product of <a href="http://www.vyperlogix.com/" target="_blank">Vyper Logix Corp</a>.</p>
                <p><a href="/vyper_cloud_sdk/" target="_top">Vyper-Cloud SDK&trade;</a> is a product of <a href="http://www.vyperlogix.com/" target="_blank">Vyper Logix Corp</a>.</p>
                <p><a href="/vyper-proxy/" target="_top">Vyper-Proxy&trade;</a> is a product of <a href="http://www.vyperlogix.com/" target="_blank">Vyper Logix Corp</a>.</p>
                <p>Everything on this website is copyright © <a href="http://www.vyperlogix.com/" target="_blank">Vyper Logix Corp</a>, unless explicitly stated otherwise.</p>
                <h5>Trademarks</h5>
                <p>"pyEggs", "PDFxporter", "Ruby on Rails to Django", "RoR to Django", "Django 2.0", "Vyper-Cloud SDK" and "VyperLogix" are trademarks of <a href="http://www.vyperlogix.com/" target="_blank">Vyper Logix Corp</a>.
              All rights reserved.</p>
                <p>"Django 2.0" is a separate product from the Django Framework although it uses the Django Framework by expanding upon what the Django Framework can do.</p>
                <p>The Django Framework is published by <a href="http://www.djangoproject.com/foundation/" target="_blank">Django Software Foundation</a> and Django 2.0 is published by <a href="http://www.vyperlogix.com/">Vyper Logix Corp.</a>.</p>
                <h5>Copyright</h5>
                Copyright © 1990-{{ current_year }} Vyper Logix Corp™, unless explicitly
                stated otherwise.
                <p>Powered by <a href="/django20/" target="_top">Django 2.0&trade;</a></p>
            </div>
        </div>
    </div>
</div>
<br/><br/><br/>
