  <style type="text/css">
#pyeggs_list li {
height: 20px;
}
  </style>
<br/><br/><br/>
<div style="color: black; width: 400px; margin-left: 20px;">
    <h2 class="first_content_element">pyEggs&trade;</h2>

	<ul id="pyeggs_list">
	  <li>Makes Eggs Sourceless !</li>
	  <li>Makes Eggs Secure !</li>
	  <li>Makes Money for YOU !</li>
	</ul>
	<ul id="pyeggs_list">
	  <li>pyEggs&trade; Benefits
		<ul id="pyeggs_list">
		  <li>pyEggs&trade; makes your Python Eggs Source-less, if you wish to ship Python code without source.</li>
		  <li>pyEggs&trade; makes your Python Eggs Secure,
			<ul id="pyeggs_list">
			  <li>If you wish to ship Python code for one customer at a time.</li>
			  <li>If you wish to ship Python code for one computer at a time.</li>
			  <li>If you wish to ship Python code with Licensing Enforcement built-in.</li>
			</ul>
		  </li>
		</ul>
	  </li>
	</ul>
</div>
<br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
<center><a href="/pyeggs/" target="_top">Get Started</a> with pyEggs&trade; now !</center>
<br/><br/>
