<div class="post">
    <div class="postMeta"><span class="date">No articles</span></div>
    <h2>Welcome to the Python Bloog</h2>
    <div class="entry">
    	<p>This is the Python Products Bloog.</p>
    	<p>Featuring <a href="http://www.pyeggs.com/" target="_blank">pyEggs&trade;</a></p>
        <p>&quot;pyEggs&trade; makes it possible to deploy Python code with confidence without the need to expose your valuable source code to your competition.&quot;</p>
        <p>pyEggs&trade; automates the production of Python Eggs with support for Encryption that allows you to deploy your Python source with confidence in maintaining your Intellectual Property Rights.</p>
    	<p>and <a href="http://www.pdfxporter.com/" target="_blank">PDFxporter&trade;</a></p>
    </div>
</div>
