{% load currenttimetag %}
{% get_current_time "%m/%d/%Y %I:%M %p" as my_current_time %}
<!DOCTYPE html 
     PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
     "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
    dir="{% if LANGUAGE_BIDI %}rtl{% else %}ltr{% endif %}"
    xml:lang="{% firstof LANGUAGE_CODE 'en' %}"
    lang="{% firstof LANGUAGE_CODE 'en' %}">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>{% block title %}{% endblock %} &copy;Vyper Logix Corp. {{ air_id }} v{{version}}, All Rights Reserved. ({{ my_current_time }})</title>
    {% block css %}
      <!--[if IE]>
      <![endif]-->
    {% endblock %}
<link rel="icon" 
      type="image/png" 
      href="http://media.vyperlogix.com/gae/vyperlogixcorp/static/images/VyperLogixCorp-icon(60x57).png" />

	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.7.2/jquery-ui.js"></script>
	<script type="text/javascript" src="http://media.vyperlogix.com/gae/vyperlogixcorp/static/js/02_AnchorPosition.js"></script>
	<script type="text/javascript" src="http://media.vyperlogix.com/gae/vyperlogixcorp/static/js/jquery/labelify/jquery.labelify.js"></script>
	<script type="text/javascript" src="http://media.vyperlogix.com/gae/vyperlogixcorp/static/js/dynamic.js"></script>
    {% block js %}
    {% endblock %}
	<script type="text/javascript">
	  var _gaq = _gaq || [];
	  _gaq.push(['_setAccount', 'UA-9863220-1']);
	  _gaq.push(['_trackPageview']);
	
	  (function() {
	    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
	    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
	    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	  })();
	
	</script>
 
	<script type="text/javascript">
		var ___options___ = {
			'/':{html:'',options:{minWidth:700,minHeight:500,width:700,height:500,modal:true}}
		};
		var ___pageSelector___ = null;

		$(document).ready(function() {
			include_css('http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.2/themes/start/jquery-ui.css');
			include_css('http://media.vyperlogix.com/gae/vyperlogixcorp/static/main.css');
			var href_tokens = window.location.href.split('/');
			___pageSelector___ = href_tokens[href_tokens.length-1];
			___pageSelector___ = (___pageSelector___.length == 0) ? '/' : ___pageSelector___;
			//var options = ___options___[___pageSelector___];

		});
		
		function not_yet_implemented() {
			alert('Not Yet Implemented !!!\nCheck back again for more...');
		}

    </script>

    {% block extra-head %}{% endblock %}
  </head>

<body>
<header>
      <table id="navigation_content_holder" width="1000" border="0" align="center" cellpadding="0" cellspacing="0">
        <tr>
          <td valign="top">
{% if IS_NOT_HIDDEN %}
          	<div id="logo">
				<a href="http://www.vyperlogix.com" target="_top"><img src="http://media.vyperlogix.com/gae/vyperlogixcorp/static/images/VyperLogixCorp-icon(60x57).png" height="101" /></a>
			</div>
{% endif %}

                <!--start of navigation_holder-->
                <div style="padding-left:0px;">
                    <div id="navigation"> 
{% if url != '/' %}
                  <span class="navigation"><a id="anchor_navbar_home" href="/?GO=HOME" target="_top">HOME</a> </span>
{% else %}
                  <span class="navigation"><a id="anchor_navbar_home" href="/?GO=HOME" target="_top">&lt;HOME&gt;</a></span>
{% endif %}
{% if url != '/jobs/' %}
                  <span class="navigation"><a id="anchor_navbar_home" href="/jobs/" target="_top">JOBS</a> </span>
{% else %}
                  <span class="navigation"><a id="anchor_navbar_home" href="/jobs/" target="_top">&lt;JOBS&gt;</a></span>
{% endif %}
{% if url != '/contact/' %}
                  <span class="navigation"><a id="anchor_navbar_home" href="/contact/" target="_top">Contact Us</a> </span>
{% else %}
                  <span class="navigation"><a id="anchor_navbar_home" href="/contact/" target="_top">&lt;Contact Us&gt;</a></span>
{% endif %}
                    </div><!--end of navigation_holder-->
              </div>
          </td>
        </tr>
      </table>
    
    <div style="clear: both"></div>
</header>    
<div id="popUpDialog" title="???" style="display:none;">
	<p id="popup_dialog_content"></p>
</div>
<div>{% block container %}{% endblock %}</div>
<div style="clear: both;"></div>

<table width="100%" border="0" align="center" cellpadding="0" cellspacing="0" id="footer_content_holder">
  <tr>
    <td>
    <div class="footer_left_box">
    <div class="footer_font">&copy;&nbsp;2012 <a href="http://www.vyperlogix.com" target="_top">VyperLogix.Com</a>, All rights reserved.</div>
    </div>
    
     <div class="footer_right_box">
    <div class="footer_font">
        	<a href="/terms/">T&amp;C</a>
{% if IS_NOT_HIDDEN %}
            <a href="#" onclick="not_yet_implemented();">Privacy Policy</a>&#32;&#32; &#124; &#32;&#32;
{% endif %}
{% if IS_NOT_HIDDEN %}
            <a href="#" onclick="not_yet_implemented();">Site Map</a>&#32;&#32; &#124; &#32;&#32;
{% endif %}
{% if IS_NOT_HIDDEN %}
            <br/><br/>
            <a href="#" onclick="not_yet_implemented();"><img src="http://media.vyperlogix.com/gae/vyperlogixcorp/static/images/facebook.png" width="32" height="32" border="0" /></a>
             <a href="#" onclick="not_yet_implemented();"><img src="http://media.vyperlogix.com/gae/vyperlogixcorp/static/images/twitter.png" width="32" height="32" border="0" /></a>
             <a href="#" onclick="not_yet_implemented();"><img src="http://media.vyperlogix.com/gae/vyperlogixcorp/static/images/youtube.png" width="32" height="32" border="0" /></a>
            </div>
{% endif %}
    </div>
    </td>
  </tr>
</table>
</body>
</html>
