<br/><br/><br/>
<div style="color: black; width: 400px; margin-left: 20px;">
    <h2 class="first_content_element">Django 2.0</h2>
    
    <style>
        .emphasis {
            /* color: black; */
        }
    
        .emphasis2 {
            /* color: black; */
        }
    </style>
    
    <h3>Django 2.0 Leverages the Power of Django using concise Agile Development techniques:</h3>
    <ul class="testimonials">
        <li class="quote"><cite class="emphasis">Maximize Code Reuse.</cite></li>
        <li class="quote"><cite class="emphasis2">Dynamic Page Rendering via a standard site template.</cite></li>
        <li class="quote"><cite class="emphasis2">DHTML&nbsp;Tab Bar for Navigation (integrated into the site template)</cite></li>
        <li class="quote"><cite class="emphasis">A Common Site Template for each Django Applet.</cite></li>
        <li class="quote"><cite class="emphasis2">Uses OOHtml (no need to use the Django Tag Language)</cite></li>
        <li class="quote"><cite class="emphasis2">Uses Django 0.96.2 as the code base for Django 2.0</cite></li>
        <li class="quote"><cite class="emphasis">Partials and Sub-Partials just like Ruby on Rails only faster using less code.</cite></li>
        <li class="quote"><cite class="emphasis2">Renders partials just like Ruby on Rails, partials have file names that begin with &quot;_&quot; (underscore)</cite></li>
        <li class="quote"><cite class="emphasis2">Able to use Django Models or SQLAlchemy Models as-desired.</cite></li>
        <li class="quote"><cite class="emphasis2">Able to use Django Authentication or any Authentication Model as-desired.</cite></li>
        <li class="quote"><cite class="emphasis2">Not bound to the limitations found in Django 0.96.2</cite></li>
        <li class="quote"><cite class="emphasis">Django 2.0 is far more friendly for Web 2.0 than Ruby on Rails.</cite></li>
    </ul>
    
    <h3>Future Django 2.0 Features</h3>
    <ul class="testimonials">
        <li class="quote"><cite class="emphasis">Plug-In Templates with automatic site menu creation.</cite></li>
        <li class="quote"><cite class="emphasis">Django 2.0 Ajax Powered CMS (Content Management System) with in-place editing.</cite></li>
    </ul>
</div>
<br/><br/><br/>
