<style type="text/css">
#products_list li {
    height: 40px;
}
</style>
<UL id="products_list">
<li><a href="/vyper-proxy/" target="_top">Vyper-Proxy&trade;</a></li>
<li><a href="/ruby-to-django/" target="_top">Ruby on Rails to Django&trade;</a></li>
<li><a href="http://www.pdfxporter.com/" target="_blank">PDFxporter&trade;</a></li>
<li><a href="{{ PYEGGS_URL }}" target="_blank">pyEggs&trade;</a></li>
<li><a href="http://library.vyperlogix.com/" target="_blank">VyperLogixLib-1.0-py2.5.egg&trade;</a></li>
</UL>
