<div id="content"><div>
{{ LEFT_SIDE_UPPER_CONTENT }}
</div></div><!-- end content -->
<div id="page_title" style="display: none;">
  <img src="/media/21/images/title_main_page.gif" width="47" height="148" alt="main page" />
</div><!-- end page_title -->
<div id="news"><div><div>
  <h2><img src="/media/21/images/title_latest_news.gif" width="78" height="5" alt="latest news" /></h2>
  {{ LATEST_NEWS_CONTENT }}
  <p class="readmore"><a href="http://www.pypi.info"><img src="/media/21/images/btn_learn_more.gif" width="68" height="7" alt="learn more" /></a></p>
</div></div></div><!-- end news -->
<div class="clear"></div>
