<br/><br/><br/>
<div style="color: black; width: 400px; margin-left: 20px;">
    <h2 class="first_content_element">Vyper Logix Products</h2>
    
    <style>
        .emphasis {
            /* color: lime; */
        }
    
        .emphasis2 {
            /* color: #FFFF00; */
        }
    </style>
    
    <h3>Get Agile with Vyper Logix Products today !</h3>
    <blockquote><div>Vyper Logix Corp specializes in deliverying high-powered high-impact systems.</div>
    </blockquote>
    
    <h3>Vyper-Cloud&trade; SDK</h3>
    <blockquote><div><a href="/vyper_cloud_sdk/" target="_top">Learn about the Cloud</a></div>
    <cite>Vyper-Cloud&trade;, Vyper-Proxy&trade; and Vyper-Db&trade;<br/>
    </blockquote>
    
    <h3>Vyper-Proxy&trade;</h3>
    <blockquote><div><a href="/vyper-proxy/" target="_top">Accelerate your Django and Apache Apps</a></div>
    <cite>Vyper-Proxy&trade; beats the Apache 2.2.8 Load Balancer and makes the Apache 2.2.8 Load Balancer server content 2x faster !<br/>
    </blockquote>
    
    <h3>Ruby Python Bridge&trade;</h3>
    <blockquote><div>The <a href="/ruby-python-bridge/" target="_top">Ruby Python Bridge&trade;</a> allows your Ruby on Rails apps to levereage the power of Python.</div>
    <cite>Make Ruby on Rails run FASTER !<br/>
    </blockquote>
    
    <h3>Django 2.0</h3>
    <blockquote><div><a href="/django20/" target="_top">Django 2.0</a> is here today.</div>
    <cite>This site is powered by Django 2.0 !<br/>
    </blockquote>
</div>
<br/><br/><br/>
