<br/><br/><br/>
<div style="color: black; width: 400px; margin-left: 20px;">
    <cite>Contact us to for assistance in making your next Ruby on Rails App run with the power of Python.<cite>
    <ul class="testimonials last_content_element">
        <li class="quote">
            <blockquote><div>“The Ruby-Python-Bridge&trade; allows you to interface your Ruby and Ruby on Rails Apps directly to Python via TCP/IP.”</div></blockquote>
        </li>
        <li class="quote">
            <blockquote><div>Ruby on Rails can be made to dynamically interface to any TCP/IP accessible service with very little effort.</div></blockquote>
            <cite>The Ruby-Python-Bridge&trade; allows you to interface your Ruby and Ruby on Rails Apps directly to SalesForce using the Version 13 Apex API.</cite>
        </li>
        <li class="quote">
            <blockquote><div>Ruby on Rails can be made to dynamically interface to a pyLucene powered search engine.</div></blockquote>
            <cite>The Ruby-Python-Bridge&trade; allows you to interface your Ruby and Ruby on Rails Apps directly to a pyLucene powered search engine.</cite>
        </li>
        <li class="quote">
            <blockquote><div>Harness the power of Python when working with Ruby and Ruby on Rails.</div></blockquote>
            <cite>Python runs at-least 20 times faster than Ruby, why not leverage the power of Python when working with Ruby and Ruby on Rails.</cite>
        </li>
        <li class="quote">
            <blockquote><div>The Ruby-Python-Bridge&trade; is available for those who buy a Subscription to our <a href="http://www.pypi.info/" target="_blank">Blog</a>.</div></blockquote>
            <cite>Don't delay, make your donation today so you too can begin to realize the true potential of Ruby and Ruby on Rails with The Ruby-Python-Bridge™.</cite>
        </li>
    </ul>
</div>
<br/><br/><br/>
