<br/><br/><br/>
<div style="color: black; width: 400px; margin-left: 20px;">
    <h2 class="first_content_element">Ruby on Rails to Django</h2>
    
    <style>
        .emphasis {
            /* color: black; */
        }
    
        .emphasis2 {
            /* color: black; */
        }
    </style>
    
    <h3>Convert your Ruby on Rails Apps to Django with very little effort</h3>
    <blockquote><div>Vyper Logix Corp specializes in converting Ruby on Rails Apps to Django using very little effort.</div>
    <cite>Recently we began the process of converting a huge RoR App that consists of 285,000 lines of Ruby code using less than 10,000 lines of Django code.<br/></cite>
    <cite>Contact us to convert your huge Ruby on Rails headaches into more Agile Django Apps.<br/>
    <ul class="testimonials">
        <li class="quote">
            <cite class="emphasis">Less code means less money spent on code maintenance.</cite>
        </li>
        <li class="quote">
            <cite class="emphasis">One person was used to perform this huge conversion project.</cite>
        </li>
        <li class="quote">
            <cite class="emphasis">20% of the conversion effort was accomplished within 1-2 business days using one person who was moderately skilled with Django.</cite>
        </li>
        <li class="quote">
            <cite class="emphasis2">Django requires far less code than Ruby on Rails because...</cite>
        </li>
        <li class="quote">
            <cite class="emphasis2">Django <u>does not</u> reqire MVC (Model, View, Controller), therefore Django Apps require far less code.</cite>
        </li>
        <li class="quote">
            <cite class="emphasis2">Ruby <u>does</u> reqire MVC and along with MVC a large number of files and methods to support MVC.</cite>
        </li>
        <li class="quote">
            <cite class="emphasis">Less code means lower cost of maintenenace.</cite>
        </li>
        <li class="quote">
            <cite class="emphasis2">Less code means more Agile development with faster response to end-user requirements.</cite>
        </li>
        <li class="quote">
            <cite class="emphasis">100% Parity in terms of functionality and bookmarks is maintained between the Django and Ruby versions of the App.</cite>
        </li>
        <li class="quote">
            <cite class="emphasis2">We focus on recoding the Ruby functionality using Python code; this process takes place very quickly once it begins.</cite>
        </li>
    </ul>
    </cite>
    </blockquote>
    <h3>Django 2.0 provides all the benefits of Ruby on Rails with none of the inefficiencies.</h3>
    <blockquote><div><a href="/django20/" target="_top">Django 2.0</a> is a unique product of Vyper Logix Corp.</div>
    <cite>Leverage the power of Python and <a href="/django20/" target="_top">Django 2.0</a> for your next project.<br/>
    <ul class="testimonials">
        <li class="quote">
            <cite class="emphasis">Toss out all that bulky Ruby on Rails code in favor of the more efficient use of Python and <a href="/django20/" target="_top">Django 2.0</a></cite>
        </li>
        <li class="quote">
            <cite class="emphasis"><a href="/django20/" target="_top">Django 2.0</a> features one common Site Template for each Django Plug-in Applet.</cite>
        </li>
    </ul>
</div>
<br/><br/><br/>
