<br/><br/><br/>
<div style="color: black; width: 400px; margin-left: 20px;">
    <h2 class="first_content_element">Vyper-Proxy&trade;</h2>
    
    <style>
        .emphasis {
            /* color: black; */
        }
    
        .emphasis2 {
            /* color: black; */
        }
    </style>
    
    <h3 style="width:90%">Vyper-Proxy&trade; Enterprise Edition beats the Apache 2.2.x Load Balancer and makes the Apache 2.2.x Load Balancer respond to Requests 2x faster !</h3>
    <blockquote><div>Vyper-Proxy&trade; Enterprise Edition is like running your current web server on rocket fuel.</div>
    </blockquote>
    
    <h4>Vyper-Proxy&trade; Community Edition is FREE</h4>
    <ul class="testimonials">
        <li class="quote"><cite class="emphasis">Single Proxy instance exposed as http://127.0.0.1:8888 (any port other than 80 or 443).</cite></li>
        <li class="quote"><cite class="emphasis">1 to 3 Django instances running on http://127.0.0.1:9000, http://127.0.0.1:9001 and http://127.0.0.1:9002 (any ports other than 80 or 443)</cite></li>
        <li class="quote"><cite class="emphasis">Community Edition is intended for Trial Use only as a Demo and my not produce better performance for Django Apps that could be achieved with any other web server such as Apache 2.2.x.</cite></li>
    </ul>
    
    <h4>Vyper-Proxy&trade; Enterprise Edition has been Benchmarked FASTER than the Apache 2.2.x Load Balancer</h4>
    
    <h4>Vyper-Proxy&trade; Enterprise Edition Licenses are available upon request.</h4>
    <ul class="testimonials">
        <li class="quote"><cite class="emphasis2">Unlimited Number of Proxies serving requests to an Unlimited Number of HTTP/1.1 Applications.</cite></li>
        <li class="quote"><cite class="emphasis2">No limits other than those you create with your imaginations.</cite></li>
        <li class="quote"><cite class="emphasis2">Enterprise Edition is intended for those who want their web servers to serve content 2x faster but in reality the Enterprise Edition could be made to accelerate the delivery of web content much faster than 2x.</cite></li>
    </ul>
    
    <blockquote><div>Vyper-Proxy&trade; Enterprise Edition could be used for the following:</div>
    <UL>
        <li><cite>Accelerate your current web server to serve content as much as 2x faster or more.</cite>
            <UL>
                <LI>
                    <cite>A very small configuration of Vyper-Proxy&trade; Enterprise Edition was benchmarked serving content from Apache 2.2.8 Load Balancer configured as follows:</cite>
                    <UL>
                        <LI>
                            <cite>This same configuration was able to serve content as fast as Apache 2.2.8 using Load Balancer serving requests through 3 Django Instances.</cite>
                            <UL>
                                <LI>
                                    <cite>Apache 2.2.8 Load Balancer serving requests through 20 Vyper-Proxies.</cite>
                                </LI>
                                <LI>
                                    <cite>Vyper-Proxy serving content through 3 Django Instances.</cite>
                                </LI>
                            </UL>
                        </LI>
                    </UL>
                </LI>
            </UL>
        </li>
        <li>
            <cite>Replace your current web server with Vyper-Proxy&trade; Enterprise Edition.</cite>
            <UL>
                <LI>
                    <cite>Vyper-Proxy&trade; Enterprise Edition serve requests through many persistent Django Application Instances.</cite>
                </LI>
                <LI>
                    <cite>Vyper-Proxy&trade; Enterprise Edition can span multiple physical servers each with many persistent Django Application Instances.</cite>
                </LI>
                <LI>
                    <cite>Vyper-Proxy&trade; Enterprise Edition can help you build your own Django Cloud.</cite>
                </LI>
                <LI>
                    <cite>Vyper-Proxy&trade; Enterprise Edition can serve request to any HTTP/1.1 Application including but not limited to any of the following:</cite>
                    <UL>
                        <LI>
                            <cite>Python+Django (any version of either)</cite>
                        </LI>
                        <LI>
                            <cite>Python+TurboGears (any version of either)</cite>
                        </LI>
                        <LI>
                            <cite>Python+WSGI (any version of either)</cite>
                        </LI>
                        <LI>
                            <cite>PHP (any version)</cite>
                        </LI>
                        <LI>
                            <cite>Java (any version)</cite>
                        </LI>
                        <LI>
                            <cite>.Net Applications (any version, any application)</cite>
                        </LI>
                        <LI>
                            <cite>IIS Applications (any version, any application)</cite>
                        </LI>
                        <LI>
                            <cite>Apache (any version, any application)</cite>
                        </LI>
                        <LI>
                            <cite>LiteSpeed (any version, any application)</cite>
                        </LI>
                        <LI>
                            <cite>Any HTTP/1.1 Web Server (any version, any application)</cite>
                        </LI>
                    </UL>
                </LI>
                <LI>
                    <cite>Each Vyper-Proxy&trade; Enterprise Edition "node" can service requests for an arbitrary list of HTTP/1.1 End-Points.</cite>
                    <UL>
                        <LI>
                            <cite>Each Vyper-Proxy&trade; "node" is an HTTP/1.1 End-Point</cite>
                        </LI>
                        <LI>
                            <cite>Any Program or Application that services HTTP/1.1 Requests is also an HTTP/1.1 End-Point</cite>
                        </LI>
                    </UL>
                </LI>
                <LI>
                    <cite>Vyper-Proxy&trade; Enterprise Edition "nodes" be networked to cause HTTP/1.1 Requests to be serviced faster.</cite>
                    <UL>
                        <LI>
                            <cite>Cascading downward networks can be more efficient than linear uni-dimensional networks.</cite>
                        </LI>
                        <LI>
                            <cite>Networking many physical computers together as follows can be very powerful:</cite>
                            <UL>
                                <LI>
                                    <cite>Each physical computer gets a large Cascading downward network of Vyper-Proxy&trade; Enterprise Edition "nodes".</cite>
                                </LI>
                                <LI>
                                    <cite>The bottom leaf of each node tree is a Vyper-Proxy&trade; Enterprise Edition "node" that pushes requests to another distributed Vyper-Proxy&trade; Enterprise Edition "node" network on another computer.</cite>
                                </LI>
                            </UL>
                        </LI>
                    </UL>
                </LI>
            </UL>
        </li>
    </UL>
    </blockquote>
    
    <blockquote><div>Vyper-Proxy&trade; Enterprise Edition has been Benchmarked with Apache 2.2.x Load Balancer passing through as little as 3 Vyper-Proxy&trade; Proxies up to 2x faster than native Apache 2.2.x.</div>
    </blockquote>
    
    <blockquote><div><a href="/vyper-proxy/download/" target="_top">Vyper-Proxy&trade; Community Edition Downloads</a> available only from this web site.</div>
    <OL>
        <li><cite>Before downloading users are asked to Register their Email Address with our Product Registration Server.</cite></li>
        <li><cite>Make sure you use your Real Internet Email Address.</cite></li>
        <li><cite>You cannot use an Email Address from any of the known <a href="/freehosts/" target="_top">Free Email Hosts</a>.</cite></li>
        <li><cite>Vyper-Proxy&trade; uses your Email Address to validate your End User License Agreement.</cite></li>
        <li><cite>Vyper-Proxy&trade; allows 1 active instance per User Account.</cite></li>
        <li><cite>Install on any Windows computer you may wish however you may use only 1 instance at a time.</cite></li>
        <li><cite>You must validate your Email Address by clicking on a validation link before you can use Vyper-Proxy&trade;.</cite></li>
        <li><cite>Vyper-Proxy&trade; cannot be configured to handle requests for port 80 or port 443.</cite></li>
        <li><cite>Vyper-Proxy&trade; cannot be configured to bind to any IP address other than 127.0.0.1.</cite></li>
        <li>
            <cite>Vyper-Proxy&trade; does not use Sticky Sessions however you can configure your own Sticky Session handler.</cite><br/>
            <UL>
                <LI>
                    <cite>You can store the session id in a client-side cookie. (Not everyone allows client cookies.)</cite>
                </LI>
                <LI>
                    <cite>You can store the session id in every URL. (Prefix every URL with the Session ID.)</cite>
                </LI>
                <LI>
                    <cite><a href="http://www.stereoplex.com/two-voices/cookieless-django-sessions-and-authentication-without-cookies" target="_blank">Cookieless Django: Sessions and authentication without cookies</a></cite>
                </LI>
                <LI>
                    <cite><a href="http://www.djangosnippets.org/snippets/1191/" target="_blank">Using another memcached for sessions</a></cite>
                </LI>
                <LI>
                    <cite>Vyper-Proxy&trade; achieves speed and efficiency by spreading out the requests among a number of persistent Django App Instances.  All the benefits of FAST-CGI without the need to use FAST-CGI.</cite>
                </LI>
            </UL>
        </li>
        <li><cite>Vyper-Proxy&trade; Community Edition is intended for non-commercial educational use only.</cite></li>
        <li><cite>Vyper-Proxy&trade; Enterprise Edition may be used for commercial enterprises.</cite></li>
    </OL>
    </blockquote>
    
    <blockquote><div>Vyper-Proxy&trade; Enterprise Edition does not have any of the Community Edition Operational Limitations.</div>
    <cite>Vyper-Proxy&trade; Enterprise Edition Licenses are available upon request.</cite>
    </blockquote>
</div>
<br/><br/><br/>
