<br/><br/><br/>
<div style="color: black; width: 400px; margin-left: 20px;">
    <h2 class="first_content_element">Vyper-Cloud&trade; SDK</h2>
    
    <style>
        .emphasis {
            /* color: lime; */
        }
    
        .emphasis2 {
            /* color: #FFFF00; */
        }
    </style>
    
    <p>
    The Vyper-Cloud&trade; SDK is a Software Development Kit that makes building and deploying a Computing Cloud Fast and Easy.
    </p>
    
    <h3>The Vyper-Cloud&trade; SDK Features</h3>
    <cite>Contact us to build your next Computing Cloud.<cite>
    <ul class="testimonials">
        <li class="quote"><cite class="emphasis">Fully compatible with Linux and Windows OS's</cite></li>
        <li class="quote">
            <ul>
                <li class="quote"><cite class="emphasis">Any Node in a Vyper-Cloud&trade; can use any version of Linux or any version of Windows.</cite></li>
                <li class="quote"><cite class="emphasis">Vyper-Cloud&trade; Nodes are dynamic, Nodes can be created and destroyed in a fully dynamic manner..</cite></li>
            </ul>
        </li>
        <li class="quote"><cite class="emphasis">Vyper-Cloud&trade; supports an elastic model; all Nodes are fully dynamic using any TCP/IP address that is accessible to the other Nodes in the Cloud.</cite></li>
        <li class="quote"><cite class="emphasis">Auto-Discovery of Vyper-Cloud&trade; Nodes.  Whenever a node initializes it becomes avalable to the other Nodes in the Cloud.</cite></li>
        <li class="quote"><cite class="emphasis">Vyper-Cloud&trade; Nodes can span Networks.  Nodes can be configured to forward requests from one Network to another Network.</cite></li>
        <li class="quote"><cite class="emphasis">Multiple Nodes can be configured on the same physical computer to maximize computing resources and computing cores.</cite></li>
        <li class="quote"><cite class="emphasis">Vyper-Cloud&trade; Nodes can be configured to execute any program or service that can be run on the computer that hosts the Node.</cite></li>
        <li class="quote"><cite class="emphasis">Vyper-Cloud&trade; can manage persistent data in a distributed manner using any available Relational or non-Relational database such as mySQL, SQL Server, Oracle or our own proprietary database, Vyper-Stor&trade;.</cite></li>
        <li class="quote"><cite class="emphasis">Vyper-Cloud&trade; Nodes use SSL or SSH to achieve Secure connections for each Node.</cite></li>
        <li class="quote"><cite class="emphasis">Vyper-Cloud&trade; provides a Secure Console to facilitate Administration of the Cloud.</cite></li>
    </ul>
    
    <h3>Investors</h3>
    <p class="last_content_element">
    For investment inquiries, please contact <a href="mailto:investors@vyperlogix.com">investors@vyperlogix.com</a>.
    </p>
</div>
<br/><br/><br/>
