<style type="text/css">
<!--
a.userlink {
  color: #2A638E; 
}
a.userlink:visited {
	color: blue; 
}
a.userlink:hover {
	color: #000000; 
}
font[size="1"] { font-size:10px; }
font[size="2"] { font-size:11px; }
font[size="3"] { font-size:12px; }
font[size="4"] { font-size:13px; }
font[size="5"] { font-size:14px; }
font[size="6"] { font-size:15px; }
font[size="7"] { font-size:18px; }

#banner a:link { background: #000; color: #000; text-decoration: none;}
#banner a:visited {background: #000; color: #000; text-decoration: none;}
#banner a:hover {background: #000; color: #000;}
a:hover {
	color: black;
	font-weight:bold;
}
a:link {
	color: black;
	font-weight:bold;
}
a:visited {
	color: blue;
	font-weight:bolder;
}
h1 {
color: black;
font-size:250%;
font-weight:bold;
margin-top:0.4em;
}
h2 {
color: black;
font-size:150%;
font-weight:bold;
margin-top:0.4em;
}
h3 {
color: black;
font-size:120%;
font-weight:bold;
margin-top:0.4em;
}
.error {
	color: red;
}
.errorBg {
	color: red;
	background-color:white;
}
.greenBg {
	color: green;
	background-color:white;
}
.greenFg {
	color: green;
}
.cyanFg {
	color: navy;
}
#products_list {
	display:block;
	list-style-image:inherit;
	list-style-position:outside;
	list-style-type:disc;
	line-height: 30px;
	list-style:disc;
}
#products_list li {
    height: 20px;
	display:list-item;
	list-style-type:disc;
}
#products_list2 li {
    height: 30px;
	display:list-item;
	list-style-type:disc;
}
.tabTitle {
	color: blue;
	font-weight:bolder;
}
-->
</style>

