{% extends 'base.html' %}
{% block title %}Heat Maps Demo v{{version}}{% endblock %}

{% block extra-head %}
<script language="JavaScript1.2" type="text/javascript">
var requiredMajorVersion = 10;
var requiredMinorVersion = 1;
var requiredRevision = 0;
</script>
<script src="{{insecure_endpoint}}/static/air-badge/AC_RunActiveContent.js" type="text/javascript"></script>
<script language="JavaScript1.2" type="text/javascript">
var hasReqestedVersion = DetectFlashVer(requiredMajorVersion, requiredMinorVersion, requiredRevision);
</script>
{% endblock %}

{% block css %}
{% endblock %}

{% block include-css %}'/static/css.css'{% endblock %}

{% block container %}
<div class="align-left">
	<p>This is a demo for the latest Heat Maps Client v{{version}}.</p>
</div>

<noscript>
<table id="messageTable">
<tr>
	<td>
	</td>
</tr>
</table>
</noscript>

<div id="messages">
<p align="left">{{ message }}</p>
</div>

<div id="warning3" class="align-center">
</div>
{% endblock %}