    	{% if random_cate_arts.0.cate.name %}<div id="main_sider_randomcate">
    		<H2>{{ random_cate_arts.0.cate.name|safe }}</H2>
    		<UL>
    			{% for each in random_cate_arts %}<LI><a title="{{ each.title }}" href="{% url cms.views.show_article keyid=each.key.id %}">{{ each.title }}</a></LI>
    			{% endfor %}
    		</UL>
    	</div>{% endif %}
    	<div id="main_sider_hot">
    		<H2>{% trans "Hot Aticles" %}</H2>
    		<UL>
    			{% for each in hot_arts %}<LI><a title="{{ each.title }}" href="{% url cms.views.show_article keyid=each.key.id %}" target="_blank">{{ each.title }}</a></LI>
    			{% endfor %}
    		</UL>
    	</div>
    	{% if right_ad_mid %}<div id="main_sider_mid_ad">{{ right_ad_mid|safe }}</div>{% endif %}
    	{% ifequal browse_stage 'home' %}{% if comments %}<div id="main_sider_comment">
    		<H2>{% trans "New Comments" %}</H2>
    		<UL>
    			{% for each in comments %}<LI class="commentli">{% if each.site %}<a title="Link to {{ each.name }} site" href="{{ each.site }}" target="_blank" >{{ each.name|slice:":12" }}</a>{% else %}<span title="{{ each.name }}">{{ each.name|slice:":12" }}</span>{% endif %}: <a title="Post by {{ each.name }} at {{ each.EST_time|date:"Y-m-d H:i:s" }}&#13;{{ each.content }}" href="{% url cms.views.show_article keyid=each.article.key.id %}#{{ each.key.id }}" target="_blank">{{ each.content }}</a></LI>
    			{% endfor %}
    		</UL>
    	</div>{% endif %}{% endifequal %}
    	{% if links %}<div id="main_sider_links">
    		<H2>{% trans "Links" %}</H2>
    		<UL>
    			{% for each in links %}<a title="{{ each.name }}" href="{{ each.url }}" target="_blank">{{ each.name }}</a>
    			{% endfor %}
    		</UL>
    	</div>{% endif %}
    	<div id="gg_search" align="center">        
    	<form action="/search" id="cse-search-box" style="margin: 0px;pading:0px;">
			<input type="hidden" name="cx" value="016876823373999327127:ft-wrlrsoqu" />
			<input type="hidden" name="cof" value="FORID:11" />
			<input type="hidden" name="ie" value="UTF-8" />
			<input type="text" name="q" size="21" id="s" onblur =" b;"/>
			<input type="submit" name="sa" value="{% trans 'Search' %}" />    
			</form>
			<script type="text/javascript" src="http://www.google.com/cse/brand?form=cse-search-box&lang={% if USE_I18N %}zh-Hans{% else %}en{% endif %}"></script>
           <script type="text/javascript">
        (function(){        
            var q = document.getElementById('s');
            var b = function() { 
                if (q.value == '') { 
                    q.style.background = '#ffffff url(\x2Fmedia\x2Fimages\x2Fsearch_{% if USE_I18N %}cn{% else %}en{% endif %}.gif) left no-repeat'; 
                } 
            };
            q.onblur = b;             
            b();
            })();          
           </script>            
        </div>
    	{% if right_ad_bot %}<div id="main_sider_bot_ad">{{ right_ad_bot|safe }}</div>{% endif %}
