<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html><head>

	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<title>{{ the_title }} {{ current_date }}</title>
	<link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}(c).Copyright_VyperLogixCorp4.css">
	<link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}(c).Copyright_VyperLogixCorp.css">
	<link rel="stylesheet" type="text/css" href="{{ BOXES_URL }}rounded_boxes.css">
	<!--[if IE]>
		<link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}(c).Copyright_VyperLogixCorp3.css">
	<![endif]-->
	<link rel="icon" href="{{ ICON_URL }}favicon.ico" type="image/gif">
	<link rel="shortcut icon" href="{{ ICON_URL }}favicon.ico" type="image/gif">
	
	<link type="text/css" rel="stylesheet" href="{{ MEDIA_URL }}(c).Copyright_VyperLogixCorp2.css">
	<!--[if IE]>
		<link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}(c).Copyright_VyperLogixCorp3.css">
	<![endif]-->
	<script language="JavaScript1.2" type="text/javascript">
		function endpoint_changed(this) {
			alert(this.options[this.selectedIndex].value);
		}
	</script>
</head><body>
	<div id="site_container">
		<div class="basic_info">
			<a href="http://www.magma-da.com">Magma Design Automation, "Design Ahead of the Curve"</a> |
			<a href="mailto:salesforce-support@Magma-DA.COM">salesforce-support@Magma-DA.COM</a>
		</div>
			
<div id="site_header" style="height: 30px;">
			<ul class="meta">
				<li>Magma Design Automation, "Design Ahead of the Curve"</li>
	</ul>
			
			
				<ul class="navigation">
					
			<li class="home active first">
				<a href="/">
					<span class="outer_container">
						<span class="inner_container">
							Home
						</span>
					</span>
				</a>
			</li>
	</ul>
		</div>
	<div id="site_body">
			
		<div class="content">
			{{ content }}
		</div>
	</div>
<div id="site_footer">
			
				<div class="holder">
		<div class="block first">
		</div>

		<div class="legal block">
		</div>

		<div class="contact block last">
			<p>For support inquiries, you can contact support via
			<a href="mailto:salesforce-support@Magma-DA.COM">salesforce-support@Magma-DA.COM</a></p>
		</div>
	</div>

		</div>
	</div>
</body></html>