<form action="/contact/retrieve_password" method="post">
<table id="login_form" align="center">
	<tr>
		<td colspan="2">

			<h2>Retrieve Your Password</h2>
			Type your email address and we'll send instructions for changing your password.
		</td>
	</tr>
	<tr>
		<td class="prompt">Email:</td>
		<td><input id="email" name="email" type="text" /></td>
	</tr>

	<tr>
		<td class="prompt"></td>
		<td><input name="commit" type="submit" value="Get My Password" /></td>
	</tr>
</table>
</form>

