<table width=100%>
	<tr>
		<td align=center>
			<H1>Turn This</H1>
		</td>
		<td align=center>
			<H1>into</H1>
		</td>
		<td align=center>
			<H1>This</H1>
		</td>
	</tr>
	<tr>
		<td align=center width="40%">
			<img src={{ MEDIA_URL }}new/images/python-on-egg2.jpg border=0 width="250">
		</td>
		<td align=center width="*">
			<h2>using</h2>
			<br/>
			<H1>pyEggs&trade;</H1>
			<br/>
			<br/>
			<a href=/get-started/><img src={{ MEDIA_URL }}new/images/get-started-button.jpg></a>
		</td>
		<td align=center width="40%">
			<img src={{ MEDIA_URL }}new/images/python-secure-on-egg2.jpg border=0 width="250">
		</td>
	</tr>
	<tr>
		<td align=center>
			<H1>Plain Python Egg</H1>
		</td>
		<td>&nbsp;
			
		</td>
		<td align=center>
			<H1>Secure/Encrypted/Sourceless Python Egg</H1>
		</td>
	</tr>
</table>
