<table width=100%>
	<tr>
		<td>
			<table width="50%">
				<tr bgcolor="#CCCCCC">
					<td width="60%"><b>Term of Service</b></td>
					<td width="20%"><b>Price</b></td>
					<td width="*"><b>PayPal</b></td>
				</tr>
				<tr>
					<td>1 Upload per 7 Days</td>
					<td>NO COST</td>
					<td>&nbsp;</td>
				</tr>
				<tr>
					<td>2 Upload per 7 Days</td>
					<td>$1.99/month</td>
					<td>&nbsp;</td>
				</tr>
				<tr>
					<td>4 Uploads per 7 Days</td>
					<td>$2.99/month</td>
					<td>&nbsp;</td>
				</tr>
				<tr>
					<td>14 Uploads per 14 Days</td>
					<td>$4.99/month</td>
					<td>&nbsp;</td>
				</tr>
				<tr>
					<td>30 Uploads per 30 Days</td>
					<td>$4.99/month</td>
					<td>&nbsp;</td>
				</tr>
				<tr>
					<td>2 Uploads per 1 Day</td>
					<td>$9.99/month</td>
					<td>&nbsp;</td>
				</tr>
				<tr>
					<td>5 Uploads per 1 Day</td>
					<td>$19.99/month</td>
					<td>&nbsp;</td>
				</tr>
			</table>
		</td>
	</tr>
</table>
