<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html><head>

	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<title>pyEggs™ {{ the_title }} {{ current_date }}</title>
	<link rel="stylesheet" type="text/css" href="http://media.pyeggs.com/pyeggs/media/site_layout.css">
	<link rel="stylesheet" type="text/css" href="http://media.pyeggs.com/pyeggs/media/body_styling.css">
	<!--[if IE]>
		<link rel="stylesheet" type="text/css" href="http://media.pyeggs.com/pyeggs/media/ie_fixes.css">
	<![endif]-->
	<link rel="icon" href="http://www.pypi.info/favicon.gif" type="image/gif">
	<link rel="shortcut icon" href="http://www.pypi.info/favicon.gif" type="image/gif">
	
	<link type="text/css" rel="stylesheet" href="http://media.pyeggs.com/pyeggs/media/default.css">
	<!--[if IE]>
		<link rel="stylesheet" type="text/css" href="http://media.pyeggs.com/pyeggs/media/ie_fixes.css">
	<![endif]-->
</head><body>
	<div id="site_container">
		<div class="basic_info">
			Vyper Logix Corp, The Python Company |
			<a href="mailto:info@phusion.nl">support@vyperlogix.com</a>		</div>
			
<div id="site_header">
			<ul class="meta">
				<li>Vyper Logix Corp, The Python Company</li>
	</ul>
			
			
				<ul class="corporate_identity">
					<li class="logo">
						<a href="http://www.vyperlogix.com" target="_blank"><span>Vyper Logix Corp</span></a>					</li>
				</ul>
				<ul class="navigation">
					
			<li class="home inactive">
				<a href="/">
					<span class="outer_container">
					<span class="inner_container">
						Home					</span>					</span>				</a>			</li>
		
	
			<li class="blog inactive">
			  <a href="http://www.pypi.info/" target="_blank">
					<span class="outer_container">
					<span class="inner_container">
						Blog					</span>					</span>			  </a>			</li>
		
	
		  <li class="about inactive">
				<a href="/about">
					<span class="outer_container">
					<span class="inner_container">
						About					</span>					</span>				</a>			</li>
	</ul>
				<h1>
					<span>pyEggs™ Automate and Encrypt your Python Eggs</span>				</h1>
		</div>
	  <div id="site_body">
			
	<ul class="navigation passenger_navigation" style="display: none;">
		
			<li class="overview inactive first">
				<a href="/">
					<span class="outer_container">
					<span class="inner_container">
						Home					</span>					</span>				</a>			</li>
		
		
		
			<li class="install inactive">
				<a href="/install">
					<span class="outer_container">
					<span class="inner_container">
						Install					</span>					</span>				</a>			</li>
		
		
			<li class="documentation inactive">
				<a href="/documentation">
					<span class="outer_container">
					<span class="inner_container">
						Documentation					</span>					</span>				</a>			</li>
		
		
			<li class="commercial_support inactive">
				<a href="/commercial_support">
					<span class="outer_container">
					<span class="inner_container">
						(Commercial) Support					</span>					</span>				</a>			</li>
		
		
			<li class="development inactive">
				<a href="/development">
					<span class="outer_container">
					<span class="inner_container">
						Development					</span>					</span>				</a>			</li>
		
		
			<li class="blog inactive last">
				<a href="http://www.pypi.info" target="_blank">
					<span class="outer_container">
					<span class="inner_container">
						Blog					</span>					</span>				</a>			</li>
	</ul>
	<div class="content">
<ul class="testimonials last_content_element">
	<li class="quote">
		<blockquote><div>“pyEggs™ makes it possible to deploy Python code with confidence without the need to expose your valuable source code to your competition.”</div></blockquote>
	</li>
	<li class="quote">
		<blockquote><div>While pyEggs™ is under development you can salivate over what YOU can do with Secure Encrypted Python Eggs... No more worries about whether or not your Source code will be used by your competitors.</div></blockquote>
        <cite>pyEggs™ will be made available for downloads shortly... Please return to check on our development progress often.</cite>
	</li>
</ul>
	</div>
		</div>
<div id="site_footer">
			
				<div class="holder">
		<div class="block first">
			<h6>About</h6>
			<p>pyEggs™ automates the production of Python Eggs with support for Encryption that allows you to deploy your Python source with confidence in maintaining your Intellectual Property Rights.</p>
		</div>

		<div class="legal block">
			<h6>Legal</h6>
			<p><a href="/">pyEggs</a> is a product of <a href="http://www.vyperlogix.com/" target="_blank">Vyper Logix Corp</a>.</p>
			<p>"pyEggs" and "VyperLogix" are trademarks of <a href="http://www.vyperlogix.com/" target="_blank">Vyper Logix Corp</a>.
		  All rights reserved.</p>
			<p>Everything on this website is copyright © <a href="http://www.vyperlogix.com/" target="_blank">Vyper Logix Corp</a>, unless explicitly stated otherwise.</p>
			<p>“Python” and the Python logo are trademarks of The Python Foundation. All rights reserved. Name used with permission of trademark
holder.</p>
		</div>

		<div class="contact block last">
			<h6>Contact</h6>
			<p>Vyper Logix Corp, The Python Company, specializes in offering top of
		  the line Python products and services to high profile clients.</p>
			
			<p>For business inquiries, you can contact us via
			<a href="mailto:support@vyperlogix.com">support@vyperlogix.com</a></p>
		</div>
	</div>

		</div>
	</div>
</body></html>