<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body>

<table width="100%">
	<tr>
    	<td align="left">
        	<BIG>Time to craft the content for your site.<br/></BIG>
            <p>You will notice an icon that looks like <img src="/static/images/icons/edit-mark.png" width="32" border="0"/>, click on it to edit the content in the area where this icon has been placed.</p>
            <p>There is one <img src="/static/images/icons/edit-mark.png" width="32" border="0"/> icon for the header and another for footer of your site.  You may replace the content for your header and footer by clicking on the <img src="/static/images/icons/edit-mark.png" width="32" border="0"/> icon.</p>
            <p>The remaining pages of content will appear within the center area of the site between the header and footer.</p>
            <p>There are two kinds of Pages you may add to your site.  One kind of Page is tied to the Menu Bar, the other is not.</p>
            <p>When you add a Page that is tied to the Menu Bar a button will be added to your Menu Bar.  There will always be 3 buttons on your Menu Bar by default; the Home button, the Login button and Register button.</p>
            <p>The other Page type allows you to added Content Pages your visitors will access by clicking on a link that leads to one of these pages.</p>
            <p>When you see an icon that looks like <img src="/static/images/icons/add-mark.png" width="32" border="0"/> you may click it to Add a page to your site.</p>
            <p>When you see an icon that looks like <img src="/static/images/icons/edit-mark.png" width="32" border="0"/> you may click it to Change the current page from being a Page that is tied to the Menu Bar to one that is not or vice-versa.  You may click the <img src="/static/images/icons/edit-mark.png" width="32" border="0"/> icon to remove a Menu Bar Button from the Menu Bar and vice-versa.</p>
            <p>When you click the "Edit Site" button you will be shown a pop-up window with the aforementioned icons that allow you to edit your site's content.</p>
            <p>When you click the "View Site" button you will be shown your site just as those who visit your site will be shown.</p>
            <p>Enjoy...</p>
        </td>
    </tr>
    <tr>
    	<td align="center">
        	<table width="50%" align="center">
                <tr>
                    <td width="50%" align="center">
                    	<a href="/vyper-cms/content/edit/" title="Build your Site" class="popupwindow" rel="windowCenter">Build your Site</a>
					</td>
                </tr>
            </table>
        </td>
    </tr>
</table>
<script language="javascript" type="text/javascript">
	var profiles =
	{
		window800:
		{
			height:800,
			width:800,
			status:1
		},
 
		window200:
		{
			height:200,
			width:200,
			status:1,
			resizable:0
		},
 
		windowCenter:
		{
			height:screen.height-100,
			width:screen.width-100,
			center:1,
			location:0
		},
		
		windowNotNew:
		{
			height:300,
			width:400,
			center:1,
			createnew:0
		}
 
	};
	$(".popupwindow").popupwindow(profiles);
</script>

</body>
</html>
