<table width="100%">
	<tr>
    	<td>
            <h2 class="first_content_element">Registered Vyper-Proxy&trade; Community Edition</h2>
        </td>
    </tr>
	<tr>
    	<td>
            <fieldset>
Thank you for submitting your Registration for the {{ PRODUCT_NAME }}.<br/><br/>

Watch your emails for a link you must click to activate your {{ PRODUCT_NAME }} License.<br/><br/>

After you activate your {{ PRODUCT_NAME }} License you will receive an email with the Download Link.<br/><br/>

Please review the following EULA before installing and using {{ PRODUCT_NAME }}:
<hr width="80%" color="#FFFF00" />
<p>
{{ EULA }}
</p>
            </fieldset>
        </td>
    </tr>
</table>
