<table width="100%">
	<tr>
    	<td>
            <h2 class="first_content_element">Vyper-Proxy&trade; Community Edition Already Activated</h2>
        </td>
    </tr>
	<tr>
    	<td>
            <fieldset>
            	<p>Vyper-Proxy&trade; Community Edition was previously Activated.</p>
            	<p>At this time you may begin using your activated product.</p>
            	<p>You may upgrade your product online as well as seek additional solutions from our site.</p>
            </fieldset>
        </td>
    </tr>
</table>
