<table width="100%">
	<tr>
    	<td>
            <h2 class="first_content_element">Vyper-Proxy&trade; Community Edition Activation Failed</h2>
        </td>
    </tr>
	<tr>
    	<td>
            <fieldset>
            	<p>Activation has failed.</p>
            	<p>At this time you must Register again to obtain another Activation link.</p>
            	<p>If this problem persists you must contact <a href="mailto:support@vyperlogix.com">support@vyperlogix.com</a> for a problem resolution.</p>
            </fieldset>
        </td>
    </tr>
</table>
