<table width="100%">
	<tr>
    	<td>
            <h2 class="first_content_element">Download Vyper-Proxy&trade; Community Edition</h2>
        </td>
    </tr>
	<tr>
    	<td>
            <small><i>Your download will be provided to you via email upon completion of the Registration and Activation Process.  Vyper-Proxy&trade; Community Edition will only function when it is downloaded via this download process.  Do not share your download with anyone.</i></small>
        </td>
    </tr>
	<tr>
    	<td>
            <fieldset>
        	<table width="100%">
                {{ DOWNLOAD_FORM }}
            </table>
            </fieldset>
        </td>
    </tr>
</table>
