<!--
<link href="/static/facebox/facebox.css" media="screen" rel="stylesheet" type="text/css" /> 
<link href="/static/facebox/faceplant.css" media="screen" rel="stylesheet" type="text/css" /> 
<script src="/static/facebox/facebox.js" type="text/javascript"></script> 
<script type="text/javascript"> 
jQuery(document).ready(function($) {
  $('a[rel*=facebox]').facebox({
    loading_image : '/static/facebox/loading.gif',
    close_image   : '/static/facebox/closelabel.gif'
  }) 
})
</script>
 -->
