<div id="site_footer">
        <div class="holder">
		<div class="block first">
			<h6>About</h6>
			<p>Vyper Logix Corp is your 21st Century Python Products Development Service Firm.  We are here with more than 150,000 lines of reusable Python code we can use to get your next Django, Twisted, TurboGears or Python projects completed with less effort than would be possible otherwise.</p>
			<p>Vyper Logix Corp is currently developing a replacement for SalesForce.Com.</p>
			<p>Vyper Logix Corp is currently developing a Stealth Browser for the Internet to be powered by VyperDjango featuring SSL Encryption to protect who you are while using any IP and Mac address you want to use to hide who you are while browing the Internet.</p>
			<p>Vyper Logix Corp is currently developing a Google Search Interface we call GogoleHound to allow you to do Google searches without being bothered by all those Google Ads - to be combined with Stealth Browser to allow you to search Google Anonymously (take that Google !).</p>
		</div>
		<div class="legal block">
			<h6>Legal</h6>
			<p><a href="http://www.pyeggs.com/">pyEggs&trade;</a> is a product of <a href="http://www.vyperlogix.com/" target="_blank">Vyper Logix Corp</a>.</p>
            <!--
			<p><a href="http://www.pdfxporter.com/">PDFxporter&trade;</a> is a product of <a href="http://www.vyperlogix.com/" target="_blank">Vyper Logix Corp</a>.</p>
             -->
			<p><a href="/ruby-to-django/" target="_top">Ruby on Rails to Django&trade;</a> is a product of <a href="http://www.vyperlogix.com/" target="_blank">Vyper Logix Corp</a>.</p>
			<p><a href="/ruby-to-django/" target="_top">RoR to Django&trade;</a> is a product of <a href="http://www.vyperlogix.com/" target="_blank">Vyper Logix Corp</a>.</p>
            <!--
			<p><a href="/vyper_cloud_sdk/" target="_top">Vyper-Cloud SDK&trade;</a> is a product of <a href="http://www.vyperlogix.com/" target="_blank">Vyper Logix Corp</a>.</p>
             -->
			<p>Everything on this website is copyright © <a href="http://www.vyperlogix.com/" target="_blank">Vyper Logix Corp</a>, unless explicitly stated otherwise.</p>
            <h5>Trademarks</h5>
			<p>"pyEggs", "PDFxporter", "Ruby on Rails to Django", "RoR to Django", "Vyper-Cloud SDK" and "VyperLogix" are trademarks of <a href="http://www.vyperlogix.com/" target="_blank">Vyper Logix Corp</a>.
		  All rights reserved.</p>
            <h5>Copyright</h5>
            Copyright © 1990-{{ current_year }} Vyper Logix Corp™, unless explicitly
            stated otherwise.
			<p>Powered by <a href="/django20/" target="_blank">VyperDjango</a></p>
		</div>
		<div class="contact block last">
			<h6>Contact</h6>
			<p>Vyper Logix Corp, Makers of Premier Python Products, specializes in offering top of
		  the line Python products and services to high profile clients.</p>
			
			<p>For business inquiries, you can contact us via
			<a href="mailto:support@vyperlogix.com">support@vyperlogix.com</a></p>
		</div>
	</div>
</div>
<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
try {
var pageTracker = _gat._getTracker("UA-8240307-1");
pageTracker._trackPageview();
} catch(err) {}</script>
