<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html><head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
	<title>{{ the_title }}</title>
    {{ STYLES_CONTENT }}
    {{ TABS_HEADER }}
<script type="text/javascript" src="/static/syntaxhighlighter_2.0.320/scripts/shCore.js"></script> 
<script type="text/javascript" src="/static/syntaxhighlighter_2.0.320/scripts/shBrushBash.js"></script> 
<script type="text/javascript" src="/static/syntaxhighlighter_2.0.320/scripts/shBrushCpp.js"></script> 
<script type="text/javascript" src="/static/syntaxhighlighter_2.0.320/scripts/shBrushCSharp.js"></script> 
<script type="text/javascript" src="/static/syntaxhighlighter_2.0.320/scripts/shBrushCss.js"></script> 
<script type="text/javascript" src="/static/syntaxhighlighter_2.0.320/scripts/shBrushDelphi.js"></script> 
<script type="text/javascript" src="/static/syntaxhighlighter_2.0.320/scripts/shBrushDiff.js"></script> 
<script type="text/javascript" src="/static/syntaxhighlighter_2.0.320/scripts/shBrushGroovy.js"></script> 
<script type="text/javascript" src="/static/syntaxhighlighter_2.0.320/scripts/shBrushJava.js"></script> 
<script type="text/javascript" src="/static/syntaxhighlighter_2.0.320/scripts/shBrushJScript.js"></script> 
<script type="text/javascript" src="/static/syntaxhighlighter_2.0.320/scripts/shBrushPhp.js"></script> 
<script type="text/javascript" src="/static/syntaxhighlighter_2.0.320/scripts/shBrushPlain.js"></script> 
<script type="text/javascript" src="/static/syntaxhighlighter_2.0.320/scripts/shBrushPython.js"></script> 
<script type="text/javascript" src="/static/syntaxhighlighter_2.0.320/scripts/shBrushRuby.js"></script> 
<script type="text/javascript" src="/static/syntaxhighlighter_2.0.320/scripts/shBrushScala.js"></script> 
<script type="text/javascript" src="/static/syntaxhighlighter_2.0.320/scripts/shBrushSql.js"></script> 
<script type="text/javascript" src="/static/syntaxhighlighter_2.0.320/scripts/shBrushVb.js"></script> 
<script type="text/javascript" src="/static/syntaxhighlighter_2.0.320/scripts/shBrushXml.js"></script> 
<link type="text/css" rel="stylesheet" href="/static/syntaxhighlighter_2.0.320/styles/shCore.css"/> 
<link type="text/css" rel="stylesheet" href="/static/syntaxhighlighter_2.0.320/styles/shThemeDefault.css"/> 
<script type="text/javascript"> 
SyntaxHighlighter.config.clipboardSwf = '/static/syntaxhighlighter_2.0.320/scripts/clipboard.swf';
SyntaxHighlighter.all();
</script> 
<META HTTP-EQUIV="Pragma" CONTENT="no-cache">
<META HTTP-EQUIV="Cache-Control" CONTENT="no-cache, must-revalidate">
<META HTTP-EQUIV="Expires" CONTENT="{{ EXPIRES_TIME }}">
<META HTTP-EQUIV="Last-Modified" CONTENT="{{ LAST_MODIFIED }}">
<meta name="verify-v1" content="KrJu/KdWXeZSTN6OWNcGFvHll5jtSbc7MkwndGh/rFs=" >
</head><body>
	<div id="site_container">
		<div class="basic_info">
			<a href="http://www.vyperlogix.com">Vyper Logix Corp, Makers of Premier Python Products</a> |
			<a href="mailto:support@vyperlogix.com">support@vyperlogix.com</a>
		</div>
