<script type="text/javascript" src="/static/ddtabmenu/ddtabmenu.js">
/***********************************************
* DD Tab Menu script- © Dynamic Drive DHTML code library (www.dynamicdrive.com)
* This notice MUST stay intact for legal use
* Visit Dynamic Drive at http://www.dynamicdrive.com/ for full source code
***********************************************/
</script>
<!-- CSS for Tab Menu #1 -->
<link rel="stylesheet" type="text/css" href="/static/ddtabmenu/ddtabmenu.css" />
<!-- CSS for Tab Menu #2 -->
<link rel="stylesheet" type="text/css" href="/static/ddtabmenu/glowtabs.css" />
<!-- CSS for Tab Menu #3 -->
<link rel="stylesheet" type="text/css" href="/static/ddtabmenu/solidblocksmenu.css" />
<!-- CSS for Tab Menu #4 -->
<link rel="stylesheet" type="text/css" href="/static/ddtabmenu/ddcolortabs.css" />
<!-- CSS for Tab Menu #5 -->
<link rel="stylesheet" type="text/css" href="/static/ddtabmenu/chromemenu.css" />
<script type="text/javascript">
ddtabmenu.definemenu("ddtabs3", {{ id }})
</script>
