<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Downloading...</title>
<script type="text/javascript" src="http://127.0.0.1:8888/static/lightwindow/javascript/prototype.js"></script>
<script type="text/javascript" src="http://127.0.0.1:8888/static/lightwindow/javascript/scriptaculous.js?load=effects"></script>
<script type="text/javascript" src="http://127.0.0.1:8888/static/lightwindow/javascript/lightwindow.js"></script>
<link rel="stylesheet" href="http://127.0.0.1:8888/static/lightwindow/css/lightwindow.css" type="text/css" media="screen" /></head>
<body>
<script language="javascript" type="text/javascript">
myLightWindow = new lightwindow();

myLightWindow.activateWindow({
	href: 'http://127.0.0.1:8888/downloads/#Python%202.5%20Reference%20Card.7z/', 
	title: '#Python%202.5%20Reference%20Card.7z', 
	author: 'www.VyperLogix.Com', 
	caption: '#Python%202.5%20Reference%20Card.7z', 
	top: 0,
	left: 0,
	height: 200,
	width: 300
});
</script>
</body>
</html>
