<BR/><BR/>
<h3>Welcome to the Python Downloads Library</h3>
<BR/><BR/>
<BIG>Choose your file from the right and click the link to begin the download.</BIG>
<BR/><BR/>
<BIG>Can't find the file you need?  We are adding more downloads all the time.</BIG>
<BR/><BR/>
<BIG>We will soon add a Search Feature to aid your ability to locate the file you seek.</BIG>
{{ CONTENT }}
<script type="text/javascript" language="javascript">
<!--
function popup(url,name) {
	var width  = 300;
	var height = 200;
	var left   = (screen.width  - width)/2;
	var top    = (screen.height - height)/2;
	var params = 'width='+width+', height='+height;
	params += ', top='+top+', left='+left;
	params += ', directories=no';
	params += ', location=no';
	params += ', menubar=no';
	params += ', resizable=no';
	params += ', scrollbars=no';
	params += ', status=no';
	params += ', toolbar=no';
	newwin=window.open(url,name, params);
	if (window.focus) {newwin.focus()}
	return false;
}
// -->
</script>