<h3 style="line-height: 20px; font-size: 12px;">Check back here for The Python Downloads you have to have.</h3>
<br/><br/>
<h3 style="line-height: 20px; font-size: 12px;">In the meantime, <a href="/register/" target="_top" style="color: #00F; font-size: 12px;">Get Registered</a>.</h3>
<br/><br/>
<h3 style="line-height: 20px; font-size: 12px;">Only Registered Members of this site get to play with all those Python Downloads.</h3>
<br/><br/>
<h3 style="line-height: 20px; font-size: 12px;">Think of the time you would have to spend to find the Python Downloads you must have - we have them all right here in one place.</h3>
