<center><h3><BIG>Vyper Logix Corp Announces the PYPI API</BIG></h3></center>
<hr width="80%" color="#FFFF00" />
<br/>
<br/>
<table width="100%">
	<tr>
    	<td width="100%">
        	<h2>PYPI API Features: {{ NON_MEMBERS_NOTICE }}</h2>
            <ul>
            	<li>List All Packages.</li>
            	<li>Retrieve properties for a Package.</li>
            	<li>Edit properties for a Package.</li>
            	<li>SSL Support for the PYPI.</li>
            	<li>Pyro Interface for the PYPI.</li>
            </ul>
            <br/>
        	<h3 style="line-height: 20px; font-size: 14px;">Python interface - allows Python programmers to access their PYPI Packages programmatically using Python.</h3>
            <br/><br/>
        	<h2>PYPI API Benfits:</h2>
            <ul>
            	<li>Automatically update your PYPI Package Properties when committing code through SVN.</li>
            	<li>Access your PYPI Packages via Django.</li>
            </ul>
            <br/><br/>
        	<h3 style="line-height: 20px; font-size: 12px;">The Vyper Logix Corp PYPI API is built into the <a href="http://library.vyperlogix.com/" target="_blank" style="font-size: 12px;">Vyper Logix Library</a>.</h3>
            <br/><br/>
            {{ CONTENT }}
        </td>
    </tr>
</table>
