<div class=Section1>

<h3>Username Sent</h3>

<p class=MsoNormal style='line-height:normal'><span style='font-size:10.0pt;
font-family:"Times New Roman","serif"'>Access to this site as a Registered User
will be granted access for Active Monthly Subscribers <u>only</u>.</span></p>

<p class=MsoNormal style='line-height:normal'><span style='font-size:10.0pt;
font-family:"Times New Roman","serif"'>Your username has been sent to your email address.</span></p>

<ul type=disc>
 <li class=MsoNormal style='line-height:normal'><span style='font-size:12.0pt;
     font-family:"Times New Roman","serif"'><a
     href="/login/">Login? </a></span></li>
</ul>

</div>
