BODY {
	PADDING-RIGHT: 0px;
	PADDING-LEFT: 0px;
	FONT-SIZE: 12px;
	PADDING-BOTTOM: 0px;
	MARGIN: 0px auto;
	WIDTH: 100%;
	COLOR: #333333;
	PADDING-TOP: 0px;
	FONT-FAMILY: Arial, Tahoma, Verdana;
	background-color: #112233;
}
#doc2 {
	BORDER-RIGHT: #112233 10px solid; PADDING-RIGHT: 0px; BORDER-TOP: #112233 10px solid; PADDING-LEFT: 0px; BACKGROUND: #112233; PADDING-BOTTOM: 0px; MARGIN: 0px auto; BORDER-LEFT: #112233 10px solid; WIDTH: 960px; PADDING-TOP: 0px; BORDER-BOTTOM: #112233 10px solid; POSITION: relative
}
A {
	COLOR: #333333; TEXT-DECORATION: none
}
A:visited {
	COLOR: #333333; TEXT-DECORATION: none
}
A:hover {
	COLOR: #000000; TEXT-DECORATION: underline
}
A IMG {
	BORDER-TOP-STYLE: none; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; BORDER-BOTTOM-STYLE: none
}
A:focus {
	outline: none
}
A:hover {
	outline: none
}
A:active {
	outline: none
}
#hd {
	background-color: #335577;
}
#hd1 {
	COLOR: #ffffff;
	background-color: #335577;
	background-image: url(images/corners_cap_top.gif);
	background-repeat: no-repeat;
	background-position: center top;
	margin-bottom: 8px;
	padding-top: 8px;
}
#hd2 {
	background-image: url(images/corners_cap_bot.gif);
	background-repeat: no-repeat;
	background-position: center bottom;
	padding-bottom: 8px;
}

#head_top {
	text-align: right;
	padding-right: 8px;
	background-color: #335577;
}
#head_logo {
	float: left;
	width: 160px;  
	margin-top:5px;  
}
#head_top_ad {
	float: left;
	padding-left: 10px;
}
#head_nav {
	margin:5px 6px 0px 6px;
}
#nav {
	margin-top: 0px;
	margin-right: 10px;
	margin-bottom: 0px;
	margin-left: 0px;
	font-weight: bold;
	height: 2.1em;
	padding-top: 2px;
	padding-right: 2px;
	padding-bottom: 2px;
	padding-left: 2px;
}

#nav li {
	float: left;
	clear: none;
}

#nav li a {
	display: block;
	color: #CCCCCC;
	font-size: 110%;
	text-decoration: none;
	background-image: url(images/nav-split.gif);
	background-repeat: no-repeat;
	background-position: 100% 3px;
	margin: 0px;
	border-top: 0px solid #eeeeee;
	border-bottom: 1px solid #666666;
	padding-top: 5px;
	padding-right: 5px;
	padding-bottom: 2px;
	padding-left: 5px;
}

#nav li a:hover {
    text-decoration: none;
	border-top: none;
    border-bottom: 1px solid #cccccc;
	color: #ffffff;
}

#bd {
	border: 0px solid #CCCCCC;
	padding: 0px;
	margin-bottom: 4px;
}
#yui-main {
	border: 0px dashed #CCCCCC;
}

#main_content1 {
	background-color: #eeeecc;
	background-image: url(images/corners_main_top.gif);
	background-repeat: no-repeat;
	background-position: left top;
	margin-bottom: 8px;
	padding-top: 8px;
}
#main_content2 {
    background-color: #eeeecc;
	background-image: url(images/corners_main_bot.gif);
	background-repeat: no-repeat;
	background-position: center bottom;
	padding-bottom: 8px;
}

#main_content {
	padding: 4px;
	margin-bottom: 0px;
	margin-left: 0px;
	background-color: #eeeecc;
	border-right-width: 1px;
	border-left-width: 1px;
	border-right-style: solid;
	border-left-style: solid;
	border-right-color: #CCCCCC;
	border-left-color: #CCCCCC;
}
#post_date {
	PADDING-RIGHT: 0px;
	PADDING-LEFT: 20px;
	PADDING-BOTTOM: 0px;
	PADDING-TOP: 0px;
	float: left;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 5px;
	background-image: url(images/icon_time.gif);
	background-repeat: no-repeat;
	background-position: left top;
	font-style: italic;
	color: #999999;
}
#post_new_comment {
	PADDING-RIGHT: 0px;
	PADDING-LEFT: 18px;
	BACKGROUND: url(images/icon_comment_left.gif) no-repeat left top;
	PADDING-BOTTOM: 0px;
	PADDING-TOP: 0px;
	float: right;
	margin-right: 5px;
}
#post_content {
	padding: 4px;
	margin-bottom: 8px;
	font-size: 121%;
	line-height: 170%;
}
#post_content a{
	color: #990000;
	text-decoration: none;
}
#post_content a:hover{
	color: #FF0000;
	text-decoration: underline;
}
#post_content IMG {
	BORDER-RIGHT: #bbbbbb 1px solid; PADDING-RIGHT: 4px; BORDER-TOP: #bbbbbb 1px solid; PADDING-LEFT: 4px; PADDING-BOTTOM: 4px; MARGIN: 0px 0px 5px; BORDER-LEFT: #bbbbbb 1px solid; PADDING-TOP: 4px; BORDER-BOTTOM: #bbbbbb 1px solid;max-width:97% !important; max-height:97% !important;
}
#post_content P{
	padding-bottom: 1em;
	text-indent: 2em;
}
BLOCKQUOTE {
	PADDING-RIGHT: 20px;
	PADDING-LEFT: 15px;
	PADDING-BOTTOM: 0px;
	MARGIN: 0px 25px 15px;
	PADDING-TOP: 10px;
	background-color: #CCCC99;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: dashed;
	border-right-style: dashed;
	border-bottom-style: dashed;
	border-left-style: dashed;
	border-top-color: #dddddd;
	border-right-color: #999999;
	border-bottom-color: #999999;
	border-left-color: #dddddd;
	color: #666666;
}
BLOCKQUOTE P{
	padding-bottom: 1em;	
}

#main_content_top {
	border: 0px solid #CCCCCC;
	margin-bottom: 8px;
}
#main_content_slider {
	border: 1px solid #CCCCCC;
	height: 218px;
}
#main_content_new {
	border: 1px solid #CCCCCC;
}
#main_content_top_ad {
	border: 0px solid #CCCCCC;
	margin-bottom: 8px;
}
#main_content_cate_left {
    border: 1px solid #CCCCCC;
	margin-bottom: 8px;
}
#main_content_cate_right {
    border: 1px solid #CCCCCC;
	margin-bottom: 8px;
}
.yui-u {
	BACKGROUND: url(images/featuredtop.gif) #e1e1c0 no-repeat 50% top;
}
.yui-u H1{
	background-image: url(images/arrow2.gif);
	background-repeat: no-repeat;
	background-position: left center;
	background-color: #eeeecc;
	display: block;
	width: 322px;
	font-size: 103%;
	font-weight: bold;
	text-transform: capitalize;
	color: #666666;
	margin: 10px;
	padding-top: 6px;
	padding-bottom: 6px;
	padding-left: 12px;
	border-bottom-width: 1px;
	border-bottom-style: inset;
	border-bottom-color: #CCCCCC;
}
.yui-u H1 a{
	text-decoration: none;
	color: #333333;	
}
.yui-u H1 a:hover{
	text-decoration: none;
	border-bottom: 2px solid #7a3254;
}
.yui-u ul {
	padding-bottom: 10px;
}
.yui-u li {
	background-image: url(images/arrow.gif);
	background-repeat: no-repeat;
	background-position: left center;
	margin-left: 10px;
	padding-left: 12px;
	line-height: 1.5;
	width: 90%;
	white-space:nowrap;
	text-overflow:ellipsis; 
	-o-text-overflow:ellipsis; 
	overflow: hidden;
}
.yui-u li a{
	text-decoration: none;
}
.yui-u li a:hover{
	text-decoration: underline;	
}
#main_content_mid_ad {
	border: 0px solid #CCCCCC;
	margin-bottom: 8px;
	width: 100%;	
}
#main_content_bot_ad {
	border: 0px solid #CCCCCC;
	margin-bottom: 8px;
}
#main_content_browse {
	background-image: url(images/ico-3.gif);
	background-repeat: no-repeat;
	background-position: left center;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #eeeeee;
	padding-top: 4px;
	padding-right: 8px;
	padding-bottom: 4px;
	padding-left: 8px;
	margin-right: 8px;
	margin-left: 8px;
}
#main_sider_top1 {
	BACKGROUND: url(images/corners_prof_top.gif) #558866 no-repeat left top;
	margin-bottom: 8px;
	padding-top: 8px;
}
#main_sider_top2 {
	BACKGROUND: url(images/corners_prof_bot.gif) #558866 no-repeat left bottom;
	padding-bottom: 8px;
}

#main_sider_bot1 {
	BACKGROUND: url(images/corners_side_top.gif) #335577 no-repeat left top;
	margin-bottom: 8px;
	padding-top: 8px;
}
#main_sider_bot2 {
	BACKGROUND: url(images/corners_side_bot.gif) no-repeat left bottom;
	padding-bottom: 8px;
}
#main_sider {
	line-height: 170%;
}
#main_sider H2{
	background-image: url(images/arrow2.gif);
	background-repeat: no-repeat;
	background-position: left center;
	padding-left: 12px;
	display: block;
	width: 192px;
	font-size: 103%;
	font-weight: bold;
	text-transform: capitalize;
	margin-top: 0px;
	margin-bottom: 4px;
	padding-top: 3px;
	padding-bottom: 3px;
	color: #CCCCCC;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: dashed;
	border-top-color: #999999;
}
#main_sider li{
    width:190px;
	white-space:nowrap;
	text-overflow:ellipsis; 
	-o-text-overflow:ellipsis; 
	overflow: hidden;
}
#main_sider_top_ad , #main_sider_mid_ad , #main_sider_bot_ad {
	padding: 4px;
	margin-bottom: 8px;
	margin-right: 2px;
	margin-left: 2px;
}
#main_sider_admin ,#main_sider_hot , #main_sider_tags , #main_sider_comment ,#main_sider_randomcate,#main_sider_links {
	padding: 4px;
	margin-bottom: 4px;
	margin-right: 2px;
	margin-left: 2px;
}
#main_sider_tags {
	line-height: 1.3em;
}
#main_sider_hot ul li {
	background-image: url(images/arrow3.gif);
	background-repeat: no-repeat;
	background-position: left center;
	padding-left: 12px;
	line-height: 1.5;
}
#main_sider_randomcate ul li {
	background-image: url(images/arrow3.gif);
	background-repeat: no-repeat;
	background-position: left center;
	padding-left: 12px;
	line-height: 1.5;
}
#main_sider_comment ul li {
	background-image: url(images/icon_comment_left.gif);
	background-repeat: no-repeat;
	background-position: left center;
	padding-left: 14px;
	line-height: 1.5;
}
#ft1 {
	COLOR: #ffffff;
	background-color: #335577;
	background-image: url(images/corners_cap_top.gif);
	background-repeat: no-repeat;
	background-position: center top;
	margin-top: 12px;
	padding-top: 8px;
}
#ft2 {
	background-image: url(images/corners_cap_bot.gif);
	background-repeat: no-repeat;
	background-position: center bottom;
	padding-bottom: 8px;
}
#ft {
	PADDING: 4px;
	color: #999999;
	text-align: center;
	background-color: #335577;
}
#ft a{
	color: #CCCCCC;
}
#ft a:hover{
	color: #FFFFFF;
}
#cate_atr_list {
	margin-top: 2px;
	margin-right: 10px;
	margin-bottom: 10px;
	margin-left: 0px;
	padding: 0px;
	width: 99%;
	border-top-style: solid;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	border-top-width: 1px;
	border-top-color: #CCCCCC;
}

#cate_atr_list li {
	float: left;
	clear: none;
	background-image: url(images/arrow.gif);
	background-repeat: no-repeat;
	background-position: left center;
	padding-left: 12px;
	line-height: 1.5;
	padding-right: 12px;
	width: 43%;
	border-bottom-width: 1px;
	border-bottom-style: dashed;
	border-bottom-color: #CCCCCC;
	margin-right: 5px;
	display: block;
	padding-top: 2px;
	padding-bottom: 2px;
	margin-top: 2px;
	margin-bottom: 2px;
	margin-left: 5px;
	white-space:nowrap;
	text-overflow:ellipsis; 
	-o-text-overflow:ellipsis; 
	overflow: hidden;
}
#tag_atr_list {
	margin-top: 2px;
	margin-right: 10px;
	margin-bottom: 10px;
	margin-left: 0px;
	padding: 0px;
	width: 100%;
	border-top-style: solid;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	border-top-width: 1px;
	border-top-color: #CCCCCC;
}

#tag_atr_list li {
	float: left;
	clear: none;
	background-image: url(images/arrow.gif);
	background-repeat: no-repeat;
	background-position: left 0.5em;
	padding-left: 12px;
	line-height: 1.7;
	padding-right: 12px;
	width: 95%;
	border-bottom-width: 1px;
	border-bottom-style: dashed;
	border-bottom-color: #CCCCCC;
	margin-right: 0px;
	display: block;
	padding-top: 2px;
	padding-bottom: 2px;
	margin-top: 2px;
	margin-bottom: 5px;
	margin-left: 5px;
	white-space:nowrap;
	text-overflow:ellipsis;
	-o-text-overflow:ellipsis; 
	overflow: hidden;
	color: #666666;
}
.art_title{
	font-size: 160%;
	line-height: 120%;
	font-weight: bold;
	margin: 8px;
	padding: 10px;
	text-align: center;
}
.code  { 
	background-image:url(/media/images/code.gif);   
	font-family:Arial;   
	font-style:italic;
	font-size:16px;
	color:Red;   
	border:0;   
	padding:2px 3px;   
	letter-spacing:3px;   
	font-weight:bolder;   
}   
.unchanged {   
	border:0;   
}
.category {
	FLOAT: right;
	PADDING-RIGHT: 0px;
	PADDING-LEFT: 18px;
	BACKGROUND: url(images/icon_category.gif)  no-repeat left top;
	PADDING-BOTTOM: 0px;
	PADDING-TOP: 0px;
	margin-right: 5px;
}
.taglist {
	PADDING-LEFT: 18px;
	background-image: url(images/icon_tags.gif);
	background-repeat: no-repeat;
	background-position: left bottom;
	margin-right: 5px;
}
.comment_frame{
	BACKGROUND: url(images/comment_title_top.gif) #eeeecc no-repeat 50% top;
	border: 1px solid #dddddd;
	margin-top: 10px;
	padding: 4px;
	
}
#comment_list {
	width: 712px;
}
.comment_title {
	font-size: 103%;
	font-weight: bold;
	color: #330000;
	background-color: #eeeecc;
	background-image: url(images/icon_arrow.gif);
	background-repeat: no-repeat;
	background-position: left center;
	padding-top: 4px;
	padding-right: 4px;
	padding-bottom: 4px;
	padding-left: 14px;
}
.comment_even {
	padding-top: 1px;
	padding-right: 1px;
	padding-bottom: 5px;
	padding-left: 1px;
	background-color: #eeeecc;
	margin-bottom: 4px;
	border-top: 1px solid #eeeeee;
	border-left: 3px solid #cccccc;
}
.comment_odd {
	padding-top: 1px;
	padding-right: 1px;
	padding-bottom: 5px;
	padding-left: 1px;
	background-color: #e1e1c0;
	margin-bottom: 4px;
	border-top: 1px solid #dddddd;
	border-left: 3px solid #999999;
}

.comment {
	PADDING-RIGHT: 0px;
	PADDING-LEFT: 18px;
	PADDING-BOTTOM: 2px;
	PADDING-TOP: 4px;
	background-image: url(images/icon_comment_left.gif);
	background-repeat: no-repeat;
	background-position: left center;
}
.comment_con {
	padding-top: 4px;
	padding-right: 4px;
	padding-bottom: 4px;
	padding-left: 4px;
}
#main_sider_top3 {
	color: #cccccc;
}
#main_sider_top3 a{
	color: #eeeeee;
}
#main_sider_top3 a:hover{
	color: #ffffff;
}
#main_sider_bot3 {
	color: #CCCCCC;
}
#main_sider_bot3 a{
	color: #99ddbb;
}
#main_sider_bot3 a:hover{
	color: #FFFFFF;
}
.clear {
	CLEAR: both
}
