{{ HEAD }}
<body class="oneColElsCtrHdr">
<div id="container">
	<div id="header">
    	<table width="100%"><tr><td align="left"><a id="banner" href="http://todo.raychorn.com" title="Manage your Life&trade;" target="_top"><img src="/static/vista/ToDoList-Logo.gif" border="0" /></a></td></tr><tr><td align="right">{{ MENU }}</td></tr></table>
	</div>
	<div id="mainContent">
    	{{ INNER_CONTENT }}
	</div>
	<div id="footer">
    	{{ FOOTER }}
	</div>
</div>
{{ GOOGLE_ANALYTICS }}
</body>
</html>
