	<h2 class="first_content_element">About Vyper Logix Corp</h2>

Vyper Logix Corp is an IT company based in Silicon Valley, California, USA. Our mission statement
is as follows:
<blockquote><div><em>To exclusively provide top-of-the-line Python-based products, services and ideas,
in order to support our clients’ businesses.</em></div></blockquote>

<p>
Our passion lies in delivering excellent IT products and services. With these
products and services, we strive to bring innovation to the IT industry in the
largest possible way. In other words, to bring about revolutions. Needless to say,
we enjoy working with companies and individuals who share this passion.
</p>

<h2>Our expertise and the value we provide</h2>
<p>
In this era, there is no scarcity of competition in the field of IT. It is for this reason
that many IT service businesses have been forced to accelerate their business processes. However,
product and service quality – and in turn, client satisfaction – often suffers as a result.
</p>
<p>
We understand that creating excellent products and providing excellent services requires
time and expertise. We possess a wide variety of skills and we are well-experienced in
software development and serving clients. Thus, we are confident that we can deliver greater
value to our clients.
</p>
<p>
For the time being, we specialize in providing services and solutions related to the
<a href="http://www.python.org/" target="_blank">Python™ Language</a>. Our products,
<a href="http://www.pyeggs.com/" target="_blank">pyEggs™</a> and <a href="http://www.pdfxporter.com/" target="_blank">PDFxporter™</a> 
are excellent examples of what we are capable of.
</p>
<p>
It is perhaps also worth mentioning that we’re currently working closely with academic institutions to publish our work in the Academic Community.
</p>

<h2>Our business model, our clients</h2>
Our business model consists of two parts.
<dl>
<dt>Serving premium clients</dt>
<dd>
    Instead of focusing on quantity, we put the emphasis on quality. Our employees have
    had a lot of experience working on (large) commercial projects. We have always pushed
    ourselves to deliver the best products and services that we are capable of, and
    we enjoy working with businesses that share this interest. It is for this reason
    that we only offer our services to these premium businesses.
</dd>

<dt>Professional open source</dt>
<dd>
    We have had a lot of experience working in the open source community,
    and we have grown very attached to it. We believe that the open source
    development model, in conjunction with the driving force of a commercial
    company, allows us to deliver higher quality products. In other words,
    we believe that this is the best way for a commercial institution to give
    back to the community.
</dd>
</dl>

<h2>Contact</h2>
<p class="last_content_element">
For business inquiries, please contact <a href="mailto:support@vyperlogix.com">support@vyperlogix.com</a>.
</p>
