<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html><head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<title>{{ the_title }}</title>
	<meta name="verify" content="\xee\xef\xf7\xa0\xe9\xf3\xa0\xf4\xe8\xe5\xa0\xf4\xe9\xed\xe5\xa0\xe6\xef\xf2\xa0\xf9\xef\xf5\xa0\xf4\xef\xa0\xf3\xf4\xe1\xf9\xa0\xef\xe6\xe6\xa0\xed\xf9\xa0\xf3\xe9\xf4\xe5" />    {{ STYLES_CONTENT }}
    {{ TABS_HEADER }}
</head><body>
	<div id="site_container">
		<div class="basic_info">
			<a href="http://www.vyperlogix.com">Vyper Logix Corp, Makers of Premier Python Products</a> |
			<a href="mailto:support@vyperlogix.com">support@vyperlogix.com</a>
		</div>
