<table width="100%">
	<tr>
		<td>
            <ul class="testimonials">
                <li class="quote">
                    <blockquote><div>Welcome to the Vyper Logix Resource Site</div></blockquote>
                    <cite>This is your one-stop shop for Python Downloads.</cite>
                    <cite>More content is coming soon.</cite>
                    <cite>Links to downloads is coming soon.</cite>
                    <cite>Search Engine is coming soon.</cite>
                    <cite>Feed our Spider is coming soon.</cite>
                    <cite>Subscription Service is coming soon.</cite>
                </li>
            </ul>
		</td>
		<td>
                <form action="/search/" method="post" enctype="application/x-www-form-urlencoded">
                    <input id="keyword" name="keyword" size="32" maxlength="128"><img src="/icons/search.gif" border="0">
                </form>
		</td>
	</tr>
</table>
<table width="100%">
	<tr>
		<td>
{{ HOME_CONTENT }}
		</td>
	</tr>
</table>
