	<li class="selected"><a href="/">MOLTEN Home</a></li>
	<li class="">
	    <a href="#" id="support_cases_link" onclick="switch_to_support_cases(); return false;">Support Cases</a>
	</li>
	
          <li class="">
            <a href="/solutions/index">Solutions</a>
          </li>
          <li class="">
              <a href="/training/index">Training</a>
          </li>
	
          <li class="">
          <a href="/flash/training/Molten_Demo_Final/Molten_Demo_Final.html" target="_blank" title="Click to start the Molten Demo video presentation.">
            Molten Demo
          </a>
        </li>
	<li class="" style="float: right; margin-right: 20px;">
		<a href="/contact/settings">Account</a>
	</li>
