<h2 class="gray buried_header">Check Your Registration Status</h2>
<br/>
If you have registered for an account but have not yet received your login information, 
type your email address below to view your registration status.
<br/><br/>
<form action="/contact/status" method="get">
<table class="form">
	<tr>
		<td class="prompt">Email:</td>
		<td class="value"><input id="email" name="email" type="text" /></td>
	</tr>

	<tr>
		<td class="prompt"></td>
		<td><input name="commit" type="submit" value="Get Registration Status" /></td>
	</tr>
</table>
</form>

