<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html><head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<title>{{ the_title }}</title>
	<meta name="verify-v1" content="+M9zz/aMUx+EA5gB7WNjjsPdMiFiv0ZAyPHHjS60JpE=" />
    {{ STYLES_CONTENT }}
    {{ TABS_HEADER }}
</head><body{{ BODY_TAG }}>
	<div id="site_container">
		<div class="basic_info">
			<a href="http://www.vyperlogix.com">Vyper Logix Corp, Makers of Premier Python Products</a> |
			<a href="mailto:support@vyperlogix.com">support@vyperlogix.com</a>
		</div>
