<!--[if lt IE 8]>
    <script src="{{ MEDIA_URL }}IE8.js" type="text/javascript"></script>
<![endif]-->
<link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}(c).Copyright_VyperLogixCorp4.css">
<link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}(c).Copyright_VyperLogixCorp.css">
<!--[if IE]>
    <link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}(c).Copyright_VyperLogixCorp3.css">
<![endif]-->
<link rel="icon" href="http://www.pypi.info/favicon.gif" type="image/gif">
<link rel="shortcut icon" href="http://www.pypi.info/favicon.gif" type="image/gif">
<link rel="stylesheet" href="{{ MEDIA_URL }}(c).Copyright_VyperLogixCorp2.css" type="text/css">

<style type="text/css"><!--
	BODY {font-family:"Arial"; font-size:12;}
	P {font-family:"Arial"; font-size:12;}
--></style>
<script>
	ns4 = document.layers && true;
	msie = document.all && true;
	function init() {
	}
</script>

