<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html><head>

	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<title>{{ the_title }} {{ current_date }}</title>
	<link rel="stylesheet" type="text/css" href="http://media.vyperlogix.com/media/(c).Copyright_VyperLogixCorp4.css">
	<link rel="stylesheet" type="text/css" href="http://media.vyperlogix.com/media/(c).Copyright_VyperLogixCorp.css">
	<!--[if IE]>
		<link rel="stylesheet" type="text/css" href="http://media.vyperlogix.com/media/(c).Copyright_VyperLogixCorp3.css">
	<![endif]-->
	<link rel="icon" href="http://media.vyperlogix.com/media/favicon.ico" type="image/gif">
	<link rel="shortcut icon" href="http://media.vyperlogix.com/media/favicon.ico" type="image/gif">
	
	<link type="text/css" rel="stylesheet" href="http://media.vyperlogix.com/media/(c).Copyright_VyperLogixCorp2.css">
	<!--[if IE]>
		<link rel="stylesheet" type="text/css" href="http://media.vyperlogix.com/media/(c).Copyright_VyperLogixCorp3.css">
	<![endif]-->
</head><body>
	<div id="site_container">
		<div class="basic_info">
			<a href="http://www.vyperlogix.com" target="_blank">Vyper Logix Corp, Web Presence, Software Development</a> |
			<a href="mailto:support@vyperlogix.com">support@vyperlogix.com</a>
            <p></p>
		</div>
        <h3 align="center">My Credit Matters - Get Out of Debt</h3>
        <h3 align="center">toll free 1 888 270 6792</h3>
			
	  <div id="site_body">
			
	<iframe src="/tabs/0" scrolling="auto" frameborder="0" height="100" width="100%" name="tabs_content"></iframe>
	<div class="content">
	</div>
		</div>
<div id="site_footer">
			
				<div class="holder">
		<div class="block first">
			<h6>About Us</h6>
			<p>We can get you out of debt.</p>
		</div>

		<div class="legal block">
			<h6>Legal</h6>
			<p>"Vyper Logix" is a trademark of <a href="http://www.vyperlogix.com/" target="_blank">Vyper Logix Corp</a>.
		  All rights reserved.</p>
		</div>

		<div class="contact block last">
			<h6>Contact</h6>
			<p>Vyper Logix Corp, Makers of Premier Python-based Products™, specializes in offering top of
		  the line Python products and services to high profile clients.</p>
			
			<p>For business inquiries, you can contact us via
			<a href="mailto:support@vyperlogix.com">support@vyperlogix.com</a></p>
			<p></p>
			<p>To get out of debt, you can contact us via
			<a href="mailto:getoutofdebt@msn.com">getoutofdebt@msn.com</a></p>
		</div>
	</div>

		</div>
	</div>
</body></html>