{% extends 'base.html' %}
{% block title %}VyperCMS v2.0.1{% endblock %}

{% block extra-head %}
<script language="JavaScript1.2" type="text/javascript">
</script>
{% endblock %}

{% block css %}
{% endblock %}

{% block navigation %}
{% endblock %}

{% block navigation-about %} style="display:none;"{% endblock %}

{% block page_content %}
<div id="column_l">
	<h1>About Vyper Logix Corp.</h1>
	<p>Vyper Logix Corp is a California Corporation with offices in San 
	Francisco and Los Angeles.</p>
	<h2>Founded 2008</h2>
	<p>Founded in 2008 and seeking Venture Capital.</p>
	<h3>30+ years of Software Development Experience</h3>
	<ul>
		<li>Vyper Logix Corp has 30+ years of Software Development 
		Experience and is uniquely positioned to think outside the box.</li>
		<li>Vyper Logix Corp uses only the most efficient software 
		development practices as well as only the most efficient 
		software development tools.</li>
		<li>Vyper Logix Corp deploys systems and servers using the most 
		scalable technologies possible.</li>
		<li>Vyper Logix Corp knows how to optimize Ruby on Rails 
		deployment to achieve 400% (4x) greater throughput than would be 
		possible using standard Ruby on Rails deployments most 
		professionals know how to build.</li>
		<li>Vyper Logix Corp knows how to deploy state-of-the-art LAMP 
		servers that can rock your customers hitting your site at a rate 
		greater than 150 million hits per day per server with no 
		downtime.</li>
	</ul>
</div>
<div id="column_r">
	<img alt="" height="213" src="http://media.vyperlogix.com/gae/vyperlogixcorp/static/vlc510/msfp_smbus1_02.jpg" width="320" />
	<p>The Vyper Logix Development Team is manned by top-notch 
	professionals who know how to achieve your goals.</p>
	<p>You may contact Vyper Logix Corp via
	<a href="mailto:sales@vyperlogix.com">sales@vyperlogix.com</a>.</p>
</div>
{% endblock %}
