{% extends 'main.html' %}

{% block page_content %}
<div id="column_l">
	<h1>Android</h1>
	<p>Vyper Logix Corp can provide you with the Android Market Presence you need at minimal cost.   Let us manage the code while you manage the profits.</p>
	<h2>App Samples</h2>
	<p><a href="http://python2.wordpress.com/android/" target="_blank">Android Application Samples</a> featuring state-of-the-art software packaging techniques that leverage the full capabilities of the Android platform.</p>
</div>
<div id="column_r">
   <img src="http://media.vyperlogix.com/gae/vyperlogixcorp/static/images/android-logo.jpg"/>
</div>
{% endblock %}
