{% load currenttimetag %}
{% get_current_time "%Y-%M-%d %I:%M %p" as my_current_time %}
<!DOCTYPE html 
     PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
     "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
    dir="{% if LANGUAGE_BIDI %}rtl{% else %}ltr{% endif %}"
    xml:lang="{% firstof LANGUAGE_CODE 'en' %}"
    lang="{% firstof LANGUAGE_CODE 'en' %}">
  <head>
	<META HTTP-EQUIV="Pragma" CONTENT="no-cache">
	<META HTTP-EQUIV="Expires" CONTENT="-1">
	<meta http-equiv="Cache-Control" content="no-store" />
	<meta http-equiv="Cache-Control" content="no-cache">
	<meta http-equiv="Expires" content="Sat, 01 Dec 2001 00:00:00 GMT">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>{% block title %}{% endblock %} &copy;Vyper Logix Corp., All Rights Reserved. ({{ my_current_time }})</title>
    {% block css %}
      <!--[if IE]>
      <![endif]-->
    {% endblock %}

    <script src="http://media.vyperlogix.com/gae/vyperlogixcorp/js/dynamic.js" language="javascript" type="text/javascript"></script>
    {% block js %}
    {% endblock %}

    <script language="javascript" type="text/javascript">
	{% block include-css %}include_css('/static/vlc510/layout.css');include_css('/static/vlc510/style2.css');include_css('/static/css/base.css');{% endblock %}

	var _timer1 = -1;
	var __counter__ = 0;
	var __begin__ = 0;
	var __logo__ = 'http://media.vyperlogix.com/gae/vyperlogixcorp/static/vlc510/VLC-header-world-05-11-2010a.gif';
	function debug_init() {
	    var c = document.getElementById('__debug');
	    if (c) {
		c.value = '';
	    }
	}
	function debug_write(s) {
	    var c = document.getElementById('__debug');
	    if (c) {
		c.value = s+'\n' + c.value;
	    }
	}
	function signalStop() {
	    clearInterval(_timer1);
	    _timer1 = -1;
	    debug_write('STOP !');
	}
	function checkForFlash() {
	    var c = document.getElementById('flashContainer');
	    if (c) {
		var d = new Date();
		__counter__ = d.getTime() - __begin__;
		if (__counter__ > 5000) {
		    onNoFlashInstalled();
		    signalStop();
		}
		debug_write(d.getTime()+' :: __counter__='+__counter__);
	    }
	}
	{% block more-javascript %}{% endblock %}
	function onLoadSWFObject(){
	    var s=generate_flash_content(10,0,0,'http://media.vyperlogix.com/gae/vyperlogixcorp/static/swf/SwfLoader/SwfLoader.swf?swf=2F7374617469632F7377662F7377664C6F676F2F766C634C6F676F2E737766&width=950&height=230&c=flashContainer',1030,230,'vlcLogo','vlcLogo','white','http://www.vyperlogix.com',__logo__,'21st Century Innovation with Vyper Logix Corp.'); 
	    var c = document.getElementById('flashContainer');
	    if ( (c) && (window.location.href.indexOf('localhost:') == -1) ) {
		c.innerHTML = s;
		RightClick.init('worldmap_v3_flash8a','flashContainer');
		debug_init();
		var d = new Date();
		__begin__ = d.getTime();
		_timer1 = setInterval('checkForFlash()',1000);
	    }
	    {% block onLoadSWFObject %}{% endblock %}
	    {% block onDocumentReady %}{% endblock %}
	}
	function onNoFlashInstalled() {
	    var c = document.getElementById('flashContainer');
	    if (c) {
		c.style.display = 'inline';
		c.innerHTML = '<img src="'+__logo__+'"/>';
	    }
	    {% block onNoFlashInstalled %}{% endblock %}
	}
	onDocumentReady = function () {
	    var ie  = !!(window.attachEvent && !window.opera);
	    var wk  = /webkit\/(\d+)/i.test(navigator.userAgent) && (RegExp.$1 < 525);
	    if (ie) {
		    var c = document.getElementById('container');
		    if (c) {
			c.innerHTML = '<p>You can <a href="http://www.google.com/chrome" target="_blank">download Google Chrome</a> or <a href="http://www.mozilla.com/en-US/products/firefox/" target="_blank">download Mozilla FireFox</a></p><p>Come back with one of the supported browsers...</p>';
		    }
		    alert('This site is best viewed using Google Chrome or Mozilla FireFox 3.x however you are using IE so stop it !');
	    }
	    include_js('http://media.vyperlogix.com/gae/vyperlogixcorp/js/browser-detect.js',function(){ include_js('http://media.vyperlogix.com/gae/vyperlogixcorp/js/flash_detect_min.js',function(){ if (FlashDetect.installed) { debug_write('+++ FlashDetect.revisionStr='+FlashDetect.revisionStr+', FlashDetect.raw='+FlashDetect.raw+', FlashDetect.major='+FlashDetect.major+', FlashDetect.minor='+FlashDetect.minor+', BrowserDetect.browser='+BrowserDetect.browser+', BrowserDetect.version='+BrowserDetect.version+', BrowserDetect.OS='+BrowserDetect.OS); include_js('http://media.vyperlogix.com/gae/vyperlogixcorp/js/swfObject.js',function(){ include_js('http://media.vyperlogix.com/gae/vyperlogixcorp/js/rightClick.js',onLoadSWFObject) }); } else { onNoFlashInstalled() } }); });
	    var dC = document.getElementById('__debugContainer');
	    if ( (dC) && (window.location.href.indexOf('127.0.0.1') > -1) ) {
		dC.style.display = 'inline';
	    }
	    var _toks = window.location.href.split('/');
	    var href = '/'+_toks[(_toks[_toks.length-1].length == 0) ? _toks.length-2 : _toks.length-1]+'/';
	    if ( (href.indexOf('localhost') > -1) || (href.indexOf('.appspot.com') > -1) ) {
		href = '';
	    } else if (href.indexOf('.html') > -1) {
		href = '/'+_toks[(_toks[_toks.length-1].length == 0) ? _toks.length-3 : _toks.length-2]+'/';
	    }
	    var nav = $('#navigation a');
	    var token;
	    var toks;
	    var is_used = false;
	    for (var i=0; i<nav.length; i++) {
		nav[i].innerHTML = nav[i].innerHTML.replace(/<\/?[^>]+(>|$)/g, "");
		toks = nav[i].href.split('/');
		token = toks[(toks[toks.length-1].length == 0) ? toks.length-2 : toks.length-1];
		if ( ( (token == 'main') && (href.length == 0) ) || (nav[i].href.indexOf(href) > -1) ) {
		    if (!is_used) {
			nav[i].innerHTML = '<big><b><u>'+nav[i].innerHTML+'</u></b></big>';
			is_used = true;
		    }
		}
	    }
	};
	include_js('http://media.vyperlogix.com/gae/vyperlogixcorp/js/jquery/jquery-ui-1.7.2.custom/js/jquery-1.4.2.min.js', function(){ $(document).ready(function(){ onDocumentReady(); }); });
    </script>

    {% block extra-head %}{% endblock %}
  </head>

<body>
<div id="container">
    <div id="masthead">
	<div id="flashContainer">
	</div>
    </div>
    <div id="navigation">
        <ul style="display:block">
            <li><a href="/main/">{% block navigation-home %}Home{% endblock %}</a></li>
            <li><a href="/who-we-are/">{% block navigation-who-we-are %}Who We Are{% endblock %}</a></li>
            <li><a href="/what-we-do/">{% block navigation-what-we-do %}What We Do{% endblock %}</a></li>
            <li><a href="/our-work/">{% block navigation-our-work %}Our Work{% endblock %}</a></li>
            <li><a href="/flash/">{% block navigation_flash %}Flash{% endblock %}</a></li>
            <li><a href="/android/">{% block navigation-android %}Android{% endblock %}</a></li>
            <li><a href="/platforms/">{% block navigation-platforms %}Windows, Mac and Linux{% endblock %}</a></li>
        </ul>
    </div>
    <div id="page_content">
	{% block menu-links %}{% endblock %}
	{% block page_content %}{% endblock %}
    </div>
    <div id="footer">
    </div>
</div>
<div id="__debugContainer" style="font-size: 10px; display:none;"><textarea id="__debug" rows="10" cols="80" readonly></textarea></div>
</body>
</html>
