{% extends 'base.html' %}
{% block title %}VyperCMS v2.0.1{% endblock %}

{% block extra-head %}
<script language="JavaScript1.2" type="text/javascript">
</script>
{% endblock %}

{% block css %}
{% endblock %}

{% block navigation %}
{% endblock %}

{% block navigation-contact %} style="display:none;"{% endblock %}

{% block page_content %}
<div id="column_l">
	<h2>Contact Us</h2>
	<img alt="" height="300" src="http://media.vyperlogix.com/gae/vyperlogixcorp/static/images/splash-image-VLC-03-25-2010.png" width="429" />
</div>
<div id="column_r">
	<h4>Driving Directions</h4>
	<ul>
		<li>Contact us via <a href="mailto:sales@vyperlogix.com">sales@vyperlogix.com</a>.</li>
	</ul>
</div>
{% endblock %}
