{% extends 'base.html' %}
{% block title %}Django to GAE{% endblock %}

{% block extra-head %}
{% endblock %}

{% block css %}
{% endblock %}

{% block include-css %}'http://media.vyperlogix.com/gae/vyperlogixcorp/static/vlc-20/style2.css'{% endblock %}

{% block left-content %}
  <ul id="nav">
    <li><a href="/" target="_top" title="Home">Home</a></li>
  </ul>

    <div id="news">
    <BR/>
      <h1>Python/Django 1.1.1 to Google App Engine Conversions</h1>
    </div>

    <p>We do all the work to port your Python/Django Project to the Google App Engine.</p>
    <h2>Get your Python/Django Project running in the Google App Engine today !</h2>
    <h3>Features:</h3>
	<UL>
    	<LI>Your Python/Django Project once ported to the Google App Engine will have the following features:
        	<UL>
            	<LI>Admin GUI Support - You will be able to login to the familiar Django Admin with all the features and functions therein.</LI>
            	<LI>Database backup/restore using JSON - we provide you with the ability to download JSON from your database to backup your data as well as upload JSON.</LI>
            </UL>
        </LI>
    </UL>
    <h2>We do all the work !</h2>
    <p>Once we have your Python/Django source code we will do all the work and give you back a fully configured Google App Engine Project you can upload to your Google App Engine Account.</p>
    <h2>Get a FREE Quote today !</h2>
    <UL>
    	<LI>Drop us a line today to get started, <a href="mailto:sales@vyperlogix.com?subject=What will it cost to port my Django App to the Google App Engine&body=My Django Project is attached as a ZIP file, take a look at it and let me know what you think.  Thanks again.">sales@vyperlogix.com</a></LI>
    </UL>
{% endblock %}

{% block right-content %}
    <h3>Scalability:</h3>
	<UL>
    	<LI>We can configure your Google App Engine Projects to grow beyond the typical limits placed on your Google App Engine Application.
        	<UL>
            	<LI>This allows your Google App Engine Application to use more resources than Google typically allows without having to pay Google any money at-all.</LI>
            	<LI>Build your Google App Engine Application by using Django 1.1.1 today with complete confidence in the Enterprise-level world-class App you want.</LI>
            </UL>
        </LI>
    	<LI>We can configure your Google App Engine Projects to hide your JavaScript from view.
        	<UL>
            	<LI>We have a uniquely Secure method known as SecureScript&trade; that hides your JavaScript from view.</LI>
            	<LI>SecureScript&trade; maintains the security of your JavaScript by keeping your JavaScript from being viewed by those who typically know how to view your JavaScript when it has not been secured using SecureScript&trade;.</LI>
            </UL>
        </LI>
    	<LI>We can configure your Google App Engine Projects to Secure your valuable data you want to store in the Google Cloud.
        	<UL>
            	<LI>We can configure your Django 1.1.1 Project to use encryption to hide any or all of your valuable data from being indexed by Google.</LI>
            	<LI>You can be sure nobody will ever see your valuable data once we have secured it using our unique Encryption methods.</LI>
            </UL>
        </LI>
    	<LI>We can License you a copy of our award winning Content Management System known as VyperCMS&trade;.
        	<UL>
            	<LI>VyperCMS&trade; allows you to build and deploy your content faster at a much lower cost than would be possible otherwise.</LI>
            	<LI>VyperCMS&trade; knows Social Networking.</LI>
            	<LI>VyperCMS&trade; knows Blogging.</LI>
            	<LI>VyperCMS&trade; knows Wiki.</LI>
            	<LI>VyperCMS&trade; knows performance.</LI>
            	<LI>VyperCMS&trade; knows how to leverage the Google App Engine.</LI>
            	<LI>VyperCMS&trade; knows SalesFoce.Com.</LI>
            	<LI>VyperCMS&trade; knows jQuery.</LI>
            	<LI>VyperCMS&trade; knows Flash.</LI>
            	<LI>VyperCMS&trade; knows Mobile Smart Phones.</LI>
            	<LI>VyperCMS&trade; knows YOU !</LI>
            </UL>
        </LI>
    </UL>
{% endblock %}
