{% extends 'base.html' %}
{% block title %}VyperCMS v2.0.1{% endblock %}

{% block extra-head %}
<script language="JavaScript1.2" type="text/javascript">
</script>
{% endblock %}

{% block onNoFlashInstalled %}
{% endblock %}

{% block onLoadSWFObject %}
{% endblock %}

{% block css %}
{% endblock %}

{% block navigation %}
{% endblock %}

{% block navigation-flash %} style="display:none;"{% endblock %}

{% block page_content %}
<div id="column_l">
	<h2>Flash</h2>
	<p>Cutting-edge Flash development with Flash and Flex...&nbsp;&nbsp; </p>
	<h3>Asteroids</h3>
	<p><a href="asteroids.html" target="_blank">Asteroids</a> is an age-old arcade game with a slight twist.  This version introduces movement of the ship as a result of firing the asteroid cannon.  The player must compensate for firing the primary weapon and this can cause some extra fun.</p>
	<h3>Bubbles</h3>
	<p><a href="bubbles.html" target="_blank">Bubbles</a> is a Demo that shows-off what Flash can do for physics and the art of simulation.</p>
	<p>Mouse around the bubbles and watch them move out of the way was the mouse passes by each bubble.</p>
	<h3>Arrive Alive Game</h3>
	<p><a href="cargame.html" target="_blank">Arrive Alive Game</a> is a single player game with a message.</p>
	<p>Are you smart enough to arrive alive ?</p>
	<h3>Clouds Demo</h3>
	<p><a href="clouds.html" target="_blank">Clouds Demo</a> is a physics demo.</p>
	<p>Simulation of moving clouds against a sky-blue background.</p>
	<h3>Crusader Single Player Game</h3>
	<p><a href="crusader.html" target="_blank">Crusader Game</a> is a single-player side-sroller game.</p>
	<p>Fly your jet with skill and kill the enemy.</p>
	<h3>Painter Demo</h3>
	<p><a href="ezPainterSample.html" target="_blank">Painter Demo</a> is a painter program that allow you to paint and draw.</p>
	<p>Go ahead and get creative.</p>
	<h3>FireFox Roller Demo</h3>
	<p><a href="FireFoxRoller.html" target="_blank">FireFox Roller Demo</a> is a classic FireFox Roller animation.</p>
	<p>Yeah, we do Flash too !</p>
	<h3>Grid Demo</h3>
	<p><a href="grid.html" target="_blank">Grid Demo</a> is a another physics demo.</p>
	<p>Wipe your mouse over the dots and watch them move out of the way.</p>
	<h3>Grid Maze Demo</h3>
	<p><a href="GridMaze.html" target="_blank">Grid Maze Demo</a> is a game demo.</p>
	<p>Look at how slick a maze game might look when it is locked-inside a SWF.</p>
	<h3>Ocean Demo</h3>
	<p><a href="oceanscape_4.html" target="_blank">Ocean Demo</a> is a slick under-water demo with live swimming fish.</p>
	<p>Click on a fish for fun !</p>
	<h3>Pacman (Single Player Game)</h3>
	<p><a href="pacman.html" target="_blank">Pacman Demo</a> is a remake of a standard arcade game.</p>
	<p>Play Pacman for fun !</p>
	<h3>Pong (Game Demo)</h3>
	<p><a href="pong.html" target="_blank">Pong Game Demo</a> is a remake of a standard pong game.</p>
	<p>Make that ball bounce !</p>
	<h3>RSS Twitz (Product Demo)</h3>
	<p><a href="rsstwitz-2.html" target="_blank">RSS Twitz Poduct Demo</a> is the title page for a slick SaaS under development by Vyper Logix Corp.</p>
	<p>Flash-based site under development.</p>
	<h3>Shimmering Grid (Demo)</h3>
	<p><a href="shimmeringgrid.html" target="_blank">Shimmering Grid Demo</a> is another slick physics demo.</p>
	<p>Slide your mouse over the blocks and watch them shimmer.</p>
	<h3>Simple Maze (Game Demo)</h3>
	<p><a href="simplemaze.html" target="_blank">Simple Maze Game Demo</a> is yet another slick game demo.</p>
	<h3>Spyro Graph (Demo)</h3>
	<p><a href="spyrograph2.html" target="_blank">Spyro Graph Demo</a> is a slick physics demo.</p>
	<p>Make some pretty circles.</p>
	<h3>Super Ball (Demo)</h3>
	<p><a href="superball.html" target="_blank">Super Ball Demo</a> is yet another slick physics demo.</p>
	<p>Make them balls bounce.</p>
	<h3>Towers of Hanoi (Programming Demo)</h3>
	<p><a href="towersofhanoi.html" target="_blank">Towers of Hanoi Programming Demo</a> is a slick computer science programming demo.</p>
	<p>Watch them discs fly !</p>
	<h3>Triangles (Physics Demo)</h3>
	<p><a href="triangles.html" target="_blank">Triangles Physics Demo</a> is a yet another slick physics demo.</p>
	<p>Slide your mouse over the center of the triangles and watch them fly apart !</p>
</div>
<div id="column_r">
	<center><a href="asteroids.html" target="_blank"><img src="http://media.vyperlogix.com/gae/vyperlogixcorp/static/swf/games/flash/asteroids.jpg" border="0"/><BR/>
	<B>Asteroids (Single Player Game)</B>
	</a>
	</center>
	<BR/><BR/>
	<center><a href="bubbles.html" target="_blank"><img src="http://media.vyperlogix.com/gae/vyperlogixcorp/static/swf/games/flash/bubbles.jpg" border="0"/><BR/>
	<B>Bubbles (Physics Demo)</B>
	</a>
	</center>
	<BR/><BR/>
	<center><a href="cargame.html" target="_blank"><img src="http://media.vyperlogix.com/gae/vyperlogixcorp/static/swf/games/flash/car_game.jpg" border="0"/><BR/>
	<B>Arrive Alive Game (Single Player Game)</B>
	</a>
	</center>
	<BR/><BR/>
	<center><a href="clouds.html" target="_blank"><img src="http://media.vyperlogix.com/gae/vyperlogixcorp/static/swf/games/flash/clouds.jpg" border="0"/><BR/>
	<B>Clouds (Demo)</B>
	</a>
	</center>
	<BR/><BR/>
	<center><a href="crusader.html" target="_blank"><img src="http://media.vyperlogix.com/gae/vyperlogixcorp/static/swf/games/flash/crusader.jpg" border="0"/><BR/>
	<B>Crusader (Single Player Game)</B>
	</a>
	</center>
	<BR/><BR/>
	<center><a href="ezPainterSample.html" target="_blank"><img src="http://media.vyperlogix.com/gae/vyperlogixcorp/static/swf/games/flash/ezPainterSample.jpg" border="0"/><BR/>
	<B>Painter (Demo)</B>
	</a>
	</center>
	<BR/><BR/>
	<center><a href="FireFoxRoller.html" target="_blank"><img src="http://media.vyperlogix.com/gae/vyperlogixcorp/static/swf/games/flash/FireFoxRoller.jpg" border="0"/><BR/>
	<B>FireFox Roller (Demo)</B>
	</a>
	</center>
	<BR/><BR/>
	<center><a href="grid.html" target="_blank"><img src="http://media.vyperlogix.com/gae/vyperlogixcorp/static/swf/games/flash/grid.jpg" border="0"/><BR/>
	<B>Grid (Demo)</B>
	</a>
	</center>
	<BR/><BR/>
	<center><a href="GridMaze.html" target="_blank"><img src="http://media.vyperlogix.com/gae/vyperlogixcorp/static/swf/games/flash/GridMaze.jpg" border="0"/><BR/>
	<B>Grid Maze (Demo)</B>
	</a>
	</center>
	<BR/><BR/>
	<center><a href="oceanscape_4.html" target="_blank"><img src="http://media.vyperlogix.com/gae/vyperlogixcorp/static/swf/games/flash/oceanscape_4.jpg" border="0"/><BR/>
	<B>Ocean (Demo)</B>
	</a>
	</center>
	<BR/><BR/>
	<center><a href="pacman.html" target="_blank"><img src="http://media.vyperlogix.com/gae/vyperlogixcorp/static/swf/games/flash/pacman.jpg" border="0"/><BR/>
	<B>Pacman (Single Player Game)</B>
	</a>
	</center>
	<BR/><BR/>
	<center><a href="pong.html" target="_blank"><img src="http://media.vyperlogix.com/gae/vyperlogixcorp/static/swf/games/flash/pong.jpg" border="0"/><BR/>
	<B>Pong (Game Demo)</B>
	</a>
	</center>
	<BR/><BR/>
	<center><a href="rsstwitz-2.html" target="_blank"><img src="http://media.vyperlogix.com/gae/vyperlogixcorp/static/swf/games/flash/rsstwitz-2.jpg" border="0"/><BR/>
	<B>RSS Twitz (Product Demo)</B>
	</a>
	</center>
	<BR/><BR/>
	<center><a href="shimmeringgrid.html" target="_blank"><img src="http://media.vyperlogix.com/gae/vyperlogixcorp/static/swf/games/flash/shimmeringgrid.jpg" border="0"/><BR/>
	<B>Shimmering Grid (Physics Demo)</B>
	</a>
	</center>
	<BR/><BR/>
	<center><a href="simplemaze.html" target="_blank"><img src="http://media.vyperlogix.com/gae/vyperlogixcorp/static/swf/games/flash/simplemaze.jpg" border="0"/><BR/>
	<B>Simple Maze (Game Demo)</B>
	</a>
	</center>
	<BR/><BR/>
	<center><a href="spyrograph2.html" target="_blank"><img src="http://media.vyperlogix.com/gae/vyperlogixcorp/static/swf/games/flash/spyrograph2.jpg" border="0"/><BR/>
	<B>Spyro Graph (Demo)</B>
	</a>
	</center>
	<BR/><BR/>
	<center><a href="superball.html" target="_blank"><img src="http://media.vyperlogix.com/gae/vyperlogixcorp/static/swf/games/flash/superball.jpg" border="0"/><BR/>
	<B>Super Ball (Physics Demo)</B>
	</a>
	</center>
	<BR/><BR/>
	<center><a href="towersofhanoi.html" target="_blank"><img src="http://media.vyperlogix.com/gae/vyperlogixcorp/static/swf/games/flash/towersofhanoi.jpg" border="0"/><BR/>
	<B>Towers of Hanoi (Programming Demo)</B>
	</a>
	</center>
	<BR/><BR/>
	<center><a href="triangles.html" target="_blank"><img src="http://media.vyperlogix.com/gae/vyperlogixcorp/static/swf/games/flash/triangles.jpg" border="0"/><BR/>
	<B>Triangles (Physics Demo)</B>
	</a>
	</center>
	<BR/><BR/>
</div>
{% endblock %}
