{% extends 'base.html' %}
{% block title %}VyperCMS v2.0.1{% endblock %}

{% block extra-head %}
<script language="JavaScript1.2" type="text/javascript">
</script>
{% endblock %}

{% block css %}
{% endblock %}

{% block navigation %}
{% endblock %}

{% block page_content %}
<div id="column_l">
	<h1>Vyper Logix Corp - Tomorrow&#39;s Innovation Today !</h1>
	<p>Vyper Logix Corp is a forward-thinking California Corporation 
	dedicated to tomorrow&#39;s innovation today.</p>
	<h2>Desktop Software Development (Windows, Mac and Linux)</h2>
	<p>Vyper Logix Corp develops software for your Windows, Mac and Linux Desktop using state-of-the-art software development techniques and tools.</p>
	<h2>Android Software Development</h2>
	<p>Vyper Logix Corp develops software for your Android Devices (phones and tablets).</p>
	<h2>iPhone Software Development</h2>
	<p>Vyper Logix Corp develops software for your iPhone Devices (iPhone 3, iPhone 4, iPad and iPad 2).</p>
	<h2>Cloud Software Development</h2>
	<p>Vyper Logix Corp develops software for the Google Cloud and Amazon AWS.</p>
	<h2>Database Development</h2>
	<p>Vyper Logix Corp develops databases for MySQL, SQL Server, Oracle and Postgres.</p>
	<h2>Python Software Development</h2>
	<p>Vyper Logix Corp develops software based on the Python Language.</p>
	<h2>Adobe AIR Software Development</h2>
	<p>Vyper Logix Corp develops Adobe AIR software products.</p>
</div>
<div id="column_r">
	<img alt="" height="213" src="http://media.vyperlogix.com/gae/vyperlogixcorp/static/vlc510/msfp_smbus1_02.jpg" width="320" />
	<p>Get to know Vyper Logix Corp today.</p>
	<p>Vyper Logix Corp is an equal opportunity employer.</p>
</div>
{% endblock %}
