{% extends 'base.html' %}
{% block title %}VyperCMS v2.0.1{% endblock %}

{% block extra-head %}
<script language="JavaScript1.2" type="text/javascript">
</script>
{% endblock %}

{% block css %}
{% endblock %}

{% block navigation %}
{% endblock %}

{% block navigation-news %} style="display:none;"{% endblock %}

{% block page_content %}
<div id="column_l">
	<h2>News</h2>
	<p>Cutting-edge development...&nbsp;&nbsp; </p>
	<h3>Top Stories</h3>
	<ul>
		<li><span class="style_bold">Vyper Logix Corp deploys a new look 
		and feel</span><br />
		<span class="style_italic">New Look and Feel for our Website</span><br />
		Deployed in the Google Cloud - check it out.</li>
	</ul>
</div>
<div id="column_r">
	<h4>Press Releases</h4>
	<ul>
		<li>Vyper Logix Corp release a new look and feel for our 
		cutting-edge website.</li>
	</ul>
</div>
{% endblock %}
