{% extends 'main.html' %}

{% block page_content %}
<div id="column_l">
	<h1>Our Work</h1>
	<p>Vyper Logix Corp can reduce the cost of development to very low levels while maintaining the highest quality.</p>
	<h2>Windows, Mac and Linux Desktops</h2>
	<p>Check-out the product we produced for <a href="http://AmazingFacts.Org" target="_blank">AmazingFacts.Org</a>; fully functional prototype in 30 hours, completely polished product in 4 months for Windows and Mac in English and Spanish.</p>
	<h2>Android Devices</h2>
	<p>See our <a href="http://python2.wordpress.com/android/" target="_blank">Android Application Samples</a> featuring state-of-the-art software packaging techniques that leverage the full capabilities of the Android platform.</p>
	<h2>iPhone Devices</h2>
	<p>We have the ability to develop and deploy native applications for the Apple App Store.</p>
	<h2>Google Cloud &amp; Amazon AWS</h2>
	<p>Every product or service we produce has the ability to leverage the power of the Cloud through the use of ready-made frameworks.</p>
	<h2>Databases</h2>
	<p>Vyper Logix Corp develops high-capacity relational and non-relational databases and as we all know hackers can easily crack their way into your typical relational database unless care is taken to guard against such activities.</p>
	<h2>Python</h2>
	<p>Vyper Logix Corp leverages the power and flexibility of Python whenever possible because, as we know, Python rocks when used by those who know how to make it work like no other language can.</p>
	<h2>Adobe AIR</h2>
	<p>Adobe AIR allows applications and services to be developed rapidly for Windows, Mac and Linux as well as Android and the iPhone.</p>
</div>
<div id="column_r">
   <img src="http://media.vyperlogix.com/gae/vyperlogixcorp/static/vlc510/splash-image-VLC-03-25-2010.png"/>
</div>
{% endblock %}
