{% extends 'main.html' %}

{% block page_content %}
<div id="column_l">
	<h1>Platform Solutions for Windows, Mac and Linux</h1>
	<p>Vyper Logix Corp can rapidly develop RIA for the Desktop, everybody's Desktop whether it be Windows, Mac OS/X or Linux - we do it all !</p>
	<h2>Project Samples</h2>
	<p><a href="/platforms/chartingdemo.html" target="_blank">Charting Demo and Stress Test</a> showing just how much data Adobe AIR can handle via the Flash Player.</p>
	<p><a href="/platforms/polymorphical.html" target="_blank">JavaScript Polymorphic Browser</a> for those who have to code Object-Oriented JavaScript.</p>
	<p><a href="/platforms/pdfxporter.html" target="_blank">Bank Statement PDF Xporter</a> for Tax-Payers and others who want to get the largest Tax Refund possible.</p>
	<p style="display:none;"><a href="/platforms/vyperlogos.html" target="_blank">Tired of looking at QR Codes ?</a>.</p>
</div>
<div id="column_r">
</div>
{% endblock %}
