{% extends 'base.html' %}
{% block title %}VyperCMS v2.0.1{% endblock %}

{% block extra-head %}
<script language="JavaScript1.2" type="text/javascript">
</script>
{% endblock %}

{% block css %}
{% endblock %}

{% block navigation %}
{% endblock %}

{% block navigation-products %} style="display:none;"{% endblock %}

{% block page_content %}
<div id="column_l">
	<h2>Products</h2>
	<h3>Vyper-Cloud&trade; OS</h3>
	&nbsp;<p>Product Description</p>
    <p>Vyper-Cloud&trade; is powered by Ubuntu Linux, Python 2.5 and Django 1.2.</p>
    <p>You can read more about Vyper-Cloud&trade; using the links below:</p>
	<p><a href="http://www.scribd.com/full/32092430?access_key=key-1h4awjs13670awku31cr" target="_blank">VyperCloud&trade;</a>
	<p><a href="http://www.scribd.com/full/32098161?access_key=key-469jtnbhfuyel41y0q4" target="_blank">VyperCloud&trade; Executive Summary</a>
	<p><a href="http://www.scribd.com/full/32098509?access_key=key-2j9xnp6mwq3tma12pxk5" target="_blank">US Patent # 20080222267</a>
	</p>
	<BR/><BR/><BR/>
	<h3>Vyper-Ruby&trade;</h3>
	&nbsp;<p>Product Description</p>
	<p>Ruby on Rails Optimizations for Apache 2 Web Server.
	</p>
</div>
<div id="column_r">
	<h4>Related resources</h4>
	<ul>
		<li>Ruby on Rails Optimization Charts.</li>
	</ul>
</div>
{% endblock %}
