{% extends 'base.html' %}
{% block title %}VyperCMS v2.0.1{% endblock %}

{% block extra-head %}
<script language="JavaScript1.2" type="text/javascript">
</script>
{% endblock %}

{% block css %}
{% endblock %}

{% block navigation %}
{% endblock %}

{% block navigation-services %} style="display:none;"{% endblock %}

{% block page_content %}
<div id="column_l">
	<h2>Services</h2>
	<h3>Consulting</h3>
	<h3>Web Development</h3>
	<h3>Database Development</h3>
	<h3>Multi-tier Development</h3>
	<h3>Cloud Development</h3>
	<h3>Google App Engine Development</h3>
</div>
<div id="column_r">
	<h4>Related resources</h4>
	<ul>
		<li>Contact <a href="mailto:sales@vyperlogix.com">
		sales@vyperlogix.com</a> for more.</li>
	</ul>
</div>
{% endblock %}
