{% extends 'main.html' %}

{% block page_content %}
<div id="column_l">
	<h1>What We Do</h1>
	<p>Vyper Logix Corp does Software Development and Entertainment for the Internet Age.</p>
	<h2>Desktop Software Development (Windows, Mac and Linux)</h2>
	<p>Vyper Logix Corp can rapidly develop RIA for the Desktop, everybody's Desktop whether it be Windows, Mac OS/X or Linux - we do it all !</p>
	<h2>Android Software Development</h2>
	<p>Vyper Logix Corp can rapidly develop and deploy Android Apps for any Android version and any Android Device.</p>
	<h2>iPhone Software Development</h2>
	<p>Vyper Logix Corp rapidly develops applications and services for all Apple iPhone Devices (iPhone 3, iPhone 4, iPad and iPad 2).</p>
	<h2>Cloud Software Development</h2>
	<p>Vyper Logix Corp rapidly develops software and services for the Google Cloud and Amazon AWS.</p>
	<h2>Database Development</h2>
	<p>Vyper Logix Corp rapidly develops software and databases for MySQL, SQL Server, Oracle and Postgres.</p>
	<h2>Python Software Development</h2>
	<p>Vyper Logix Corp rapidly develops software based on the Python Language for Windows, Mac OS/X, Linux and Android - sadly Apple does not allow Python to be used on their devices.</p>
	<h2>Adobe AIR Software Development</h2>
	<p>Vyper Logix Corp rapdily develops software products that leverage the Adobe AIR framework.</p>
	<h1>Vyper Logix Corp has pre-made frameworks for every solution...</h1>
	<p>Leverage the power of code reuse by engaging Vyper Logix Corp to get your next software product online quickly.  Let us manage the code while you manage the profits.</p>
</div>
<div id="column_r">
   <img src="http://media.vyperlogix.com/gae/vyperlogixcorp/static/vlc510/splash-image-VLC-03-25-2010.png"/>
</div>
{% endblock %}
