{% extends 'main.html' %}

{% block page_content %}
<div id="column_l">
	<h1>Who We Are</h1>
	<p>Vyper Logix Corp is a California Corporation with offices in San Francisco, Los Angeles and Beaverton Oregon.</p>
	<h2>Founded 2008</h2>
	<p>Founded in 2008, owns and extends Hierarchical Applications Limited which as founded in 1990.</p>
	<h3>30+ years of Software Development Experience</h3>
	<p>Vyper Logix Corp has the vision and ability to get the job done for you faster than any other software development studio at a lower cost that you might think possible.</p>
	<h2>Our Home</h2>
	<p>Our Home is in the Greater San Francisco Bay Area and even though we have offices in Beaverton OR and Los Angeles our home is and always will be in the San Francisco Bay Area.</p>
	<h2>Our Passion</h2>
	<p>We are passionate about the software !</p>
	<p>If you are looking for a bunch of guys and gals who know how to make your project come together faster, quicker, better, cheaper then YOU want US !</p>
	<p>WE know how to make software sing and hum like it's nobody's business.</p>
	<p>We know how to make Ruby on Rails use faster rails !</p>
	<p>We know how to make Python slither like the bug bad preditor it is !</p>
	<h2>Our Promise</h2>
	<p>We promise our customers we will do our dead-level best at all times when working on their software.</p>
	<p>If you let us do our thing we will get your software to you faster than you ever thought possible at a lower cost than you expected to pay.</p>
	<h2>Our People</h2>
	<p>Our people are the best of the best.  Everyone on our staff is a very strong individual contributor each able to get complete projects up and running quickly.</p>
</div>
<div id="column_r">
   <img src="http://media.vyperlogix.com/gae/vyperlogixcorp/static/vlc510/splash-image-VLC-03-25-2010.png"/>
</div>
{% endblock %}
