<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html><head>

	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<title>PDFxporter™ {{ the_title }} {{ current_date }}</title>
	<link rel="stylesheet" type="text/css" href="http://media.pyeggs.com/pyeggs/media/(c).Copyright_VyperLogixCorp4.css">
	<link rel="stylesheet" type="text/css" href="http://media.pyeggs.com/pyeggs/media/(c).Copyright_VyperLogixCorp.css">
	<!--[if IE]>
		<link rel="stylesheet" type="text/css" href="http://media.pyeggs.com/pyeggs/media/(c).Copyright_VyperLogixCorp3.css">
	<![endif]-->
	<link rel="icon" href="http://media.pyeggs.com/favicon.ico" type="image/gif">
	<link rel="shortcut icon" href="http://media.pyeggs.com/favicon.ico" type="image/gif">
	
	<link type="text/css" rel="stylesheet" href="http://media.pyeggs.com/pyeggs/media/(c).Copyright_VyperLogixCorp2.css">
	<!--[if IE]>
		<link rel="stylesheet" type="text/css" href="http://media.pyeggs.com/pyeggs/media/(c).Copyright_VyperLogixCorp3.css">
	<![endif]-->
</head><body>
	<div id="site_container">
		<div class="basic_info">
			Vyper Logix Corp, Makers of Premier Python Products |
			<a href="mailto:support@vyperlogix.com">support@vyperlogix.com</a>		</div>
			
	  <div id="site_body">
			
		<iframe src="/tabs/0" scrolling="auto" frameborder="0" height="100" width="100%" name="tabs_content"></iframe>
	<div class="content">
<ul class="testimonials last_content_element">
	<table width="100%">
    	<tr>
        	<td valign="top">
            	<img src="http://media.pyeggs.com/images/pdfexporter2.png">
                <br/>
                <li class="quote">
                    <blockquote><div>PDFxporter™ is compatible with PDF Bank Statements from Wells Fargo and Citibank as well as many others.</div></blockquote>
                    <cite>PDFxporter™ will be made available for downloads shortly for Windows and Linux... Please return to check on our development progress often.</cite>
                </li>
            </td>
        	<td valign="top">
                <li class="quote">
                    <blockquote><div>“PDFxporter™ allows you to Export your Financial Information from those PDF Bank Statements you download from your bank.”</div></blockquote>
                </li>
                <li class="quote">
                    <blockquote><div>“PDFxporter™ Exports data from PDF Bank Statements to Microsoft Excel and many more 3rd party programs.”</div></blockquote>
                    <cite>PDFxporter™ allows you to document your IRS Tax Deductions and take control of your personal financial information.</cite>
                </li>
            </td>
        </tr>
    </table>
</ul>
	</div>
		</div>
<div id="site_footer">
			
				<div class="holder">
		<div class="block first">
			<h6>About</h6>
			<p>PDFxporter™ gives you access to the data found in your PDF Bank Statements.</p>
		</div>

		<div class="legal block">
			<h6>Legal</h6>
			<p><a href="/">PDFxporter™</a> is a product of <a href="http://www.vyperlogix.com/" target="_blank">Vyper Logix Corp</a>.</p>
			<p>"PDFxporter" and "VyperLogix" are trademarks of <a href="http://www.vyperlogix.com/" target="_blank">Vyper Logix Corp</a>.
		  All rights reserved.</p>
			<p>Everything on this website is copyright © <a href="http://www.vyperlogix.com/" target="_blank">Vyper Logix Corp</a>, unless explicitly stated otherwise.</p>
		</div>

		<div class="contact block last">
			<h6>Contact</h6>
			<p>Vyper Logix Corp, Makers of Premier Python Products, specializes in offering top of
		  the line Python products and services to high profile clients.</p>
			
			<p>For business inquiries, you can contact us via
			<a href="mailto:support@vyperlogix.com">support@vyperlogix.com</a></p>
		</div>
	</div>

		</div>
	</div>
</body></html>