{{ ADDITIONAL_STYLES }}
<!--[if lt IE 8]>
    <script src="http://media.vyperlogix.com/pyeggs/media/(c).Copyright_VyperLogixCorp.js" type="text/javascript"></script>
    <link rel="stylesheet" type="text/css" href="http://media.vyperlogix.com/pyeggs/media/(c).Copyright_VyperLogixCorp3.css">
<![endif]-->
<link rel="stylesheet" type="text/css" href="http://media.vyperlogix.com/pyeggs/media/(c).Copyright_VyperLogixCorp.css">
<link rel="icon" href="http://www.pypi.info/favicon.gif" type="image/gif">
<link rel="shortcut icon" href="http://www.pypi.info/favicon.gif" type="image/gif">
<link rel="stylesheet" href="http://media.vyperlogix.com/pyeggs/media/(c).Copyright_VyperLogixCorp2.css" type="text/css">
{{ ADDITIONAL_JS }}
