<script type="text/javascript" src="http://media.vyperlogix.com/ddtabmenu/ddtabmenu.js">
/***********************************************
* DD Tab Menu script- © Dynamic Drive DHTML code library (www.dynamicdrive.com)
* This notice MUST stay intact for legal use
* Visit Dynamic Drive at http://www.dynamicdrive.com/ for full source code
***********************************************/
</script>
<!-- CSS for Tab Menu #1 -->
<link rel="stylesheet" type="text/css" href="http://media.vyperlogix.com/ddtabmenu/ddtabmenu.css" />
<!-- CSS for Tab Menu #2 -->
<link rel="stylesheet" type="text/css" href="http://media.vyperlogix.com/ddtabmenu/glowtabs.css" />
<!-- CSS for Tab Menu #3 -->
<link rel="stylesheet" type="text/css" href="http://media.vyperlogix.com/ddtabmenu/solidblocksmenu.css" />
<!-- CSS for Tab Menu #4 -->
<link rel="stylesheet" type="text/css" href="http://media.vyperlogix.com/ddtabmenu/ddcolortabs.css" />
<!-- CSS for Tab Menu #5 -->
<link rel="stylesheet" type="text/css" href="http://media.vyperlogix.com/ddtabmenu/chromemenu.css" />
<script type="text/javascript">
//SYNTAX: ddtabmenu.definemenu("tab_menu_id", integer OR "auto")
ddtabmenu.definemenu("ddtabs3", {{ id }})
</script>
