<table width="100%">
	<tr>
        <td>
            <a href="/vyper-proxy/" target="_top">Vyper-Proxy&trade;</a>
        </td>
    </tr>
	<tr>
    	<td>
            <blockquote><div>These domain names cannot be used when you <a href="/vyper-proxy/download/" target="_top">Register to Download</a> Products from this site.</div>
            <cite>Always use your Real Internet Email Address when downloading products from this site.</cite>
            </blockquote>
        </td>
    </tr>
	<tr>
    	<td>
        	{{ FREEHOST_DOMAINS }}
        </td>
    </tr>
</table>
