<table width="100%">
	<tr>
    	<td>
            <h2 class="first_content_element">FREE Vyper-CMS&trade; Web Site Activation</h2>
        </td>
    </tr>
	<tr>
    	<td>
            <fieldset>
Your FREE Vyper-CMS&trade; Web Site Account has been Activated.<br/><br/>

You may begin using your FREE Vyper-CMS&trade; Web Site whenever you wish by cruising to <a href="http://www.vyperlogix.com" target="_blank">www.vyperlogix.com</a> and Login and begin building your site.<br/><br/>
You may Login now, if you wish, by clicking on the "Login" button on the site menu.  Your password has been emailed to you and it should arrive shortly.
            </fieldset>
        </td>
    </tr>
</table>
