<table width="100%">
	<tr>
    	<td>
            <h2 class="first_content_element">FREE Vyper-CMS&trade; Web Site Account Activation</h2>
        </td>
    </tr>
	<tr>
    	<td>
            <fieldset>
You have already Activated your FREE Vyper-CMS&trade; Web Site Account.<br/><br/>

You may begin using your FREE Vyper-CMS&trade; Web Site whenever you wish by cruising to <a href="http://www.vyperlogix.com" target="_blank">www.vyperlogix.com</a> and Login and begin building your site.<br/><br/>
            </fieldset>
        </td>
    </tr>
</table>
