<div class=Section1>

<h3>New User Password Sent</h3>

<p class=MsoNormal style='line-height:normal'><span style='font-size:10.0pt;
font-family:"Times New Roman","serif"'>Access to this site as a Registered User
will be granted access for Active Members <u>only</u>.</span></p>

<p class=MsoNormal style='line-height:normal'><span style='font-size:10.0pt;
font-family:"Times New Roman","serif"'>Your new password has been sent to your email address.  You'd better go run and check to see if it has arrives yet...</span></p>

<ul type=disc>
 <li class=MsoNormal style='line-height:normal'><span style='font-size:10.0pt;
     font-family:"Times New Roman","serif"'><a
     href="/user/login/">Login? </a></span></li>
 <li class=MsoNormal style='line-height:normal'><span style='font-size:10.0pt;
     font-family:"Times New Roman","serif"'><a
     href="/user/register/">Get Registered ? </a></span></li>
</ul>

</div>
