<style>
	#error_message {
		color: red;
		font-weight: bold;
		background-color: white;
	}
</style>

{% block content %}

<h1>Vyper-CMS&trade; Password Retrieval</h1>
{% if form.has_errors %}
    <p id="error_message">Your password could not be retrieved.  Please try again.</p>
{% endif %}
<p id="error_message">{{ ERROR_MESSAGE }}</p>

<form method="post" action="{{ FORM_ACTION }}" enctype="application/x-www-form-urlencoded">
<table width="100%">
<tr>
	<td colspan="3">You are about Login to a Secure SSL Site.  If you encounter any browser related issues in connection with our self-signed SSL Cert you may, if you are using FireFox 3.0.x, <a href="http://www.vyperlogix.com/data/certs/cacert.der" target="_blank" title="Install our CA Cert">click here</a> or <a href="http://www.vyperlogix.com/data/firefox/addons/remember_certificate_exception-0.8.0-fx.xpi" target="_blank" title="Install this FireFox Extension to by-pass SSL problems.">click here</a> to resolve those issues.  We use self-signed SSL Certs to reduce our operating expenses however we do want your private information to remain private.</td>
</tr>
<tr><td width="*"><label for="id_username">Username:</label></td><td width="*">{{ form.username }}</td><td width="*" align="left"><small>(Use your valid Internet Email Address, the Email Address you used during Registration.)</small></td></tr>
<tr><td colspan="2" width="50%">{{ CAPTCHA }}</td><td width="*" valign="top"><input id="id_btn_login" type="submit" value="Retrieve Password" /></td></tr>
<tr>
	<td colspan="3">
    	<small>A New Password will be sent to your Email Address.  Your Username is the Email Address you used during Registration.</small>
    </td>
</tr>
</table>
<input type="hidden" name="next" value="{{ next }}" />
</form>

{% endblock %}