{% extends 'base.html' %}
{% block title %}{% endblock %}

{% block extra-head %}
<script language="JavaScript1.2" type="text/javascript">
</script>
{% endblock %}

{% block css %}{% endblock %}

{% block include-css %}'/static/main.css'{% endblock %}

{% block extra-content %}
{% endblock %}

{% block container %}
            <table id="container" width="1000" border="0" align="center" cellpadding="0" cellspacing="0">
              <tr>
                <td align="left" valign="top" id="main_content_holder">
		    <div class="container_12 container_cloud">
						
		      <h1 class="pagetitle">Unittests</h1>
							
		      <p>&nbsp;</p>
		      <p>See the unittests.py file in the github repo <a href="https://github.com/raychorn/knowu" target="_blank">https://github.com/raychorn/knowu</a>.</p>
		  </div>
                </td>
              </tr>
            </table>   
{% endblock %}