<table width=100%>
	<tr>
		<td>
			<table>
				<tr>
					<td>
						<img src={{ MEDIA_URL }}new/images/terms-of-service.jpg>
					</td>
					<td>
						<small>You hereby agree to be bound by our Terms of Service which states all code uploaded to our servers becomes the property of Vyper Logix Corp to be used as we see fit going forward.  You also hereby agree that Vyper Logix Corp. cannot be held responsible for the quality of the Python Egg you receive back from our server and that you will hold Vyper Logix Corp. harmless in case of damage or unsuitability for any purpose whatsoever as a result of using whatever you get back from our servers upon completion of processing.
						</small>
					</td>
				</tr>
			</table>
		</td>
	</tr>
</table>
