<ul id="menu">
    <li><a href="/">Home</a></li>
</ul>

<h1>Fibonacci</h1>

<form>
	<label>Enter a Number:</label>&nbsp;<input id="numValue" name="numValue" type="text"/>&nbsp;(This is the number of Fibonacci results you want to see as XML or otherwise; try to keep the number under or equal to 1000.)
    <br/>
    <label>Render XML:</label>&nbsp;<input id="numXML" name="numXML" type="checkbox" value="XML" title="Render XML"/>
    <br/>
    <input type="button" value="SUBMIT" onClick="handle_submit_button();"/>
</form>
